{% extends "layout/lay_1col.html" %}

{% block www_hd_title %}{% trans "Signup" %}{% endblock www_hd_title %}

{% block www_content_box_1 %}

<div class="group_outter_box center form_box_centered">
    <div class="title">Page Not Found ( 404 )<i class="fa fa-warning-sign pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                <span class="system_wide_error_image"><img src="{{STATIC_URL}}img/kangaroo.png"></span>
                <span class="system_wide_error_text">The page you're looking for isn't here!</span>
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_1 %}
