.navigation {
  background-color: #F1FAEE;
  padding: 30px;
  position: sticky;
  top: 20px;
  border-radius: 10px 10px;
  /* Rounded corners on the right-hand side */
  width: auto;
  /* Fit to content width */ }

.navigation a,
.navigation .uk-nav-default > li > a {
  color: #1D3557;
  text-decoration: none;
  display: block;
  padding: 5px 15px !important;
  position: relative;
  font-weight: normal;
  font-size: medium; }

.navigation a.active,
.navigation .uk-nav-default > li > a.active {
  font-weight: bold;
  color: #1D3557; }
  .navigation a.active:hover,
  .navigation .uk-nav-default > li > a.active:hover {
    color: #101e31 !important; }

.navigation a.active::before {
  content: '';
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 75%;
  width: 4px;
  background-color: #1D3557; }

.content {
  padding: 40px; }

.section {
  padding-bottom: 40px; }

.static-content-title {
  font-weight: bold;
  margin: unset; }

.content p, .content ul {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #000000; }

.content ol, .content li {
  margin-top: 0;
  color: #000000; }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-top: 1.25rem !important;
  margin-bottom: 0.5rem !important; }

.content h1 {
  font-size: 2.5rem; }

.content h2 {
  font-size: 2rem; }

.content h3 {
  font-size: 1.5rem; }

.content h4 {
  font-size: 1.25rem; }

.content h5 {
  font-size: 1rem; }

.content h6 {
  font-size: 0.75rem; }

.content li:first-of-type,
.content p:first-of-type {
  margin-top: 0; }

.content ul:first-of-type {
  margin-top: 0.5rem; }

.content li:last-of-type {
  margin-bottom: 0; }

/* a series of indentation for the side nav headers */
.indent-h1 a {
  color: #1D3557 !important; }

.indent-h2 a {
  color: #1D3557 !important; }

.indent-h3 a {
  color: #1D3557 !important;
  margin-left: 1.5rem; }

.indent-h4 a {
  color: #1D3557 !important;
  margin-left: 2.5rem; }

.content ul, .content ol {
  padding-left: 1.75rem !important; }
  .content ul li, .content ol li {
    margin-bottom: 0.5rem !important; }

.content ul {
  list-style: disc !important; }

.content ol {
  list-style: decimal !important; }

.content a {
  color: #E60000;
  text-decoration: underline; }

blockquote {
  border-left: 4px solid #457B9D !important;
  padding-left: 1rem !important;
  color: #333333 !important;
  margin: 1rem 0 !important; }

/* prevent the sidebar from overlapping content */
.sidebar-sticky {
  z-index: 0; }
