/* Inverse the color for content pages */
.menu-item {
  color: #1d3557 !important;
  text-decoration: none !important;
  transition: color 0.1s ease !important; }
  .menu-item:hover {
    color: rgba(29, 53, 87, 0.8) !important; }
  .menu-item:active {
    color: rgba(29, 53, 87, 0.6) !important; }

.brand-logo {
  font-size: large;
  color: #1D3557 !important;
  font-weight: bold; }
  .brand-logo:hover {
    color: rgba(29, 53, 87, 0.8) !important; }
  .brand-logo:active {
    color: rgba(29, 53, 87, 0.6) !important; }

.brand-tagline {
  font-size: small;
  color: #1D3557; }

.brand-readux {
  color: #1D3557; }
  .brand-readux:hover {
    color: rgba(29, 53, 87, 0.8) !important; }
  .brand-readux:active {
    color: rgba(29, 53, 87, 0.6) !important; }

.brand-inline {
  font-size: small;
  font-weight: normal;
  text-decoration: underline !important; }

.uk-navbar-container {
  position: relative; }
