

{% with request|footer_menu as menu %}
    <ul class="nav nav-pills">
        {% for item in menu %}
            <li class="pull-left">
                <a class="link {% if item.selected %} disabled {% endif %}" href="{{item.url}}">{{item.name}}</a>
            </li>
        {% endfor %}

        <li class="pull-right"><a href="/">&copy; 2012-{% now "Y" %} <strong>{{SITE_DOMAIN|lower}}</strong></a></li>
    </ul>
    <form id='csrf_post_form' action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">{% csrf_token %}</form>
{% endwith %}




