<link rel="stylesheet" type="text/css" media="screen" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/smoothness/jquery-ui.css?">
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}common/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}common/bootstrap/css/bootstrap-responsive.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}common/font-awesome/css/font-awesome.min.css">
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}common/font-awesome/css/font-awesome-ie7.min.css"><![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}common/google/css/prettify.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}common/jquery/chosen/chosen.css">
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/style.css">