<script>

    var _geocoder = null;
    var _gmap = null;
    var _item_list = [];
    var _marker_list = [];
    var _pending_list = [];
    var _scheduledRequest = null;
    var _save_location_ajax_url = "{% url 'profileware_update_location' %}";
    var _map_search_ajax_url = "{% url 'portal_member_search_map_ajax_view' %}";
    var _latlng_accurancy = 4; // decimal places (4 = 11.1 m, 3 = 111 m, 2 = 1.11 km, 1 = 11.1 km, 0 = 111 km) 
    var _iDoccument_load = true; // initial page load
    
    var _map_iReverseLookupReqrd = false; // requrired on the first ever call
    var _map_iCountryCode = '';
    var _map_iCountryName = '';
    var _map_iLocation = '';
    var _map_iZoom = 2;
    var _map_iLat = 0.0;
    var _map_iLng = 0.0;

    var _map_centerOfGlobeLat = 28.3608;
    var _map_centerOfGlobeLng = 81.5094;

    var _map_minZoom = 2;
    var _map_maxZoom = 12;
    var _map_lastZoom = 2;

    var _map_lastCenter = null;
    var _map_lastBoundary = null;
    
    var geoip_country_code = '{{request|geo_country_code}}';
    var geoip_country_name = '{{request|geo_country_name}}';

    var element_id_reset_link = '#id_map_form_reset_link';
    var element_id_reset_ajax_wheel = '#id_map_form_reset_ajax_wheel';
    var element_id_list_view_button = '#id_list_view_button';
    var element_id_list_view_ajax_wheel = '#id_list_view_ajax_wheel';
    var element_id_map_error = '#map_error';
    var element_id_text_search = '#id_keywords';
    var element_id_country_code = '#id_country';
    var element_id_country_code_selected = '#id_country option:selected';
    var element_name_location_address = 'id_location';
    var element_id_location_address = '#'+element_name_location_address;
    var element_name_visible_temp_location_address = 'id_location_text_box';
    var element_id_visible_temp_location_address = '#'+element_name_visible_temp_location_address;
    var element_id_zoom = '#id_zoom';
    var element_id_lat = '#id_lat';
    var element_id_lng = '#id_lng';
    var element_id_ne_lat = '#id_ne_lat';
    var element_id_ne_lng = '#id_ne_lng';
    var element_id_sw_lat = '#id_sw_lat';
    var element_id_sw_lng = '#id_sw_lng';
    var element_name_map_canvas = 'map_canvas';
    var element_id_map_canvas = '#'+element_name_map_canvas;
    var element_id_map_location_map_form = '#location_map_form';
    var element_location_address_update_save = '#profile_location_update_btn';
    var element_id_map_search_form = '#search_map_form';
    var element_id_map_search_form_save_reminder = '#form_not_saved_yet'; // reminder that location needs to be saved
    var element_id_map_search_item_result = '#map_search_result_display_area';
    var element_id_map_search_item_count_big = '#map_search_result_count_big';
    var element_id_map_search_item_count_small = '#map_search_result_count_small';
    var element_id_map_search_crosshair = '#map_search_crosshair';
    var element_id_submit_button_ajax_loader = '#submit_button_ajax_loader';

    var class_popover_li = '.popover_item_li';
    var element_id_marker_item_list_wildcard = 'marker_item_list_';
    var _map_location_marker_image = '{{ SITE_COMMON_DOWNLOADABLE_STATIC_URL }}images/icons/bighouse_white.png';
    var _map_location_marker_image_hover = '{{ SITE_COMMON_DOWNLOADABLE_STATIC_URL }}images/icons/bighouse_red.png';
    var _map_marker_image = '{{ SITE_COMMON_DOWNLOADABLE_STATIC_URL }}images/icons/kangaroo_marker_red_bg_24.png';
    var _map_marker_image_hover = '{{ SITE_COMMON_DOWNLOADABLE_STATIC_URL }}images/icons/kangaroo_marker_white_bg_24.png';

</script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&language=en&sensor=false&libraries=places&sensor=false"></script>
<script type="text/javascript" src="{{ STATIC_URL }}common/js/geo/geo_utils.js"></script>



