{% extends "eultheme/downtime_base.html" %}
{% load static %}

{% block downtime-site-title %}Readux{% endblock %}

{% block css %}
  {{ block.super }}
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="{% static 'css/readux.css' %}" />
{% endblock %}


{% block xs-nav-title %}
  <img src="{% static 'img/readux-inverse.png' %}"/><span>Readux</span>
{% endblock %}

{% block nav-title %}
  <div class="logo">
    <img src="{% static 'img/readux.png' %}"/>
    <span class="site-title">Readux</span>
  </div>
{% endblock %}
