{% extends 'site_base.html' %}
{% load widget_tweaks %}


{% block content %}
<header class="page-header">
  <div class="container"><h1>Emory Login</h1></div>
</header>
<div class="container">
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <p>Your username and password didn't match. Please try again.</p>
    </div>
{% endif %}

{% if next %} {# display a message if a user is trying to access a page they don't have permission to access #}
    {% if user.is_authenticated %}
    <div class="alert alert-warning" role="alert">
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    </div>
    {% endif %}
{% endif %}

{# NOTE: login form styles adapted from https://login.emory.edu/idp/Authn/UserPassword #}
<form method="post" action="{% url 'auth:login' %}" class="row" method="post" autocomplete="off">
{% csrf_token %}
  <div class="row">
    <fieldset class="col-xs-12 col-sm-5">
      <div class="form-group clearfix">
        <label for="netid" class="nojs">Network ID</label>
        {% render_field form.username class+="form-control input-lg" placeholder="NetID" autofocus="autofocus" %}
      </div>
      <div class="form-group clearfix">
        <label for="password" class="nojs">{{ form.password.label }}</label>
        {% render_field form.password class+="form-control input-lg" placeholder="Password" %}

      </div>
      <input id="loginbutton" class="btn btn-primary btn-lg" type="submit" value="Login"/>
      <p id="forgotlinks" class="loginp"><a href="https://mypassword.emory.edu">Forgot Password?</a></p>
    </fieldset>

<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
</div>
{% endblock %}
