{% extends "layout/lay_1col.html" %}

{% block www_hd_title %}{% trans "Contact Us" %}{% endblock www_hd_title %}

{% block www_content_box_1 %}

<div class="group_outter_box center form_box_centered">
    <div class="title">Contact Us<i class="icon-edit pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                <form class="form-horizontal pull-left"  action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <fieldset>
                        {{form.as_p}}
                    </fieldset>
                    <input class="btn" type="submit" value="{% trans "Send Message" %}" />
                </form>
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_1 %}

