{% extends "layout/lay_1col.html" %}

{% block www_hd_title %}{% trans "Message Received" %}{% endblock www_hd_title %}

{% block www_content_box_1 %}

<div class="group_outter_box center form_box_centered">
    <div class="title">Message Received<i class="fa fa-check pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                <br/>
                <p>
                    {% trans "Your mail will be read by a real person." %}
                    {% trans "We can't guarantee when or whether you'll get a reply, but your message will be read." %}
                    {% trans "If you're expecting a reply and don't get one, please feel free to send a reminder." %}<br/>
                </p>
                <p>
                    <br/>
                    {% trans "Thank you!" %}<br/><br/>
                    <strong>{% trans "The" %} {{site.name}} {% trans "Team!" %}</strong>
                </p>
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_1 %}


