#id_featured_collections {
  height:150px;
  overflow:hidden;
  overflow-y:scroll;
  margin-bottom: 20px;
}

#id_featured_collections li:nth-child(even) {
   background: rgb(252, 242, 242);
 }

#id_featured_collections input {
  padding: 0px;
}


#id_featured_volumes {
  height:150px;
  overflow:hidden;
  overflow-y:scroll;
  margin-bottom: 20px;
}

#id_featured_volumes li:nth-child(even) {
   background: rgb(252, 242, 242);
 }

#id_featured_volumes input {
  padding: 0px;
}

#id_featured_volumes li {
  display: block;
}
