<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js?"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}common/google/js/prettify.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}common/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}common/jquery/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}common/js/utils.js"></script>


<script>
    var asset_base_url = '{{ STATIC_URL }}'
    var common_asset_base_url = '{{ SITE_COMMON_DOWNLOADABLE_STATIC_URL }}';
</script>

