// Theme
$rx-color-midnight-blue: #1D3557;
$rx-color-linen-blue: #457B9D;
$rx-color-mario-red: #E60000;
$rx-color-faded-mint: #F1FAEE;

// ==============================
// Auxilary
// ==============================
$rx-color-rose-red: #f0506e;

// ==============================
// Base
// ==============================
$color-black: #000000;
$color-white: #ffffff;

// ==============================
// Black to White Scale
// ==============================
$rx-color-dark-charcoal: #333333;
$rx-color-cement-gray: #595959;
$rx-color-light-pearl: #cccccc;