<div class="uk-section uk-section-default section-offset">
    <div class="uk-container">
        <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
            <div class="uk-width-1-4@s">
                <img src="https://images.unsplash.com/photo-1512820790803-83ca734da794?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDF8fGJvb2slMkN8ZW58MHx8fHwxNjM0NTY2ODcy&ixlib=rb-1.2.1&q=80&w=400" alt="Image" class="uk-width-1-1">
            </div>
            <div class="uk-width-3-4@s">
                <h2 class="" style="font-size: 1.5rem; font-weight: bold; margin-bottom: 0.5rem;">Reviving Sacred Song: The Sounding Spirit Collaborative and Its Impact on American Vernacular Music History</h2>
                <p class="truncate-text">
                    The Sounding Spirit Collaborative engages sacred music from a dynamic era of American history. We make accessible and interpret historical sacred vernacular songbooks printed across territories and states spanning the southern United States from 1850 to 1925. Our ongoing scholarly edition and digital library work leverages collaborations between scholars, practitioners, librarians, and technologists to bring interdisciplinary, multi-modal expertise to the study and dissemination of these music books. These collaborations invite both scholarly and confessional reconsiderations of the role of sacred song in the lived experience of diverse communities. Working with texts and tunes often marginalized in music history, singers and scholars join Sounding Spirit in claiming a more diverse canon of southern vernacular sacred music.
                </p>
                <button class="uk-button uk-button-primary uk-margin-top">Read Full Story</button>
            </div>
        </div>
    </div>
</div>