{% load socialaccount %}
{% get_providers as socialaccount_providers %}
<!-- Login Modal -->
<div id="login-modal" uk-modal>
  <div class="uk-modal-dialog custom-modal uk-padding">
    <button class="uk-modal-close-default uk-close-large uk-padding-small" type="button" uk-close>
    </button>
    <!-- Modal Header -->
    <div class="modal-header">
      <h2 class="uk-text-x-large uk-text-bold">Log in to Readux</h2>
    </div>
    <!-- Modal Content -->
    <div class="sso-text color-black uk-text-medium">Login via one of the following services:</div>
    <!-- SSO Buttons -->
    <div class="sso-buttons">
      <div class="uk-grid uk-child-width-expand@s " uk-grid>
        {% for provider in socialaccount_providers %}
          {% if provider.id not in user.socialaccount_list or user.is_anonymous %}
            <form action="{% provider_login_url provider.id next=request.path process="login" %}" method="post">
              {% csrf_token %}
              <button class="uk-button uk-button-default sso-button {{ provider.id }}" type="submit">
                <span uk-icon="{{ provider.id }}" class="uk-margin-small-right"></span>{{ provider.name }}
              </button>
            </form>
          {% elif provider.id not in user.socialaccount_list and user.is_authenticated %}
            <form action="{% provider_login_url provider.id next=request.path process="connect" %}" method="post">
              {% csrf_token %}
              <button class="uk-button uk-button-default sso-button {{ provider.id }}" type="submit">
                <span uk-icon="{{ provider.id }}" class="uk-margin-small-right"></span>{{ provider.name }}
              </button>
            </form>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- Help Link -->
    <div class="uk-text-center uk-margin-top">
      Need help? <a href="#" class="uk-link text-anchor-blue">Contact us</a>
    </div>
  </div>
</div>
