<div class="uk-section uk-section-default uk-padding-remove">
    <div class="uk-container-expand">
        <div class="video-section">
            <div class="video-container" id="videoContainer">
                <img src="https://i.vimeocdn.com/video/452001751_640.jpg" alt="Vimeo Video Thumbnail" class="video-thumbnail" id="videoThumbnail">
                <div class="transparent-overlay" id="transparentOverlay"></div>
                <iframe src="https://player.vimeo.com/video/76979871" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen id="vimeoPlayer"></iframe>
                <div class="video-overlay" id="videoOverlay">
                    <h1 style="color:white; font-size: 3rem; font-weight: bold; margin-bottom: 2rem;">Watch the Video</h1>
                    <div class="play-icon" uk-icon="icon: play-circle; ratio: 6" style="margin-bottom: 2rem;"></div>
                    <div style="color:white; font-size: 1.5rem;">Readux is an open-source platform and a web-based space to engage with digitized print materials.</div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://player.vimeo.com/api/player.js"></script>
<script>
    var iframe = document.getElementById('vimeoPlayer');
    var player = new Vimeo.Player(iframe);
    var thumbnail = document.getElementById('videoThumbnail');
    var overlay = document.getElementById('videoOverlay');

    document.getElementById('videoOverlay').addEventListener('click', function() {
        // Hide the overlay and thumbnail
        overlay.style.display = 'none';
        thumbnail.style.display = 'none';

        // Show the iframe and play the video in full screen
        iframe.style.display = 'block';

        player.play().then(function() {
            return player.requestFullscreen();
        }).catch(function(error) {
            console.error('Error playing the video:', error);
        });
    });

    player.on('ended', function() {
        // Hide the iframe and show the overlay and thumbnail again
        iframe.style.display = 'none';
        overlay.style.display = 'block';
        thumbnail.style.display = 'block';
    });

    player.on('fullscreenchange', function(data) {
        if (!data.fullscreen) {
            player.pause().then(function() {
                // Hide the iframe and show the overlay and thumbnail again
                iframe.style.display = 'none';
                overlay.style.display = 'block';
                thumbnail.style.display = 'block';
            }).catch(function(error) {
                console.error('Error pausing the video:', error);
            });
        }
    });
</script>