{% extends 'site_base.html' %}
{% load feincms_tags %}

{% block page-subtitle %}{{ feincms_page.title }} | {% endblock %}

{% block head_extras %}
  {{ block.super }}
  {{ feincms_page.content.media }} {# include any needed css/js media content #}
{% endblock %}

{% block content %}
<div class="container" style="margin-top:20px">

{# link to admin edit page if user has permission #}
<div class="pull-right">
      {% if perms.feincms_page.change_page %}
      <p><a class="btn btn-default btn-sm" href="{% url 'admin:page_page_change' feincms_page.id %}">
        <span class="glyphicon glyphicon-edit"></span> Edit</a></p>
      {% endif %}
</div>

<header class="page-header">
  <h1>{{ feincms_page.title }}</h1>
  <p class="lead">
     {% block lead %}
      {% feincms_render_region feincms_page "lead" request %}
     {% endblock %}
  </p>
 </div>

</header>

 <div id="content">
     {% block page-content %}
     {% feincms_render_region feincms_page "main" request %}
     {% endblock %}
 </div>

{% comment %} example secondary block
 <div id="sidebar">
     {% block sidebar %}
      {% feincms_render_region feincms_page "sidebar" request %}
     {% endblock %}
 </div>{% endcomment %}
 </div>

{% block fw-content %}
{% endblock %}
{% endblock %} }
