{% extends "layout/lay_2col_small_big.html" %}

{% block www_content_box_1 %}
<div id="settings_sidenav">
    <div class="sidenav_group_outter_box pull-left">
        <div class="title">
            <span class="text">Account Settings</span>
            <i class="icon-cog pull-right"></i>
        </div>
        <div class="sidenav_group_inner_box">
            <ul class="sidenav_group_list">
                {% with request|account_settings_menu as account_menu %}
                    {% for item in account_menu %}
                        <li class="{% if item.selected %}selected{% endif %}">
                            <a class="{% if item.selected %}selected{% endif %}" href="{{item.url}}">{{item.name}}
                                {% if item.icon %}<i class="{{item.icon}} icon-mini pull-right"></i>{% endif %}
                            </a>
                        </li>
                    {% endfor %}
                {% endwith %}
            </ul>
        </div>
    </div>
</div>

{% if request.user.is_superuser %}
    <div id="settings_sidenav">
        <div class="sidenav_group_outter_box pull-left">
            <div class="title">
                <span class="text">Admin Settings</span>
                <i class="icon-cog pull-right"></i>
            </div>
            <div class="sidenav_group_inner_box">
                <ul class="sidenav_group_list">
                    {% with request|account_admin_menu as admin_menu %}
                        {% for item in admin_menu %}
                            <li class="{% if item.selected %}selected{% endif %}">
                                <a class="{% if item.selected %}selected{% endif %}" href="{{item.url}}">{{item.name}}
                                    {% if item.icon %}<i class="{{item.icon}} icon-mini pull-right"></i>{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

{% endblock www_content_box_1 %}

