{% extends "user/account.html" %}

{% block www_hd_title %}{% trans "Account Settings » Delete Account" %}{% endblock www_hd_title %}

{% block www_content_box_2 %}

<div class="group_outter_box">
    <div class="title">Delete Account <span class="text">( {{user.username}} )</span><i class="icon-trash pull-right danger"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                <h4>Make sure you know what you are doing!</h4>
                <p><i class="icon-warning-sign icon-large danger"></i>&nbsp;&nbsp;Please review the <a class="info" href="{% url 'terms_of_service' %}">Terms of Service</a> regarding account deletion.</p>
            </li>
        </ul>
    </div>
</div>

<div class="group_outter_box">
    <div class="title dangerzone">Delete Account Permanently<i class="icon-warning-sign pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                <form class="form-horizontal"  action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <fieldset>
                        {{ form.as_p }}
                    </fieldset>
                    <button type="submit" class="btn danger">Delete my account</button>
                </form>
                <div class="popover_info_box popover_medium pull-left">
                    <div rel="popover" data-original-title="Deleting Your Account ( permanently )" data-trigger="hover" data-placement="right"
                        data-content="Do you want to delete your account? Why not consider disabling it instead? This way it would be private so
                                      no one can see it and if later on you change your mind, you can just re-enable it without losing your data.<br/>
                                      <strong class='danger'>Note: </strong> Account deletion is immediate and permanent. If you decided to come back later, then you must
                                      create a new account again and your old username may no longer be available to you."
                      <i class="icon-info-sign icon-large center info"></i>
                    </div>
                </div>
                <div class="pull-right">{% include "base/gist/bd_report_problems.html" %}</div>
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_2 %}

