{% extends "layout/lay_1col.html" %}

{% block www_hd_title %}{% trans "Login" %}{% endblock www_hd_title %}

{% block www_content_box_1 %}

<div class="group_outter_box center form_box_centered">
    <div class="title">Login<i class="icon-lock pull-right"></i><i class="icon-key pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                <form class="form-horizontal pull-left"  action="?next={% if request.GET.next %}{{request.GET.next}}{% else %}{% url 'home_page' %}{% endif %}" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <fieldset>
                        {{ form.as_p }}
                    </fieldset>
                    <input class="btn" type="submit" value="{% trans "Login" %}" />
                    <span class="form_alternate_suggestions pull-right">
                        <a class="info" href="{% url 'userware_password_reset' %}">Forgot Password</a>&nbsp;
                    </span>
                </form>
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_1 %}
