{% extends "layout/lay_1col.html" %}

{% block www_hd_title %}{% trans "Account Settings » Password Reset Complete" %}{% endblock www_hd_title %}

{% block www_content_box_1 %}

<div class="group_outter_box center form_box_centered">
    <div class="title">Password Reset Complete<i class="icon-ok pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                <p>
                    {% trans "Your password has been set. You may go ahead and log in with your new password now." %}.
                    <div class="btn-group pull-left">
                        <a class="btn" href="{% url 'userware_login' %}">Login</a>
                    </div>
                </p>
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_1 %}

