{% extends "layout/lay_1col.html" %}

{% block www_hd_title %}{% trans "Account Settings » Password Reset Requested" %}{% endblock www_hd_title %}

{% block www_content_box_1 %}

<div class="group_outter_box center form_box_centered">
    <div class="title">Password Reset Requested<i class="icon-share-alt pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                <p>
                    {% trans "Instructions for resetting your password was sent to the e-mail address associated with your account." %}
                    {% trans "You should be receiving it shortly. Make sure you check your <span class='info'><strong>spam folder</strong></span> as well." %}
                    <br/>
                    <br/>
                    <strong>{% trans "Just follow the instructions!" %}</strong>
                </p>
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_1 %}
