{% extends "user/account.html" %}

{% block www_hd_title %}{% trans "Account Settings » Password Change" %}{% endblock www_hd_title %}

{% block www_content_box_2 %}

<div class="group_outter_box">
    <div class="title">Password Change<i class="icon-key pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix nohover">
                <form class="form-horizontal"  action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <fieldset>
                        {{ form.as_p }}
                    </fieldset>
                    <input class="btn" type="submit" value="{% trans "Change Password" %}" />
                    <span class="form_alternate_suggestions pull-right">
                        <a class="info" href="{% url 'userware_password_reset' %}">Forgot Password</a>
                    </span>
                </form>
            </li>
            <li class="clearfix nohover">
                <div class="pull-left">
                    <i class="icon-hand-right info"></i>
                    To keep your account secure, we can log you out of any other devices. You can log back in with your new password.
                    <br/>
                    <i class="icon-hand-right red"></i>
                    If you feel that your account is <span class="red bold">hacked</span>, then you should select <span class="bold red">"Log me out of other devices"</span>.
                    <br/>
                </div>
                <div class="pull-right">{% include "base/utils/problem_feature.html" %}</div>
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_2 %}

