{% extends "user/account.html" %}

{% block www_hd_title %}{% trans "Account Settings » Password Change" %}{% endblock www_hd_title %}

{% block www_content_box_2 %}

<div class="group_outter_box">
    <div class="title">Password Change<i class="icon-key pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                <form class="form-horizontal"  action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <fieldset>
                        {{ form.as_p }}
                    </fieldset>
                    <input class="btn" type="submit" value="{% trans "Change Password" %}" />
                    <span class="form_alternate_suggestions pull-right">
                        <a class="info" href="{% url 'user_password_reset' %}">Forgot Password</a>
                    </span>
                </form>
                <div class="popover_info_box popover_small pull-left">
                    <div rel="popover" data-original-title="Password Change ( security )" data-trigger="hover" data-placement="right"
                        data-content="If you feel that you need to change password, then you can do it here. For your security, changing password will
                                      log you out of all of your other sessions"
                      <i class="icon-info-sign icon-large center info"></i>
                    </div>
                </div>
                <div class="pull-right">{% include "base/utils/problem_feature.html" %}</div>
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_2 %}

