{% extends "layout/lay_1col.html" %}

{% block www_hd_title %}{% trans "Account Settings » Password Reset Confirmation" %}{% endblock www_hd_title %}

{% block www_content_box_1 %}

<div class="group_outter_box center form_box_centered">
    <div class="title">Password Reset Confirmation<i class="fa fa-key pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                {% if form %}
                    <form class="form-horizontal pull-left"  action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                        {% csrf_token %}
                        <fieldset>
                            {{ form.as_p }}
                        </fieldset>
                        <input class="btn" type="submit" value="{% trans "Change Password" %}" />
                    </form>
                {% else %}
                    <p>{% trans "This password reset link has already been used. You forgot your password again?" %}</p>
                    <div class="pull-left">
                        <a class="btn" href="{% url 'userware_password_reset' %}">Reset password again</a>
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_1 %}


