{% extends "cms/base.html" %}
{% load static %}

{% block content %}
  {% include "snippets/_collections_page_information.html" %}

  {% if page.layout == 'Grid' %}
    <!-- Collection Grid -->
    <div class="uk-grid-match uk-child-width-1-4@m uk-margin-large-bottom" uk-grid>
      {% for collection in collections %}
        <!-- Collection Item -->
        <a class="grid-item" href="{% url 'collection' collection.pid %}">
          <img src="/media/{{ collection.thumbnail }}"
               alt="Thumbnail image for collection {{ collection.label }}"
               onerror="this.onerror=null;this.src='{% static 'images/image_not_found.jpg' %}';" />
          <h2>{{ collection.label|default:"[no title]"|truncatechars:200 }}</h2>
          {% if collection.manifests.all %}
            <div class="color-black">
              {{ collection.manifests.all|length }} volume{{ collection.manifests.all|length|pluralize }}
            </div>
          {% endif %}
          {{ collection.summary|truncatewords_html:50|safe }}
        </a>
      {% empty %}
        There are no collections available to browse.
      {% endfor %}
    </div>
  {% elif page.layout == 'List' %}
    <!-- Collection List -->
    <table class="uk-table uk-table-divider list-view-table uk-margin-large-bottom">
      <thead>
        <tr>
          <th>Collection</th>
          <th>Number of Volumes</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        {% for collection in collections %}
          <tr class="clickable-row" data-href="{% url 'collection' collection.pid %}">
            <td>{{ collection.label|default:"[no title]"|truncatechars:200 }}</td>
            <td>
              {{ collection.manifests.all|length }} volume{{ collection.manifests.all|length|pluralize }}
            </td>
            <td class="uk-table-expand">{{ collection.summary|truncatewords_html:50|safe }}</td>
          </tr>
        {% empty %}
          There are no collections available to browse.
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock content %}
