{% extends "base.html" %}
{% load static %}
{% load readux_templatetags %}
{% load wagtailcore_tags %}
{% load has_user_annotations %}
{% load user_annotation_count %}

{% block content %}



{% if request.path == '/' %}
<div class="landing">
  <div class="overlay"></div>
  <div class="content">
    {% include '_home/_nav.html' %}
    {% include '_home/_hero.html' %}
    {% include '_home/_featured_story.html' %}
    {% include '_home/_featured_volumes.html' %}
    {% include '_home/_featured_volumes.html' %}
    {% include '_home/_video.html' %}
    {% include '_home/_highlights.html' %}
    {% include '_home/_footer.html' %}
  </div>
</div>
{% endif %}

{% endblock %}