{% extends "base.html" %}
{% load static %}
{% load readux_templatetags %}
{% load wagtailcore_tags %}

{% block content %}
<div class="uk-child-width-expand@s uk-margin-large-top" uk-grid>

  <div class="rx-splash">
    <ul class="readux-home-tagline uk-padding-remove-left rx-splash-item">
      <li>Read.</li>
      <li>Annotate.</li>
      <li>Publish.</li>
    </ul>
    <div class="rx-splash-item">
      <p class="">Engage with digitized print materials on an open source software platform and share new thinking.</p>
      <img src="static/images/ecds.svg" class="readux-home-ecds">
    </div>
  </div>

  <div class="rx-home-right-column">
    {% if page.featured_collections.all|length != 0  %}
    <div class="readux-group-title">Featured Collection{{page.featured_collections.all|length|pluralize}}</div>
    <ul class="uk-padding-remove-left">
      {% for collection in page.featured_collections.all|order_by:page.featured_collections_sort_order %}
      <li>
        <article class="rx-article">
          <div class="rx-card-image-container uk-width-1-4@m">
            <a alt="Thumbnail image for collection {{collection.label}}" class="rx-card-image"
              href="{% url 'collection' collection.pid %}"
              style="background-image: url('https://127.0.0.1:3000/media/{{collection.thumbnail}}'); // background-position: 77% 52% !important;"></a>
          </div>
          <div class="rx-card-body uk-width-3-4@m">
            <a class="nav-link" href="{% url 'collection' collection.pid %}">
              <h3 class="rx-card-title uk-margin-remove-bottom">{{ collection.label }}</h3>
              <div class="rx-title-tagline">{{collection.manifests.all|length}}
                volume{{collection.manifests.all|length|pluralize}}
              </div>
              <p class="rx-card-text">{{ collection.summary }}</p>
            </a>
          </div>
        </article>
      </li>
      {% endfor %}
      <a class="nav-link" href="#">
        <div class="rx-btn rx-btn-extension">Show All Featured Collections <i class="fas fa-chevron-right"></i></div>
      </a>
    </ul>
    {% endif %}



    {% if page.featured_volumes.all|length != 0 %}
    <div class="readux-group-title">Featured Volume{{page.featured_volumes.all|length|pluralize}}</div>
    {% for volume in page.featured_volumes.all|order_by:page.featured_volumes_sort_order %}
    <li>
      <article class="rx-article">
        <div class="rx-card-image-container uk-width-1-4@m">
          <a alt="First page of {{volume.label}}" class="rx-card-image"
            href="{% url 'page' volume.pid volume.canvas_set.first.pid %}">
            {% for canvas in volume.canvas_set.all %}
            {% if canvas.is_starting_page == 1 %}
            <v-volume-image img-src="{{ canvas.thumbnail_crop_tallwide }}" volume-label="First page of {{volume.label}}">
            </v-volume-image>
            {% elif forloop.last %}
            <v-volume-image img-src="{{ volume.canvas_set.first.thumbnail_crop_tallwide }}" volume-label="{{volume.label}}">
            </v-volume-image>
            {% endif %}
            {% endfor %}
          </a>
        </div>
        <div class="rx-card-body uk-width-3-4@m">
          <a class="nav-link" href="{% url 'collection' volume.collections.first.pid %}">
            <div class="rx-btn rx-btn-collection">{{volume.collections.first.label}}</div>
          </a>
          <a class="nav-link" href="{% url 'page' volume.pid volume.canvas_set.first.pid %}">
            <h3 class="rx-card-title uk-margin-remove-bottom uk-margin-small-top">{{ volume.label|truncatechars:200 }}
            </h3>
            <!-- <div class="rx-title-tagline">Expose annotation count when available</div> -->
            <ul class="rx-card-text">
              <li>Author: {{volume.author|truncatechars:100}}</li>
              <li>Published: {{volume.published_date}} | Added: {{volume.created_at}}</li>
            </ul>
          </a>
        </div>
      </article>
    </li>
    {% endfor %}
    <a class="nav-link" href="#">
      <div class="rx-btn rx-btn-extension">Show All Featured Volumes <i class="fas fa-chevron-right"></i></div>
    </a>
    {% endif %}



    {% if page.content_display == 'Collections' %}
    <div class="readux-group-title">All Collections</div>

    <ul class="uk-padding-remove-left">
      {% for collection in page.collections|slice:":8" %}
      <li>
        <article class="rx-article uk-width-1-4@m">
          <div class="rx-card-image-container">
            <a alt="Banner image for collection {{collection.label}}" class="rx-card-image"
              style="background-image: url('https://127.0.0.1:3000/media/{{collection.header}}'); // background-position: 77% 52% !important;"></a>
          </div>
          <div class="rx-card-body uk-width-3-4@m">
            <a class="nav-link" href="{% url 'collection' collection.pid %}">
              <h3 class="rx-card-title uk-margin-remove-bottom">{{ collection.label }}</h3>
              <div class="rx-title-tagline">{{collection.manifests.all|length}}
                volume{{collection.manifests.all|length|pluralize}}
              </div>
              <p class="rx-card-text">{{ collection.summary }}</p>
            </a>
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if page.content_display == 'Volumes' %}
    <div class="readux-group-title">All Volumes</div>
    {% for volume in page.volumes|slice:":8" %}
    {% if volume.canvas_set.first.pid is null %}
    <li>
      <article class="rx-article">
        <div class="uk-width-1-4@m">
          <v-volume-image></v-volume-image>
        </div>
        <div class="rx-card-body uk-width-3-4@m">
          <a class="nav-link" href="{% url 'collection' volume.collections.first.pid %}">
            <div class="rx-btn rx-btn-collection">{{volume.collections.first.label}}</div>
          </a>
          <a class="nav-link" href="#">
            <h3 class="rx-card-title uk-margin-remove-bottom uk-margin-small-top">
              {{ volume.label|truncatechars:200 }}
            </h3>
            <div class="rx-title-tagline"></div>
            <ul class="rx-card-text">
              <li>Author: {{volume.author|truncatechars:150}}</li>
              <li>Published: {{volume.published_date}} | Added: {{volume.created_at}}</li>
            </ul>
          </a>
        </div>
      </article>
    </li>

    {% else %}
    <li>
      <article class="rx-article">
        <div class="rx-card-image-container uk-width-1-4@m">
          <a class="rx-card-image" href="{% url 'page' volume.pid volume.canvas_set.first.pid %}">
            {% for canvas in volume.canvas_set.all %}
            {% if canvas.is_starting_page == 1 %}
            <v-volume-image img-src="{{ canvas.thumbnail_crop_tallwide }}" volume-label="First page of {{volume.label}}">
            </v-volume-image>
            {% elif forloop.last %}
            <v-volume-image img-src="{{ volume.canvas_set.first.thumbnail_crop_tallwide }}" volume-label="{{volume.label}}">
            </v-volume-image>
            {% endif %}
            {% endfor %}
          </a>

        </div>
        <div class="rx-card-body uk-width-3-4@m">
          <a class="nav-link" href="{% url 'collection' volume.collections.first.pid %}">
            <div class="rx-btn rx-btn-collection">{{volume.collections.first.label}}</div>
          </a>
          <a class="nav-link" href="{% url 'page' volume.pid volume.canvas_set.first.pid %}">
            <h3 class="rx-card-title uk-margin-remove-bottom uk-margin-small-top">{{ volume.label|truncatechars:200 }}
            </h3>
            <div class="rx-title-tagline">TBD</div>
            <ul class="rx-card-text">
              <li>Author: {{volume.author|truncatechars:150}}</li>
              <li>Published: {{volume.published_date}} | Added: {{volume.created_at}}</li>
            </ul>
          </a>
        </div>
      </article>
    </li>

    {% endif %}
    {% endfor %}

    {% for post in page.get_children %}
    {% if 'vol' in post.slug %}
    <a class="nav-link" href="{% pageurl post %}">
      <div class="rx-btn rx-btn-extension">Show All Volumes <i class="fas fa-chevron-right"></i></div>
    </a>
    {% endif %}
    {% endfor %}

    {% include "footer.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}