{% extends "layout/lay_1col.html" %}

{% block www_hd_title %}{% trans "Signup" %}{% endblock www_hd_title %}

{% block www_content_box_1 %}

<div class="group_outter_box center form_box_centered">
    <div class="title">Signup<i class="fa fa-pencil pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                <form class="form-horizontal pull-left"  action="?next={{ next|default:"/" }}" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <fieldset>
                        {{ form.as_p }}
                    </fieldset>
                    <input id='singup_view_ajax_wheel' class="btn" type="submit" value="{% trans "Signup" %}" />
                    <span class="status_ajax_loader">
                        <img src="{{ COMMON_DOWNLOADABLE_STATIC_URL }}images/icons/ajax_loader_red.gif" />
                    </span>
                    <div class="form_alternate_suggestions pull-right">
                        <a class="info" href="{% url 'userware_login' %}">Existing Member</a>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>

<script>signup_status()</script>
{% endblock www_content_box_1 %}
