
<div class="image">
    <img src="{{ content.mediafile.file.url }}" class="img-responsive" alt="{{ content.mediafile.translation.caption }}" data-toggle="modal" data-target="#lightbox-image-{{ content.id }}" />
    <h3 class="caption">{{ content.mediafile.translation.caption }}</h3>
    {% if content.mediafile.copyright %}<span class="copyright">{{ content.mediafile.copyright }}</span>{% endif %}
</div>

{# Modal image display #}
<div class="modal fade" id="lightbox-image-{{ content.id }}" tabindex="-1" role="dialog" aria-labelledby="lightbox-image-label-{{ content.id }}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="lightbox-image-label-{{ content.id }}">{{ content.mediafile.translation.caption }}</h4>
      </div>
      <div class="modal-body">
          <img src="{{ content.mediafile.file.url }}" class="img-responsive" alt="{{ content.mediafile.translation.caption }}"/>
          {% if content.mediafile.translation.description %}
          <p>{{ content.mediafile.translation.description }}</p>
          {% endif %}
      </div>
      {% if content.mediafile.copyright %}
      <div class="modal-footer">
          <p class="small">{{ content.mediafile.copyright }}</p>
      </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
