{# based on default feincms template, but adds bootstrap img-responsive class & description #}
<div class="image">
    <img src="{{ content.mediafile.file.url }}" class="img-responsive" alt="{{ content.mediafile.translation.caption }}" data-toggle="modal" data-target="#lightbox-image-{{ content.id }}" />
    <h3 class="caption">{{ content.mediafile.translation.caption }}</h3>
    {% if content.mediafile.translation.description %}
        <p>{{ content.mediafile.translation.description }}</p>
    {% endif %}
    {% if content.mediafile.copyright %}
      <p class="small copyright">{{ content.mediafile.copyright }}</p>
    {% endif %}
</div>
