<ul uk-accordion="multiple: true" class="uk-width-1-1 ">
    <li class="uk-open">
        <a class="rx-accordion-handle uk-accordion-title uk-text-bold uk-text-default " href="#"><span id="annotation-count"></span> hits in text</a>
        <div class="uk-accordion-content uk-margin-small-top" id="ocr-annotation-results">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </li>
    <li class="uk-open">
        <a class="rx-accordion-handle uk-accordion-title uk-text-bold uk-text-default " href="#"><span id="user-annotation-count"></span> hits in annotations</a>
        <div class="uk-accordion-content uk-margin-small-top" id="user-annotation-results">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
        </div>
    </li>
</ul>