{% load split_to_bullets %}

<div class="rx-info-content rx-scrollable-area">
  <!--
  <div class="rx-info-content-label uk-flex-between rx-flex uk-margin-small-bottom">
    <span>Showing [#TODO] metadata fields</span> 
  </div> 
  <div class="rx-info-content-value uk-margin-small-bottom uk-flex" >
    <div class="uk-flex-between">
      <a class="rx-action-btn">
        <div class="uk-label rx-label-copy uk-expand-btn">
          <span uk-icon="icon: plus; ratio: 0.5"></span> Expand all
        </div>
      </a>
      <a class="rx-action-btn">
        <div class="uk-label rx-label-copy uk-collapse-btn">
          <span uk-icon="icon: minus; ratio: 0.5"></span> Collapse all
        </div>
      </a>
      <a class="rx-action-btn">
        <div class="uk-label rx-label-copy">
          <span uk-icon="icon: download; ratio: 0.5"></span> CSV (TODO)
        </div>
      </a>
    </div>
  </div>
  -->

  <div class="rx-info-content-value padding-right-1rem">
    <ul uk-accordion="multiple: true">
      <li class="uk-open">
        <a class="uk-accordion-title uk-label rx-accordion-head" href>Basic</a>
        <div class="uk-accordion-content uk-margin-remove-top uk-padding-1-2">
        {% if volume.label|length %}
        <div class="rx-info-content">
          <div class="rx-info-content-label">Title</div>
          <div class="rx-info-content-value">{{ volume.label }}</div>
        </div>
        {% endif %}
    
        {% if volume.author|length %}
        <div class="rx-info-content">
          <div class="rx-info-content-label">Authors</div>
          <div class="rx-info-content-value">{{ volume.author }}</div>
        </div>
        {% endif %}
    
        {% if volume.published_date|length %}
        <div class="rx-info-content">
          <div class="rx-info-content-label">Publication Date</div>
          <div class="rx-info-content-value">{{ volume.published_date }}</div>
        </div>
        {% endif %}
    
        {% if volume.collections is not None %}
        <div class="rx-info-content">
          <div class="rx-info-content-label">Collections</div>
          <div class="rx-info-content-value">
            {% for col in volume.collections.all %}
            <a class="nav-link" href="{% url 'collection' col.pid %}">
              <div class="uk-label rx-label-copy">{{ col.label }}</div>
            </a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
    
        {% if volume.languages.all|length %}
        <div class="rx-info-content">
          <div class="rx-info-content-label">Language(s)</div>
          <div class="rx-info-content-value">
            <ul>
              {% for language in volume.languages.all %}
              <li>{{ language.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
    
        {% if volume.published_city|length or volume.publisher|length %}
        <div class="rx-info-content">
          <div class="rx-info-content-label">Publisher</div>
          <div class="rx-info-content-value">{{ volume.published_city }} : {{ volume.publisher }}</div>
        </div>
        {% endif %}
    
        {% if volume.summary|length %}
        <div class="rx-info-content">
          <div class="rx-info-content-label">Summary</div>
          <div class="rx-info-content-value">{{ volume.summary|safe }}</div>
        </div>
        {% endif %}
    
        {% if volume.note_set|length %}
        <div class="rx-info-content">
          <div class="rx-info-content-label">Notes</div>
          <div class="rx-info-content-value">
            <ul>
              {% for note in volume.note_set.all %}
              <li>{{ note.label }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
      </li>

      {# Advanced fields: custom metadata configured via django settings #}
      {% if custom_metadata %}
        <li>
          <a class="uk-accordion-title uk-label rx-accordion-head" href>Advanced</a>
          <div class="uk-accordion-content uk-margin-remove-top uk-padding-1-2">
            {% for key, metadata in custom_metadata.items %}
              <div class="rx-info-content">
                <div class="rx-info-content-label">{{ key }}</div>

                {% if metadata.multi %}
                  <div class="rx-info-content-value">
                    <ul class="uk-list uk-list-circle">
                      {% for item in metadata.value|split_to_bullets %}
                        <li class="uk-margin-remove-top">{{ item }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  <div class="rx-info-content-value">{{ metadata.value }}</div>
                {% endif %}
                
              </div>
            {% endfor %}
          </div>
        </li>
      {% endif %}

      <li>
        <a class="uk-accordion-title uk-label rx-accordion-head" href>Attribution</a>
        <div class="uk-accordion-content uk-margin-remove-top uk-padding-1-2"> 
        <div class="rx-info-content">
          <div class="rx-info-content-label">Institution</div>
          <div class="rx-info-content-value">{{ volume.attribution }}</div>
        </div>
      
        <div class="rx-info-content">
          <div class="rx-info-content-label">License</div>
          <div class="rx-info-content-value">{{ volume.license }}</div>
        </div>
      
        {% if volume.identifier is not None %}
        <div class="rx-info-content">
          <div class="rx-info-content-label">Identifier</div>
          <div class="rx-info-content-value">{{ volume.identifier }}</div>
        </div>
        {% endif %}
      
        {% if volume.identifier_uri is not None %}
        <div class="rx-info-content">
          <div class="rx-info-content-label">Link to Resource</div>
          <div class="rx-info-content-value">{{ volume.identifier_uri }}</div>
        </div>
        {% endif %}
      
        {% if volume.scanned_by is not None %}
        <div class="rx-info-content">
          <div class="rx-info-content-label">Scanned By</div>
          <div class="rx-info-content-value">{{ volume.scanned_by }}</div>
        </div>
        {% endif %}
      </div>
      </li>
    </ul>
        
  </div>
</div>