{% load split_to_bullets readux_extras %}

<div class="rx-info-content rx-scrollable-area">
  <div class="rx-info-content-value">
    <ul uk-accordion="multiple: true">
      <li class="uk-open">
        <a class="uk-accordion-title uk-label rx-accordion-head" href>Basic</a>
        <div class="uk-accordion-content uk-margin-remove-top uk-padding-1-2">
        {% if volume.label|length %}
        <metadata-field label="Title">{{ volume.label }}</metadata-field>
        {% endif %}

        {% if volume.author|length %}
        <metadata-field label="Authors">{{ volume.author|spaced_semicolons }}</metadata-field>
        {% endif %}

        {% if volume.published_date|length %}
        <metadata-field label="Publication Date">{{ volume.published_date }}</metadata-field>
        {% endif %}

        {% if volume.collections is not None %}
        <metadata-field label="Collections">
          {% for col in volume.collections.all|dictsort:"label" %}
            {% with col_label=col.label %}
              {% if col_label|length > 40 %}
                <a class="rx-collection-link" href="{% url 'collection' col.pid %}" uk-tooltip="mode: click" title="{{ col_label }}">{{ col_label|truncatechars:40 }}</a>
              {% else %}
                <a class="rx-collection-link" href="{% url 'collection' col.pid %}">{{ col_label }}</a>
              {% endif %}
            {% endwith %}
            {% if not forloop.last %}<span class="rx-collection-separator">|</span>{% endif %}
          {% endfor %}
        </metadata-field>
        {% endif %}

        {% if volume.languages.all|length %}
        <metadata-field label="Language(s)">
          <ul>
            {% for language in volume.languages.all %}
            <li>{{ language.name|spaced_semicolons }}</li>
            {% endfor %}
          </ul>
        </metadata-field>
        {% endif %}

        {% if volume.published_city|length or volume.publisher|length %}
        <metadata-field label="Publisher">
          {{ volume.published_city|strip_trailing_commas|spaced_semicolons }} : {{ volume.publisher|strip_trailing_commas|spaced_semicolons }}
        </metadata-field>
        {% endif %}

        {% if volume.summary|length %}
        <metadata-field label="Summary">{{ volume.summary|safe }}</metadata-field>
        {% endif %}

        {% if volume.note_set|length %}
        <metadata-field label="Notes">
          <ul>
            {% for note in volume.note_set.all %}
            <li>{{ note.label }}</li>
            {% endfor %}
          </ul>
        </metadata-field>
        {% endif %}
      </div>
      </li>

      {# Advanced fields: custom metadata configured via django settings #}
      {% if custom_metadata %}
        <li>
          <a class="uk-accordion-title uk-label rx-accordion-head" href>Advanced</a>
          <div class="uk-accordion-content uk-margin-remove-top uk-padding-1-2">
            {% for key, metadata in custom_metadata.items %}
              <metadata-field label="{{ key }}">
                {% if metadata.multi %}
                  <ul class="uk-list uk-list-bullet">
                    {% with metadata.value|split_to_bullets as items %}
                      {% for item in items %}
                        {% if items|length == 1 %}
                          {{ item|spaced_semicolons }}
                        {% else %}
                          <li class="uk-margin-remove-top">{{ item|spaced_semicolons }}</li>
                        {% endif %}
                      {% endfor %}
                    {% endwith %}
                  </ul>
                {% else %}
                  {{ metadata.value|spaced_semicolons }}
                {% endif %}
              </metadata-field>
            {% endfor %}
          </div>
        </li>
      {% endif %}

      <li>
        <a class="uk-accordion-title uk-label rx-accordion-head" href>Attribution</a>
        <div class="uk-accordion-content uk-margin-remove-top uk-padding-1-2">
        <metadata-field label="Institution">{{ volume.attribution }}</metadata-field>

        <metadata-field label="License">{{ volume.license }}</metadata-field>

        {% if volume.identifier is not None %}
        <metadata-field label="Identifier">{{ volume.identifier }}</metadata-field>
        {% endif %}

        {% if volume.identifier_uri is not None %}
        <metadata-field label="Link to Resource">{{ volume.identifier_uri }}</metadata-field>
        {% endif %}

        {% if volume.scanned_by is not None %}
        <metadata-field label="Scanned By">{{ volume.scanned_by }}</metadata-field>
        {% endif %}
      </div>
      </li>
    </ul>

  </div>
</div>
