{% load static i18n %}
{% load sass_tags %}
<link type="text/css" href="{% sass_src 'css/readux2/menu-inverse.scss' %}" rel="stylesheet">
<link type="text/css" href="{% sass_src 'css/readux2/login.scss' %}" rel="stylesheet">
<link type="text/css" href="{% sass_src 'css/readux2/reader.scss' %}" rel="stylesheet">

<nav uk-navbar class="reader-navbar">

    <div class="uk-navbar-left ">
      <!-- Logo -->
      <div class="uk-logo uk-flex uk-flex-middle">
        <a class="brand-logo" href="/">{{ request.site.name }}</a>
      </div>
      <!-- End -->

      <!-- Breadcrumb -->
      {% if volume.collections.first.pid or volumelink %}
        <ul class="breadcrumb">
          <li>
            <a href="#">Collections<span class="icon-chevron-down" uk-icon="icon: chevron-down; ratio: 0.5"></span></a>
            <div class="uk-navbar-dropdown uk-padding-remove" uk-dropdown="mode: click; pos: bottom-left;">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                {% if volume.collections.first.pid %}
                  <li><a href="/{{ collectionlink.slug }}" alt="Collections">Collections</a></li>
                  <li><a href="{% url 'collection' volume.collections.first.pid %}"
                      alt="Collections">{{ volume.collections.first.label }}</a>
                  </li>
                {% else %}
                  <li><a href="/{{ volumelink.slug }}">All Volumes</a></li>
                {% endif %}
              </ul>
            </div>
          </li>
          <li>{{volume.label}}</li>
        </ul>
      {% endif %}
      <!-- End -->
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        {% if request.user.is_authenticated %}
          <!-- User Account with Icon -->
          <li>{# URL provided by django-allauth/account/urls.py #}
            <a href="{% url 'users:update' %}" class="menu-item" uk-icon="icon: user;" uk-tooltip="My Account"></a>
          </li>
          <!-- Sign out with Icon -->
          <li>{# URL provided by django-allauth/account/urls.py #}
            {% include "snippets/_signout_button.html"%}
          </li>
        {% else %}
          <!-- Login/Sign up with Icon -->
          <li>{# URL provided by django-allauth/account/urls.py #}
                      {% include "snippets/_show_sign_modal.html" %}
          </li>
        {% endif %}
        <!-- Search with Icon -->
        <li>
          <a href="{% url 'search' %}" class="menu-item" uk-icon="icon: search;" uk-tooltip="Search in this library"></a>
        </li>
      </ul>
    </div>
</nav>
{% include '_home/_login_modal.html' %}