{% extends "base.html" %}
{% block content %}
<div class="uk-container">
<img src="/media/{{collection.upload}}" alt="Banner image for collection {{collection.label}}" style="width:100%;height:90px" />
<h1 class='uk-heading-primary'>{{ collection.label }}</h1>
<h2>{{collection.manifests.all|length}} volume{{collection.manifests.all|length|pluralize}} in this collection</h2>
<div class="uk-container">
{% for volume in collection.manifests.all %}
<div style="display:inline; float:left;">
  <a class="nav-link" href="{% url 'page' collection.pid volume.pid volume.canvas_set.first.pid %}">
    <img src="{{ volume.canvas_set.first.thumbnail_crop_landscape }}"/>
  </a>
  </div>
  <div style="display:inline; float:left">
    <a class="nav-link" href="{% url 'page' collection.pid volume.pid volume.canvas_set.first.pid %}">
  {{ volume.label }}
</a>
<p>Author: {{volume.author}}</p>
<p>Date: {{volume.published_date}}</p>
<p>Publisher: {{volume.publisher}}</p>
<p>Publication City: {{volume.published_city}}</p>
  </p>
  </div>
</div>
{% endfor %}
</div>
</div>
{% endblock content %}
