{% extends "base.html" %}
{% load static %}
{% load url_replace %}
{% block content %}
<div>

  <header class="page-header" id="page-bg">
    <div class="container">
      <img src="/media/{{collection.header}}" alt="Header image for collection {{collection.label}}"
        style="width:100%;" />
    </div>
    <div class="collection-image-info collasped"  tabindex="0" aria-label="about this collection" uk-tooltip="title: About this collection; pos: right">
      <h3>{{ collection.collection_image_title }}</h3>
      <div class="info"> {% if collection.collection_image_summary %}
        <p>{{ collection.collection_image_summary }}</p> {% endif %}
        <p>{{ collection.collection_image_creator }}</p>
      </div>
    </div>
  </header>

  <div class="rx-title-container">
    <ul class="rx-breadcrumb uk-text-truncate">
      <li class="rx-breadcrumb-item"><a href="/" alt="Home">Home</a></li>
      <li class="rx-breadcrumb-item"><a href="/{{ collectionlink.slug }}" alt="Home">Collections</a></li>
      <li class="rx-breadcrumb-item">{{ collection.label }}</li>
    </ul>
    <h2 class="rx-title" id="main">{{ collection.label }}</h2>
    <div class="rx-title-tagline">{{volumes|length}} volume{{volumes|length|pluralize}}</div>
  </div>

  <div class="rx-head-container">
    <p>{{ collection.summary|safe }}</p>
  </div>

  {% include "snippets/sort_dropdown.html" %}
  <!--TODO: include ascending/descending sort feature-->

  <!--TODO: move inline styles into project CSS-->
  <div class="pagination" style="margin-bottom:20px">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?{% url_replace page=page_obj %}" style="margin-right:5px;">&laquo; first</a>
              <a href="?{% url_replace page=page_obj.previous_page_number %}" style="margin-right:5px;">previous</a>
          {% endif %}

          <span class="current" style="margin:0px,5px;">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>

          {% if page_obj.has_next %}
              <a href="?{% url_replace page=page_obj.next_page_number %}" style="margin-left:5px;">next</a>
              <a href="?{% url_replace page=page_obj.num_pages %}" style="margin-left:5px;">last &raquo;</a>
          {% endif %}
      </span>
  </div>


   <div class="uk-grid-match uk-child-width-expand@s uk-grid-large" uk-grid>
   {% for volume in page_obj %}
  {% if volume.canvas_set.first.pid is null %}
      <div class="uk-width-1-2@m uk-grid-medium">
        <div class=" uk-width-1-4@m">
          <a class="nav-link" href="#">
            <v-volume-image></v-volume-image>
          </a>
        </div>
        <div class="uk-width-3-4@m" tabindex="0">
          <a class="nav-link" href="#">
            <h3 class="rx-card-title uk-margin-remove-bottom">{{ volume.label|truncatechars:100 }}</h3>
          </a>
          <ul class="uk-padding-remove rx-card-text">
            <li>Author: {{volume.author|truncatechars:150}}</li>
            <li>Published: {{volume.published_date}}</li>
            <li>Publisher: {{volume.publisher}}</li>
            <li>Publication City: {{volume.published_city}}</li>
            <li>Added: {{volume.created_at}}</li>
            <li>
              {% for value in user_annotation_count %}
              {% if volume.pid in value %}
              {% if "0" not in value|safe|slice:"-3:-1" %}
              <span class="count-icon">
                <span class="uk-icon" uk-icon="icon: comments; ratio: 1.5"
                  uk-tooltip="title: Number of your annotations; pos: bottom"></span>
                <span class="count">{{ value|safe|slice:"-3:-1" }}</span>
              </span>
              {% endif %}
              {% endif %}
              {% endfor %}
            </li>
          </ul>
        </div>
      </div>

    {% else %}
    <div class="uk-width-1-2@m uk-grid-medium">
      <div class=" uk-width-1-4@m">
        <a class="nav-link" href="{% url 'page' volume.pid volume.canvas_set.first.pid %}">
      {% for fir in firstthumbnail %}
      {% for canvas in volume.canvas_set.all %}
        {% if canvas.pid in fir|safe %}
           <v-volume-image
            img-src="{{ canvas.thumbnail_crop_tallwide }}"
            volume-label="{{volume.label|truncatechars:50}}">
          </v-volume-image>
        {% elif volume.pid == fir|safe|slice:"2:-6" and "[]" in fir|safe %}
        {% if forloop.last %}
          <v-volume-image
            img-src="{{ volume.canvas_set.first.thumbnail_crop_tallwide }}"
            volume-label="{{volume.label|truncatechars:50}}">
          </v-volume-image>
        {% endif %}
        {% endif %}
      {% endfor %}
      {% endfor %}
        </a>
      </div>
      <div class="uk-width-3-4@m" tabindex="0" aria-label="Volume Information">
        <a class="nav-link" href="{% url 'page' volume.pid volume.canvas_set.first.pid %}">
          <h3 class="rx-card-title uk-margin-remove-bottom">{{ volume.label|truncatechars:100 }}</h3>
        </a>
        <ul class="uk-padding-remove rx-card-text">
          <li>Author: {{volume.author|truncatechars:150}}</li>
          <li>Published: {{volume.published_date}}</li>
          <li>Publisher: {{volume.publisher}}</li>
          <li>Publication City: {{volume.published_city}}</li>
          <li>Added: {{volume.created_at}}</li>
          <li>
            {% for value in user_annotation_count %}
            {% if volume.pid in value %}
            {% if "0" not in value|safe|slice:"-3:-1" %}
            <span class="count-icon">
              <span class="uk-icon" uk-icon="icon: comments; ratio: 1.5"
                uk-tooltip="title: Number of your annotations; pos: bottom"></span>
              <span class="count">{{ value|safe|slice:"-3:-1" }}</span>
            </span>
            {% endif %}
            {% endif %}
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% include "footer.html" %}

{% endblock content %}
