<footer class="uk-grid">
  <div class="uk-width-1-1">
    <ul class="rx-footer uk-padding-remove">
      <a href="http://digitalscholarship.emory.edu/" target="_blank" alt="Emory Center for Digital Scholarship">
        <li>Emory Center for Digital Scholarship</li>
      </a>
      <!-- <a>
        <li>Contact</li>
      </a>
      <a>
        <li>Partnership</li>
      </a>
      <a>
        <li>Team</li>
      </a> -->
    </ul>
  </div>
  <div class="uk-width-1-1">
    <ul class="rx-footer uk-padding-remove">
      <a href="http://digitalscholarship.emory.edu/projects/software/readux.html" target="_blank" alt="Readux by Emory Center for Digital Scholarship">
        <li>Readux 2.0</li>
      </a>
    </ul>
  </div>
</footer>