{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
<link href="{% static 'mirador/css/mirador-combined.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}

<h1 class='uk-text-truncate'>
  {{volume.label}}    

</h1>
{% endblock content %}
{% block viewer %}
  <div class='uk-flex-center' uk-grid>
    <div class='uk-width-3-4'>
      <div class='uk-padding'>
        <h3>Static Site Export</h3>

          <div class="alert alert-success">GitHub export started.</div>
          <p>Your digital edition is being exported to GitHub.  You will receive an email 
          at {{ email }} when the export is complete.</p>
      </div>

    </div>
  </div>
{% endblock viewer %}
