{% extends "base.html" %}
{% load static i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block extra_css %}
<style>
  #rx-nav {
    display: none;
  }
</style>
{% endblock extra_css %}

{% block content %}
{{ json_data|json_script:"context" }}
{% block inner %}

<!-- reader's navbar -->
<nav uk-navbar>
  <div class="uk-navbar-left">
    <a href="/" alt="Readux Logo/Home"><img src="{% static 'images/readux-graphics.svg'%}" style="height: 40px;"></img></a>
    <ul class="rx-page-breadcrumb long-and-truncated uk-margin-left">
      <li class="rx-page-breadcrumb-item"><a href="/{{ collectionlink.slug }}" alt="Collections">Collections</a></li>
      {% if volume.collections.first.pid %}
      <li class="rx-page-breadcrumb-item"><a href="{% url 'collection' volume.collections.first.pid %}"
          alt="Collections">{{ volume.collections.first.label }}</a>
      </li>
      {% else %}
      <li class="rx-page-breadcrumb-item"><a class="nav-link" href="/{{ volumelink.slug }}">All Volumes</a></li>
      {% endif %}
      <li> {{volume.label}}</li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <div class="rx-page-breadcrumb">
      <a href="/search/" aria-label="fudiv site search" title="Full Site Search"
        uk-tooltip="title: Full Site Search; pos: right">
        <span class="uk-icon uk-margin-small-right" aria-hidden="true" uk-icon="icon: search"></span>
      </a>
      <a class="{% if url_name == 'index' %}uk-active{% endif %}" uk-tooltip="title: Django admin; pos: right"
        aria-label="link to the django admin" title="Access Django Admin Site" href="/admin/">
        <span class="uk-user uk-margin-small-right" aria-hidden="true" uk-icon="icon: cog"></span>
      </a>
      <a class="{% if url_name == 'index' %}uk-active{% endif %}" uk-tooltip="title: Your account; pos: right"
        aria-label="link to your account page" title="Your Account Details" href="{% url 'users:update'  %}">
        <span class="uk-icon uk-margin-small-right" aria-hidden="true" uk-icon="icon: user"></span>
      </a>
    </div>
  </div>
</nav>
<!-- reader's navbar -->

<!-- uiAction search -->
<div id="modal-search" class="reader-modal" uk-modal>
  <div class="uk-modal-dialog uk-padding-small">
    <button class="uk-modal-close-full uk-padding-small uk-margin-small-top uk-close-small" type="button" uk-close></button>
    {% include '_page/_search.html' %}
    <ul uk-accordion="multiple: true" class="uk-width-1-1 ">
      <li class="uk-open">
          <a class="rx-accordion-handle rx-info-content-label uk-accordion-title" href="#"><span id="annotation-count"></span> Match(es) in Text</a>
          <div class="uk-accordion-content uk-margin-small-top" id="ocr-annotation-results">
              <p class="uk-text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
      </li>
      <li class="uk-open">
          <a class="rx-accordion-handle rx-info-content-label uk-accordion-title" href="#"><span id="user-annotation-count"></span> Match(es) in Annotations</a>
          <div class="uk-accordion-content uk-margin-small-top" id="user-annotation-results">
              <p class="uk-text-default">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
          </div>
      </li>
  </ul>
  </div>
</div>
<!-- uiAction search -->

<!-- uiAction information -->
<div id="modal-info" class="reader-modal" uk-modal>
  <div class="uk-modal-dialog uk-padding-small">
    <button class="uk-modal-close-full uk-padding-small uk-margin-small-top uk-close-small" type="button" uk-close></button>
    <ul uk-tab>
        <li class="uk-active"><a href="#">Metadata</a></li>
        <li><a href="#">Attribution</a></li>
    </ul>
    <ul class="uk-switcher uk-margin-top">
        <li>{% include '_page/_information.html' %}</li>
        <li>{% include '_page/_attribution.html' %}</li>
    </ul>
  </div>
</div>
<!-- uiAction information -->

<!-- uiAction urls -->
<div id="modal-urls" class="reader-modal" uk-modal>
  <div class="uk-modal-dialog uk-padding-small">
    <button class="uk-modal-close-full uk-padding-small uk-margin-small-top uk-close-small" type="button" uk-close></button>
    <ul uk-tab>
      <li class="uk-active"><a href="#">URLs</a></li>
      <li><a href="#">Share and Export</a></li>
    </ul>
    <ul class="uk-switcher uk-margin-top">
        <li>{% include '_page/_urls.html' %}</li>
        <li>{% include '_page/_exports.html' %}</li>
    </ul>
  </div>
</div>
<!-- uiAction urls -->

<!-- uiAction visibility -->
<div id="modal-visibility" class="reader-modal" uk-modal>
  <div class="uk-modal-dialog uk-padding-small">
    <div class="uk-text-bold uk-text-large uk-margin-small-bottom">Layer Visibility</div>
    <button class="uk-modal-close-full uk-padding-small uk-margin-small-top uk-close-small" type="button" uk-close></button>
    {% include '_page/_visibility.html' %}
  </div>
</div>
<!-- uiAction visibility -->

<!-- uiAction exports -->
<div id="modal-exports" class="reader-modal" uk-modal>
  <div class="uk-modal-dialog uk-padding-small">
    <div class="uk-text-bold uk-text-large uk-margin-small-bottom">Exports</div>
    <button class="uk-modal-close-full uk-padding-small uk-margin-small-top uk-close-small" type="button" uk-close></button>
    {% include '_page/_exports.html' %}
  </div>
</div>
<!-- uiAction exports -->

<!-- This is the modal -->
<div id="rx-page-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" aria-label="close sign in modal" type="button" uk-close></button>
    <section class="uk-modal-header">
      <h2 class="uk-modal-title uk-text-center">
        {% if user.is_authenticated %}
        Connect Accounts
        {% else %}
        Sign in
        {% endif %}
      </h2>
    </section>
    {% include "snippets/socialaccount_buttons.html" %}
  </div>
</div>
{% endblock inner %}
{% endblock content %}

{% block viewer %}
<div class="rdx-viewer-container">
  <div id="rdx-viewer" role="region"></div>
</div>
{% if page.pid is not None %}
<!--
        <p id="test"></p>
        <a class="facebook" href='http://www.facebook.com/sharer.php?s=100&p[url]=http://{{ request.META.HTTP_HOST }}{{ request.path }}&p[images][0]{{ page.IIIF_IMAGE_SERVER_BASE }}{{ page.pid }}/full/600,/0/default.jpg' target="_blank">
        <img src="https://www.cabq.gov/culturalservices/biopark/images/share-on-facebook.png/@@images/image.png" title="Facebook" alt="Facebook" ></a>
-->
{% endif %}
{% endblock viewer %}

{% block extra_javascript %}
<!-- <script src="{% static 'js/ecds-annotator.min.js' %}"></script> -->
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.js"
  crossorigin="anonymous"></script>

<script type="text/javascript">
  function showOCR() {
    const nodeList = document.querySelectorAll("div.openseadragon-canvas div span");
    for (let i = 0; i < nodeList.length; i++) {
      nodeList[i].style.backgroundColor = "white";
      nodeList[i].style.fontWeight = "bold";
      nodeList[i].style.color = "rgb(149, 9, 83)";
    }
}
</script>

<script type="text/javascript">
  function hideOCR() {
    const nodeList2 = document.querySelectorAll("div.openseadragon-canvas div span");
    for (let i = 0; i < nodeList2.length; i++) {
      nodeList2[i].style.backgroundColor = "transparent";
      nodeList2[i].style.fontWeight = "";
      nodeList2[i].style.color = "transparent";
    }
}
</script>

<script type="text/javascript">
window.onload = function() {
  const options = {
    manifest: 'https://{{ request.META.HTTP_HOST }}/iiif/v3/{{ volume.pid }}/manifest',
    id: 'rdx-viewer',
    token: document.getElementsByName('csrfmiddlewaretoken')[0].value,
    uiActions: [
      {
        id: 'action-info',
        tooltipContent: 'Information',
        onClick: () => UIkit.modal('#modal-info').show(),
        icon: "<span uk-icon='icon: info'></span>"
      }, {
        id: 'action-search',
        tooltipContent: 'Search within this volume',
        onClick: () => UIkit.modal('#modal-search').show(),
        icon: "<span uk-icon='icon: search'></span>"
      }, {
        id: 'action-links',
        tooltipContent: 'Get URLs',
        onClick: () => UIkit.modal('#modal-urls').show(),
        icon: "<span uk-icon='icon: link'></span>"
      }, {
        id: 'action-visibility',
        tooltipContent: 'Layer Visibility',
        onClick: () => UIkit.modal('#modal-visibility').show(),
        icon: "<span uk-icon='icon: eye-slash'></span>"
      }
    ]
  };

  {% if not user.is_anonymouns %}
    options.user = {
      id: '{{user.get_username}}',
      displayName: '{{user.name}}'
    };
  {% endif %}

  ECDSAnnotator.init(options);
}
</script>

<script type="text/javascript">
  {% if request.GET.q in request.get_full_path %}
    UIkit.offcanvas($('#offcanvas-usage')).show();
    fetchResults();
    // document.getElementById('manifest-search-form').submit();
  {% endif %}
</script>
{% endblock extra_javascript %}