{% extends "base.html" %}
{% load static i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block extra_css %}

<style>
  #rx-nav {
    display: none;
  }
</style>
{% endblock extra_css %}

{% block content %}

{{ json_data|json_script:"context" }}
{% block inner %}

<!-- reader's navbar -->
<nav uk-navbar>
  <div class="uk-navbar-left">
    <a href="/" alt="Readux Logo/Home"><img src="{% static 'images/readux-graphics.svg'%}" style="height: 40px;"></img></a>
    <ul class="rx-page-breadcrumb long-and-truncated uk-margin-left">
      <li class="rx-page-breadcrumb-item"><a href="/{{ collectionlink.slug }}" alt="Collections">Collections</a></li>
      {% if volume.collections.first.pid %}
      <li class="rx-page-breadcrumb-item"><a href="{% url 'collection' volume.collections.first.pid %}"
          alt="Collections">{{ volume.collections.first.label }}</a>
      </li>
      {% else %}
      <li class="rx-page-breadcrumb-item"><a class="nav-link" href="/{{ volumelink.slug }}">All Volumes</a></li>
      {% endif %}
      <li> {{volume.label}}</li>
    </ul>
  </div>
  <div class="uk-navbar-center">
    <a href="#modal-full" uk-toggle uk-icon="icon: info" uk-tooltip="title: Additional information about this volume, such as annotations and attribution.; pos: bottom"></a>
  </div>
  <div class="uk-navbar-right">
    <div class="rx-page-breadcrumb">
      <a href="/search/" aria-label="fudiv site search" title="Full Site Search"
        uk-tooltip="title: Full Site Search; pos: right">
        <span class="uk-icon uk-margin-small-right" aria-hidden="true" uk-icon="icon: search"></span>
      </a>
      <a class="{% if url_name == 'index' %}uk-active{% endif %}" uk-tooltip="title: Django admin; pos: right"
        aria-label="link to the django admin" title="Access Django Admin Site" href="/admin/">
        <span class="uk-user uk-margin-small-right" aria-hidden="true" uk-icon="icon: cog"></span>
      </a>
      <a class="{% if url_name == 'index' %}uk-active{% endif %}" uk-tooltip="title: Your account; pos: right"
        aria-label="link to your account page" title="Your Account Details" href="{% url 'users:update'  %}">
        <span class="uk-icon uk-margin-small-right" aria-hidden="true" uk-icon="icon: user"></span>
      </a>
    </div>
  </div>
</nav>
<!-- reader's navbar -->





<div id="modal-full" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-full uk-padding uk-close-large" type="button" uk-close></button>
      
      <div class="uk-grid-collapse uk-flex-middle uk-grid-stack" >
      <div class="uk-background-cover uk-width-1-1" uk-height-viewport="" style="min-height: max(0px, 630.4px);">
          <div class="uk-padding">
          <h1 class="uk-margin-bottom uk-text-large uk-text-bold">Additional Information</h1>
          <div uk-grid>
              <ul class="uk-tab-left uk-width-auto@m" uk-tab="connect: #volume-modal">
              <li class="uk-active"><a href="#" class="uk-align-right uk-margin-small uk-text-bold">Search</a></li>
              <li><a href="#" class="uk-align-right uk-margin-small uk-text-bold">Annotations</a></li>
              <li><a href="#" class="uk-align-right uk-margin-small uk-text-bold">Volume Information</a></li>
              <li><a href="#" class="uk-align-right uk-margin-small uk-text-bold">Attribution</a></li>
              <li><a href="#" class="uk-align-right uk-margin-small uk-text-bold">URLs</a></li>
              </ul>
              
              <ul id="volume-modal" class="uk-switcher uk-width-expand@m uk-padding-small-left">
              <li tab-name="annotations" class="">
                  {% include '_page/_search.html' %}
              </li>
              
              <li tab-name="annotations" class="uk-grid">
                  {% include '_page/_annotations.html' %}
              </li>
              
              <li tab-name="basic information">
                  {% include '_page/_information.html' %}
              </li>
              
              <li tab-name="attribution">
                  {% include '_page/_attribution.html' %}
              </li>
              
              <li tab-name="urls">
                  {% include '_page/_urls.html' %}
              </li>
              </ul>
          </div>
          </div>
      </div>
  </div>
  </div>
</div>






<!-- This is the modal -->
<div id="rx-page-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" aria-label="close sign in modal" type="button" uk-close></button>
    <section class="uk-modal-header">
      <h2 class="uk-modal-title uk-text-center">
        {% if user.is_authenticated %}
        Connect Accounts
        {% else %}
        Sign in
        {% endif %}
      </h2>
    </section>
    {% include "snippets/socialaccount_buttons.html" %}
  </div>
</div>
{% endblock %}

{% endblock content %}

{% block viewer %}

<div class="rdx-viewer-container">
  <div id="rdx-viewer" role="region"></div>
</div>


{% if page.pid is not None %}

<!--
        <p id="test"></p>
        <a class="facebook" href='http://www.facebook.com/sharer.php?s=100&p[url]=http://{{ request.META.HTTP_HOST }}{{ request.path }}&p[images][0]{{ page.IIIF_IMAGE_SERVER_BASE }}{{ page.pid }}/full/600,/0/default.jpg' target="_blank">
        <img src="https://www.cabq.gov/culturalservices/biopark/images/share-on-facebook.png/@@images/image.png" title="Facebook" alt="Facebook" ></a>
-->
{% endif %}

{% endblock viewer %}

{% block extra_javascript %}

<!-- <script src="{% static 'js/ecds-annotator.min.js' %}"></script> -->
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.js"
  crossorigin="anonymous"></script>

<script type="text/javascript">
  function showOCR() {
    const nodeList = document.querySelectorAll("div.openseadragon-canvas div span");
    for (let i = 0; i < nodeList.length; i++) {
      nodeList[i].style.backgroundColor = "white";
      nodeList[i].style.fontWeight = "bold";
      nodeList[i].style.color = "rgb(149, 9, 83)";
    }
}
</script>

<script type="text/javascript">
  function hideOCR() {
    const nodeList2 = document.querySelectorAll("div.openseadragon-canvas div span");
    for (let i = 0; i < nodeList2.length; i++) {
      nodeList2[i].style.backgroundColor = "transparent";
      nodeList2[i].style.fontWeight = "";
      nodeList2[i].style.color = "transparent";
    }
}
</script>

<script type="text/javascript">
window.onload = function() {
  const options = {
    manifest: 'https://{{ request.META.HTTP_HOST }}/iiif/v3/{{ volume.pid }}/manifest',
    id: 'rdx-viewer',
    token: document.getElementsByName('csrfmiddlewaretoken')[0].value
  };

  {% if not user.is_anonymouns %}
    options.user = {
      id: '{{user.get_username}}',
      displayName: '{{user.name}}'
    };
  {% endif %}

  ECDSAnnotator.init(options);
}
</script>
<script type="text/javascript">

  {% if request.GET.q in request.get_full_path %}
    UIkit.offcanvas($('#offcanvas-usage')).show();
    fetchResults();
    // document.getElementById('manifest-search-form').submit();

  {% endif %}
</script>
{% endblock extra_javascript %}
