{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
<link href="{% static 'mirador/css/mirador-combined.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}

<h1 class='uk-text-truncate'>
  {{volume.label}}
</h1>
  <form class="uk-search uk-search-default">
      <span uk-search-icon></span>
      <input class="uk-search-input" type="search" placeholder="Search this volume...">
  </form>
{% endblock content %}
{% block viewer %}
  <div class='uk-flex-center' uk-grid>
    <div class='uk-width-3-4'>
      <div  id='viewer'></div>

    </div>
    <div class='uk-width-1-4'>
      <div class='uk-padding'>
        <b>Author:</b> {{ volume.author }}
        <br />
        <b>Publication Date:</b> {{ volume.published_date }}
        <br />{% for col in volume.collections.all %}
        <b>Collection:</b> <a class="nav-link" href="{% url 'collection' col.pid %}">{{ col.label }}</a>{% endfor %}
        <br />
        <b>Publisher:</b> {{ volume.published_city }} : {{ volume.publisher }}
        <ul>
          {% for note in volume.note_set.all %}
          <li>
            {{ note.label }}
          </li>
          {% endfor %}
        </ul>
        <br />{% for col in volume.collections.all %}
        <b>Manifest URL:</b> <a href="https://{{ request.META.HTTP_HOST }}{% url 'ManifestRender' 'v2' volume.pid %}" target="_blank">https://{{ request.META.HTTP_HOST }}{% url 'ManifestRender' 'v2' volume.pid %}</a>
        <br />
        <b>Collection Manifest URL:</b> <a href="https://{{ request.META.HTTP_HOST }}{% url 'CollectionRender' 'v2' col.pid %}" target="_blank">https://{{ request.META.HTTP_HOST }}{% url 'CollectionRender' 'v2' col.pid %}</a>
        <br />
        <br />
        <b>View PDF:</b> <a href="{{volume.pdf}}" target="_blank">Click to view volume PDF</a>
        <br />
        <br />
        <b>Export Citation:</b> <a href="https://{{ request.META.HTTP_HOST }}{% url 'ris' volume.pid %}" target="_blank">Click to download RIS file</a>
        <br />
        <b>Stable volume URL:</b> <a href="https://{{ request.META.HTTP_HOST }}{% url 'volume' volume.pid %}" target="_blank">https://{{ request.META.HTTP_HOST }}{% url 'volume' volume.pid %}</a>
        <br />
        <b>Canvas URL:</b> <span class="link" id="myLink"></span>
        <br />
        <b>Stable page URL:</b> <span class="link" id="mySpan"></span>
        <br />
        {% if user_annotation_count > 0 %}
        <form action="{% url 'export' volume.pid %}" class="button_to" method="GET"><div><input type="submit" value="Export" title="Export in a variety of formats"/>{% csrf_token %}</div></form>
        {% endif %}
<!-- 
        <p id="test"></p>
        <a class="facebook" href='http://www.facebook.com/sharer.php?s=100&p[url]=http://{{ request.META.HTTP_HOST }}{{ request.path }}&p[images][0]{{ page.IIIF_IMAGE_SERVER_BASE }}{{ page.pid }}/full/600,/0/default.jpg' target="_blank">
        <img src="https://www.cabq.gov/culturalservices/biopark/images/share-on-facebook.png/@@images/image.png" title="Facebook" alt="Facebook" ></a>
 -->
        {% endfor %}
      </div>

      <!-- start ocr el -->
      <div id='ocr' style='opacity: 0;'>

  </div>
      <!-- end ocr el -->
    </div>
  </div>
{% endblock viewer %}
{% block extra_javascript %}
<script src="{% static 'mirador/mirador.js' %}"></script>
<script type="text/javascript">
  $(function() {
    m = Mirador({
      "id": "viewer",
      "layout": "1x1",
      "data": [
        {
          "manifestUri": "https://{{ request.META.HTTP_HOST }}/iiif/v2/{{ page.manifest.pid }}/manifest", "location": "Emory University"
        }
      ],
      'windowSettings' : {
        "overlay" : true,
        "canvasControls": {
        // "annotations" : {
        //   "annotationLayer" : true,
        //   "annotationCreation" : true,
        //   "annotationState" : 'on',
        //   "annotationRefresh" : false
        //   }
        }
      },
      "windowObjects": [{
        loadedManifest: "https://{{ request.META.HTTP_HOST }}/iiif/v2/{{ page.manifest.pid }}/manifest",
        annotationLayer: true,
        annotationCreation: true,
        annotationState: 'annoOncreateOn',
        canvasID: 'https://{{ request.META.HTTP_HOST }}/iiif/{{page.manifest.pid }}/canvas/{{ page.pid }}'
      }],
      "annotationEndpoint": { "name":"Readux", "module": "ReaduxEndpoint" }
    });


    // var elt = document.getElementById('ocr-el');
    // var osd = OpenSeadragon({id: m.viewer.id});
    // osd.addOverlay({
    //   element: elt,
    //   location: new OpenSeadragon.Rect(281, 767, 825, 45),
    //   css: 'color: red;'
    // });
    // osd.addHandler('animation', function(e) {console.log(e)})
  });


(function($) {

  $.OcrLayer = function(options) {

    jQuery.extend(true, this, {
      viewer:            null,
      selected:          null,
      hovered:           null,
      windowId:          null,
      element:           null,
      eventEmitter:      null
    }, options);

    this.init();
  };

  $.OcrLayer.prototype = {
    init: function() {
      var _this = this;
      console.log('this', this);
    }
  }
}(Mirador));
  // UIkit.offcanvas(document.getElementById('offcanvas-flip')).show()
</script>
<script>
// OpenSeadragon SVG Overlay plugin 0.0.5

(function() {

var $ = window.OpenSeadragon;

if (!$) {
    $ = require('openseadragon');
    if (!$) {
        throw new Error('OpenSeadragon is missing.');
    }
}

var svgNS = 'http://www.w3.org/2000/svg';

// ----------
$.Viewer.prototype.readuxSvgOverlay = function() {
    if (this._readuxSvgOverlayInfo) {
        return this._readuxSvgOverlayInfo;
    }

    this._readuxSvgOverlayInfo = new ReaduxOverlay(this);
    return this._readuxSvgOverlayInfo;
};

// ----------
var ReaduxOverlay = function(viewer) {
    var self = this;

    this._viewer = viewer;
    this._containerWidth = 0;
    this._containerHeight = 0;

    this._svg = document.createElementNS(svgNS, 'svg');
    this._svg.style.position = 'absolute';
    this._svg.style.left = 0;
    this._svg.style.top = 0;
    this._svg.style.width = '100%';
    this._svg.style.height = '100%';
    this._viewer.canvas.appendChild(this._svg);

    this._node = document.createElementNS(svgNS, 'g');
    this._svg.appendChild(this._node);

    this._viewer.addHandler('animation', function() {
        self.resize();
    });

    this._viewer.addHandler('open', function() {
        self.resize();
    });

    this._viewer.addHandler('rotate', function(evt) {
        self.resize();
    });

    this._viewer.addHandler('resize', function() {
        self.resize();
    });

    this.resize();
};

// ----------
ReaduxOverlay.prototype = {
    // ----------
    node: function() {
        return this._node;
    },

    // ----------
    resize: function() {
        if (this._containerWidth !== this._viewer.container.clientWidth) {
            this._containerWidth = this._viewer.container.clientWidth;
            this._svg.setAttribute('width', this._containerWidth);
        }

        if (this._containerHeight !== this._viewer.container.clientHeight) {
            this._containerHeight = this._viewer.container.clientHeight;
            this._svg.setAttribute('height', this._containerHeight);
        }

        var p = this._viewer.viewport.pixelFromPoint(new $.Point(0, 0), true);
        var zoom = this._viewer.viewport.getZoom(true);
        var rotation = this._viewer.viewport.getRotation();
        // TODO: Expose an accessor for _containerInnerSize in the OSD API so we don't have to use the private variable.
        var scale = this._viewer.viewport._containerInnerSize.x * zoom;
        this._node.setAttribute('transform',
            'translate(' + p.x + ',' + p.y + ') scale(' + scale + ') rotate(' + rotation + ')');
    },

    // ----------
    onClick: function(node, handler) {
        // TODO: Fast click for mobile browsers

        new $.MouseTracker({
            element: node,
            clickHandler: handler
        }).setTracking(true);
    }
};

})();

</script>
{% endblock extra_javascript %}
