{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Readux site admin') }}{% endblock %}

{% block extrastyle %}
    {# <link href="{% static 'eultheme/css/bootstrap.min.css' %}" rel="stylesheet"/> #}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Readux administration') }}</a></h1>
{% endblock %}

{% block nav-global %}
<ul>
    <li><a href="{% url 'site-index' %}">Home</a></li>
</ul>
{% endblock %}