.full-width-bg {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 50vh;
    color: white;
}

.overlay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    height: 50vh;
    width: 33%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    box-sizing: border-box;
    min-height: 0;
}

.overlay h1 {
    font-size: 2rem;
    /* Reduced title size */
    margin-bottom: 15px;
}

.overlay p {
    font-size: 1rem;
    /* Adjusted font size */
    line-height: 1.5;
    /* Reduced line-height */
}

.description-button {
    margin-top: 20px;
    background-color: #E60000;
    /* Removed gradient background */
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    border-radius: 5px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

// .uk-button-default {
//     background-color: #222; /* Removed gradient background */
//     border: none;
//     color: white;
// }

.modal-bg {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.6);
    /* Dark overlay */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay h2,
.modal-overlay p {
    position: relative;
    z-index: 1;
}

.uk-modal-close-full {
    color: white;
    /* Set the close button color to white */
    background: none;
    /* Remove the background */
    border: none;
    /* Remove any borders */
}