.navigation-wrapper {
  margin-left: -2rem;
}
.navigation {
  background-color: #F1FAEE;
  padding: 30px;
  position: sticky;
  top: 20px;
  border-radius: 10px 10px; /* Rounded corners on the right-hand side */
  width: auto; /* Fit to content width */
}
.navigation a {
  color: #1D3557;
  text-decoration: none;
  display: block;
  padding: 5px 15px !important;
  position: relative;
  font-weight: normal;
  font-size: medium;
}
.navigation a.active {
  font-weight: bold; /* Bold text for active item */
  color: #1D3557;
  &:hover {
    color: darken(#1D3557, 10%) !important;
  }
}
.navigation a.active::before {
  content: '';
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 75%;
  width: 4px;
  background-color: #1D3557;
}
.content {
  padding: 40px;
}
.section {
  padding-bottom: 40px;
}
.static-content-title {
  font-weight: bold;
  margin: unset;
}
.content p, .content ul {
  margin-top: 0;
  margin-bottom: 1rem;
  color: black;
}
.content ol, .content li {
  margin-top: 0;
  color: black;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-top: 1.25rem !important;
  margin-bottom: 0.5rem !important;
}
.content ul:first-of-type, .content li:first-of-type, .content p:first-of-type {
  margin-top: 0;
}
.content li:last-of-type {
  margin-bottom: 0;
}

/* a series of indentation for the side nav headers */
.indent-h1 a {
  color: #1d3557 !important;
  // font-size: 1.5rem;
}
.indent-h2 a {
  color: #1d3557 !important;
  // font-size: 1.25rem;
}
.indent-h3 a {
  color: #1d3557 !important;
  // font-size: 1.0rem;
  margin-left: 1.5rem;
}
.indent-h4 a {
  color: #1d3557 !important;
  // font-size: 0.85rem;
  margin-left: 2.5rem;
}