{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="rx-head-container">
    <div class="rx-title-container" uk-sticky="offset: 80">
      <ul class="rx-breadcrumb">
        <li class="rx-breadcrumb-item"><a href="/" alt="Home">Home</a></li>
        <li class="rx-breadcrumb-item">My Account</li>
      </ul>
  
      <div class="rx-title">
        {% if object.name %}
          Hello, {{ object.name }}!
        {% else %}
          Hello!
        {% endif %}
      </div>
      <div class="rx-title-tagline">
        {{ object.username }}
      </div>
    </div>
  
    <p>{{ page.paragraph }}</p>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


{% endblock content %}

