{% extends "user/account.html" %}

{% block www_hd_title %}{% trans "Account Settings » Your Account Preferences" %}{% endblock www_hd_title %}

{% block www_content_box_2 %}

<div class="group_outter_box">
    <div class="title">Account Preferences<i class="fa fa-cogs pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix nohover">
                <form class="form-horizontal"  action="{% url 'profileware_preferences_update' %}" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <fieldset>
                        {{ form.as_p }}
                    </fieldset>
                    <input class="btn" type="submit" value="{% trans "Save" %}" />
                </form>
            </li>
            <li class="clearfix">
                <i class="fa fa-hand-o-right info"></i>
                This is your account preference section. Set your preferences based on your needs.
                <div class="pull-right">{% include "base/utils/problem_feature.html" %}</div>
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_2 %}
