{% extends "user/account.html" %}

{% block www_hd_title %}{% trans "Account Settings » Your Profile" %}{% endblock www_hd_title %}

{% block www_content_box_2 %}

<div class="group_outter_box">
    <div class="title">Company Profile<i class="icon-building pull-right"></i></div>
    <div class="group_inner_box">
        <ul class="group_list">
            <li class="clearfix">
                <form class="form-horizontal"  action="{% url 'profileware_company_update' %}" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <fieldset>
                        {{ form.as_p }}
                    </fieldset>
                    <input class="btn" type="submit" value="{% trans "Save" %}" />
                </form>
                <div class="popover_info_box popover_small pull-left">
                    <div rel="popover" data-original-title="Your Company Profile" data-trigger="hover" data-placement="right"
                        data-content="If you have a company of your own or representing one, you are encouraged to fill out the company details on this page."
                      <i class="icon-info-sign icon-large center info"></i>
                    </div>
                </div>
                <div class="pull-right">{% include "base/gist/bd_report_problems.html" %}</div>
            </li>
        </ul>
    </div>
</div>

{% endblock www_content_box_2 %}
