{% extends "user/account.html" %}

{% block www_hd_title %}{% trans "Account Settings » Location" %}{% endblock www_hd_title %}

{% block www_content_box_2 %}

    {% include "base/gist/initialize.html" %}
    <script src="{{ STATIC_URL }}common/js/geo/map_location.js"></script>

    <div class="group_outter_box">
        <div class="title">Location
            <span class="text">
                <span id="id_location_title_header">
                    {% if initial_location.location %}
                        ( {{initial_location.location}} ) 
                        [ {{initial_location.lat}}<strong>&deg; N</strong>, {{initial_location.lng}}<strong>&deg; W</strong> ]
                    {% else %}
                        ( required )
                    {% endif %}
                </span>
                <img id="id_location_title_image" class="pull-right" rel="tooltip" data-placement="left" data-original-title="Your Country" src="{{ SITE_COMMON_DOWNLOADABLE_STATIC_URL }}images/flags/{{initial_location.country|lower}}_24.png">                
            </span>
        </div>
        <div class="group_inner_box">
            <ul class="group_list">
                <li class="clearfix nohover">
                    <div id="map_box_location" class="pull-left">
                        <form id="location_map_form" class="form-horizontal"  action="{% url 'profileware_update_location' %}" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <fieldset>
                                {{ form.as_p }}
                            </fieldset>
                        </form>
                        <form class="form-horizontal"  action="" onsubmit="return false;">
                            <ul id="map_error" class="errorlist"><li>No Errors!</li></ul>
                            <fieldset>
                                <div id='profile_location_update' class="input-prepend input-append location_text_box">
                                    <span class="add-on"><i class="icon-map-marker danger"></i></span>
                                    <input id="id_location_text_box" class="span2 bold" maxlength="100" name="location_text" placeholder="Enter your city, region or country" type="text" autocomplete="off">
                                    <span id='profile_location_update_btn' class="add-on btn">save</span>
                                </div>
                            </fieldset>
                        </form>
                        <div id="map_canvas" class="goesearch"></div>
                    </div>
                </li>
                <li class="clearfix nohover">
                    <div class="pull-left">
                        <i class="icon-hand-right info"></i>
                        Please type in your <strong class="black">address</strong>, or drag the <strong class="black">map</strong>, or drag the <strong class="black">house</strong> marker to your current location.
                        <br/>
                        <i class="icon-hand-right info"></i>
                        Location can be your <strong class="attention">place of work</strong>, <strong class="attention">city</strong> or the <strong class="attention">neighborhood</strong> you live in.
                        <br/>
                    </div>
                    <div class="pull-right">{% include "base/gist/bd_report_problems.html" %}</div>
                </li>
            </ul>
        </div>
    </div>

{% endblock www_content_box_2 %}



