{% extends "user/account.html" %}

{% block www_hd_title %}{% trans "Account Settings" %} » ( {{trac_type}} ){% endblock www_hd_title %}

{% block www_content_box_2 %}

<div class="group_outter_box">
    <div class="title">
        {% if trac_type.lower == 'follow' %}
            Following <span class="text">( people you are following )</span><i class="icon-user pull-right"></i><i class="icon-arrow-right pull-right"></i>
            {% setvar trac_type_empty_message to 'You are not <strong class="">following</strong> anyone yet.' %}
            {% setvar trac_type_popover_header to 'Following' %}
            {% setvar trac_type_popover_messagge to 'You can <strong>follow</strong> other members and get notified of any changes to their profile and status. This page contains the list of people you are following. Your followings are public.' %}
        {% elif trac_type.lower == 'like' %}
            Liked <span class="text">( things you have liked )</span><i class="icon-star pull-right"></i>
            {% setvar trac_type_empty_message to 'You have not <strong class="">liked</strong> anything yet.' %}
            {% setvar trac_type_popover_header to 'Liked' %}
            {% setvar trac_type_popover_messagge to 'You can <strong>like</strong> profiles or pages. This is a great way to show your support by liking (+1) them. This page contains the list of people / pages you have liked. Your likes are public.' %}
        {% elif trac_type.lower == 'bookmark' %}
            Bookmarked <span class="text">( your bookmark list )</span><i class="icon-bookmark pull-right"></i>
            {% setvar trac_type_empty_message to 'You have not <strong class="">bookmarked</strong> anything yet.' %}
            {% setvar trac_type_popover_header to 'Bookmark' %}
            {% setvar trac_type_popover_messagge to 'You can <strong>bookmark</strong> profiles or pages. This is a great way to remember them for later viewing.  This page contains the list of people / pages you have bookmarked. Your bookmarks are private.' %}
        {% endif %}
    </div>
    <div class="group_inner_box">
        <ul class="group_list trac_info" fixed-li-num="2" writable-ul='true'>
            {% for trac in follow %}
                <li class="clearfix nohover">
                    {% gravatar_img trac.content_object.personal_gravatar 24 pg %} 
                    <a class="info capitalize" href="{{trac.content_object.get_absolute_url}}">{{trac.content_object.get_full_name}}</a> ( {{trac.content_object.username}} )
                    <div class="pull-right">
                        <span class="status_ajax_loader"><img src="{{ SITE_COMMON_DOWNLOADABLE_STATIC_URL }}images/icons/ajax_loader_red.gif" /></span>
                        <a href="{% url 'tracware_toggler_ajax_url' %}" {{trac.content_object|trac_data_tags_on:trac_type}} class="">
                            <button class="btn checkbox tracbox toggle" rel="tooltip" data-placement="left" data-original-title="stop following">
                                <i class="icon-check icon-large center info"></i>&nbsp;<span>Follow</span>
                            </button>
                        </a>
                    </div>
                </li>
            {% endfor %}
            {% for trac in like %}
                <li class="clearfix nohover">
                    {% gravatar_img trac.content_object.personal_gravatar 24 pg %} 
                    <a class="info capitalize" href="{{trac.content_object.get_absolute_url}}">{{trac.content_object.get_full_name}}</a> ( {{trac.content_object.username}} )
                    <div class="pull-right">
                        <span class="status_ajax_loader"><img src="{{ SITE_COMMON_DOWNLOADABLE_STATIC_URL }}images/icons/ajax_loader_red.gif" /></span>
                        <a href="{% url 'tracware_toggler_ajax_url' %}" {{trac.content_object|trac_data_tags_on:trac_type}} class="">
                            <button class="btn checkbox tracbox toggle" rel="tooltip" data-placement="left" data-original-title="stop liking">
                                <i class="icon-check icon-large center green"></i>&nbsp;<span>Like</span>
                            </button>
                        </a>
                    </div>
                </li>
            {% endfor %}
            {% for trac in bookmark %}
                <li class="clearfix nohover">
                    {% gravatar_img trac.content_object.personal_gravatar 24 pg %} 
                    <a class="info capitalize" href="{{trac.content_object.get_absolute_url}}">{{trac.content_object.get_full_name}}</a> ( {{trac.content_object.username}} )
                    <div class="pull-right">
                        <span class="status_ajax_loader"><img src="{{ SITE_COMMON_DOWNLOADABLE_STATIC_URL }}images/icons/ajax_loader_red.gif" /></span>
                        <a href="{% url 'tracware_toggler_ajax_url' %}" {{trac.content_object|trac_data_tags_on:trac_type}} class="">
                            <button class="btn checkbox tracbox toggle" rel="tooltip" data-placement="left" data-original-title="remove bookmark">
                                <i class="icon-check icon-large center gold"></i>&nbsp;<span>Bookmark</span>
                            </button>
                        </a>
                    </div>
                </li>
            {% endfor %}
            <li class="clearfix information_list_element hidden_element"><i class="icon-hand-right danger"></i> {{trac_type_empty_message}}</li>
            <li class="clearfix">
                <div class="popover_info_box popover_small pull-left">
                    <div rel="popover" data-original-title="{{trac_type_popover_header}}" data-trigger="hover" data-placement="right" data-content="{{trac_type_popover_messagge}}"
                      <i class="icon-info-sign icon-large center info"></i>
                    </div>
                </div>
                <div class="pull-right">{% include "base/gist/bd_report_problems.html" %}</div>
            </li>
        </ul>
    </div>
</div>

{% if not follow and not bookmark and not like %}
<script>
$(document).ready(function(){
    $('ul.trac_info').children('.information_list_element').removeClass('hidden_element')
});
</script>
{% endif %}

{% endblock www_content_box_2 %}
