{% extends 'site_base.html' %}

{% block page-subtitle %} | Collections{% endblock %}

{% block content %}
<div class="container">
    <header class="page-header" id="collection-header">
        <h1>Collections</h1>
        <p class="lead">Digital archives grouped by topic or assortment.</p>
    </header>

    {% include "snippets/coverlist_toggle.html" %}
    <section class="collections">
            <div class="container coverlist-toggle">

            {# thumbnail view #}
            <div id="cover-list" class="item-covers">
                <ul class="media-list collection-list cover-view">
                    {% for coll, count in collections %}
                       {% if count %} {# don't display empty collections #}
                           {% include 'collection/snippets/list_collection_cover.html' %}
                       {% endif %}
                   {% endfor %}
               </ul>
           </div>

            {# list view #}
            <div id="collection-list" class="item-list hidden">
                <ul class="media-list collection-list">
                    {% for coll, count in collections %}
                        {% if count %} {# don't display empty collections #}
                            {% include 'collection/snippets/list_collection.html' %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div><!-- /.container-->
    <section>
</div>
{% endblock %}