{% extends 'site_base.html' %}

{% block page-subtitle %} | Collections{% endblock %}

{% block content %}
<div class="container">
    <header class="page-header">
        <h1>Collections</h1>
    </header>
    <section>
        <div class="container">
            <ul class="media-list collection-list">
                {% for coll, count in collections %}
                    {% include 'collection/snippets/list_collection.html' %}
                {% endfor %}
            </ul>
        </div><!-- /.container-->
    <section>
</div>
{% endblock %}