{% extends 'site_base.html' %}
{% load humanize %}

{% block page-subtitle %}{{ collection.short_label }} Collection | {% endblock %}

{% block head_extras %}
  <link rel="unapi-server" type="application/xml" title="unAPI" href="{% url 'books:unapi' %}" />

 {% if collection.banner or collection.cover %}
  <style type="text/css">
    header#page-bg{
      {% if collection.banner %}
      background-image:url({{ collection.banner.get__blurred__banner }});
      {% else %}  {# use cover image as fallback if banner is not set #}
      background-image:url({{ collection.cover.get__blurred__banner }});
      {% endif %}
    }
  </style>
 {% endif %}
{% endblock %}

{% block metadata %}
    {{ block.super }}
    <meta property="og:title" content="{{ collection.short_label }}"/>
    <meta itemprop="og:headline" content="{{ collection.short_label }}" />

    {% if collection.banner %}
    <meta property="twitter:image" content="http://{{request.get_host}}{{collection.banner.get__blurred__banner }}"/>
    <meta property="og:image" content="http://{{request.get_host}}{{collection.banner.get__blurred__banner }}"/>
    {% else %}  
    <meta property="twitter:image" content="http://{{request.get_host}}{{collection.cover.get__blurred__banner }}"/>
    <meta property="og:image" content="http://{{request.get_host}}{{collection.cover.get__blurred__banner }}"/>
    {% endif %}
    
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ collection.short_label }}" />
    <meta property="twitter:description" content="{{collection.dc.content.description}}" />
    <meta property="twitter:url" content="{{request.build_absolute_uri}}" />
{% endblock %}

{% block body_attrs %} typeof="schema:CollectionPage"{% endblock %}

{% block content %}
<header class="page-header" id="page-bg">
  <div class="container">
    <div class="page-breadcrumbs">
      <div class="container">
          <div class="row">
              {# breadcrumb with collection hierarchy #}
              <ol class="breadcrumb">
                <li><a href="{% url 'collection:browse' %}">Collections</a></li>
                <li class="active">{{ collection.short_label }}</li>
            </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <h1 property="schema:name">{{ collection.short_label }}</h1>
      {% if collection.dc.content.description %}
        <p property="schema:description">{{ collection.dc.content.description }}</p>
      {% endif %}
  </div>

  <div class="collection-image-info collasped">
      {% if collection.banner %}
        <h3>{{ collection.banner.title }}</h3>
        <div class="info">
          <p>{{ collection.banner.caption }}</p>
          <p class="small credit">{{ collection.banner.credit }}</p>
        </div>
      {% else %}
        <h3>{{ collection.cover.title }}</h3>
        <div class="info">
          <p>{{ collection.cover.caption }}</p>
          <p class="small credit">{{ collection.cover.credit }}</p>
        </div>
      {% endif %}
  </div>

</header>
<div class="container">
    <section class="collection-section">
      {% if items.paginator.count %}
        <h2 class="section-heading">{{ items.paginator.count|intcomma }} volume{{ items.paginator.count|pluralize }} in this collection</h2>
        <p class="lead">
            {% if items.has_other_pages and items.object_list|length > 1 %}
            displaying {{ items.start_index|intcomma }} - {{ items.end_index|intcomma }}{% endif %}
            {# if more than one item on this page, display range of results #}
        </p>
        <div class="row">
            <div class="col-xs-5 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-2 col-md-offset-5">
                {% if items.has_other_pages %}
                   {% include 'eultheme/snippets/pagination_dropdown.html' with results=items %}
                {% endif %}
            </div>
            <div id="view-toggle" class="pull-right padding">
                {% include "collection/snippets/collection_coverlist_toggle.html" %}
            </div>
        </div>
        
        {% include 'books/snippets/show_volumes.html' with show_collection='False' %}

      {% else %}
        <h2 id="no-results-found">No volumes in this collection.</h2>
      {% endif %}

    {% if items.has_other_pages %}
      {% include 'eultheme/snippets/pagination_all_pages.html' with results=items %}
    {% endif %}

    <section>
</div>
{% endblock %}