{% extends 'site_base.html' %}
{% load humanize %}

{% block page-subtitle %} | Collections | {{ collection.short_label }}{% endblock %}

{% block content %}
<div class="container">
    <header class="page-header">
        <h1>{{ collection.short_label }}</h1>

        <div class="page-breadcrumbs">
            <div class="container">
                <div class="row">
                    {# breadcrumb with collection hierarchy #}
                    <ol class="breadcrumb">
                      <li><a href="{% url 'collection:browse' %}">Collections</a></li>
                      <li class="active">{{ collection.short_label }}</li>
                  </ol>
              </div>
          </div>
      </div>

    {% if items.paginator.count %}
    <h2 class="section-heading">{{ items.paginator.count|intcomma }} volume{{ items.paginator.count|pluralize }} in this collection</h2>
    <p class="lead">
        {% if items.has_other_pages and items.object_list|length > 1 %}
        displaying {{ items.start_index|intcomma }} - {{ items.end_index|intcomma }}{% endif %}
        {# if more than one item on this page, display range of results #}
    </p>
    {% else %}
    <h2 id="no-results-found">No volumes in this collection.</h2>
    {% endif %}
    </header>
    <section>
        <div class="container">
            <ul class="media-list">
              {% for obj in items.object_list %}
                {% include 'books/snippets/list_volume.html' %}
              {% endfor %}
            </ul>
        </div><!-- /.container-->

    {% if items.has_other_pages %}
      {% include 'eultheme/snippets/pagination_all_pages.html' with results=items %}
    {% endif %}

    <section>
</div>
{% endblock %}