{% comment %} Display filters that are currently in effect, with a link to remove.
Expects a list of tuples, with field, value, and remove link. If value is not empty,
it will be displayed; otherwise the field will be displayed.{% endcomment %}
{% if filters %}
  <div class="facets active-filters">
    <ul class="nav nav-pills">
     {% for field, val, rm_link in filters %}
     {# if field has a value, display that (e.g. collection name); otherwise show field (e.g., read online) #}
       <li><a href="?{{ rm_link }}">{% firstof val field %} <span class="glyphicon glyphicon-remove"></span></a></li>
     {% endfor %}
   </ul>
{% endif %}
