{# annotation search form #}
<div class="form-group annotation-search">
  <div class="input-group">
      <label class="sr-only" for="annotation-search">Search annotations on this volume</label>
      <input type="text" class="form-control" placeholder="Search annotations on this volume..." autocomplete="false"/>
      <span class="input-group-btn">
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
            <span class="glyphicon glyphicon-edit"></span>
        </button>
      </span>
  </div>
</div>
