{% comment %}Display available facets to filter the current results.
Expects facet dictionary with collection or read_online facets,
and url_params to generate filtered links.{% endcomment %}
{% load humanize %}
{% if facets %}
<div class="facets">
  {% if show_heading %}<h3>Filter results</h3>{% endif %}

  {% if facets.collection %}
    <ul class="nav nav-pills">
      <li><a href="#" class="disabled pill-text">with collection</a></li>
      {% for label, count in facets.collection %}
      <li><a class="text-center" href="?{{ url_params }}&amp;collection={{ label|urlencode }}">{{ label }}
      <small>({{ count|intcomma }})</small></a> </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if facets.pages_loaded %} {# read online filter #}
    <ul class="nav nav-pills">
        <li><a class="text-center" href="?{{ url_params }}&amp;read_online=1">Read online
            <small>({{ facets.pages_loaded|intcomma }})</small></a> </li>
    </ul>
  {% endif %}
</div>
{% endif %}