{% load static %}
<div class="media">
  <a class="pull-left" href="{% url 'books:volume' obj.pid %}">
    {% if obj.hasPrimaryImage %}
      <img class="media-object" src="{% url 'books:page-mini-thumb' obj.hasPrimaryImage %}"/>

    {% else %}
        <img class="media-object" src="{% static 'img/notfound_mini_thumbnail.png' %}"/>
    {% endif %}
  </a>

    {% if obj.score %}
    {# display numerical score in debug mode #}
    <div class="col-xs-1 pull-right">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ obj.score }}" aria-valuemin="0" aria-valuemax="1.5" style="width:{% widthratio obj.score 1 90 %}%"> </div>
        </div>
        {% if debug %}<p class="pull-right">{{ obj.score }}</p>{% endif %}
    </div>
    {% endif %}

  <div class="media-body">
    <h4 class="media-heading">
        <a href="{% url 'books:volume' obj.pid %}">{{ obj.title|truncatechars:100 }}</a>
        {% if obj.volume %}[{{ obj.volume }}]{% endif %}
        {% if obj.date %}({{ obj.date|join:', ' }}){% endif %}
    </h4>
    <p>{{ obj.creator|join:'; ' }}</p>

    {% if show_collection|default:'True' == 'True' and obj.collection_id and obj.collection_label %}
    <p><b>Collection:</b> <a href="{% url 'collection:view' obj.collection_id %}">{{ obj.collection_label }}</a></p>
    {% endif %}

    {% include 'books/snippets/volume_links.html' with vol=obj small_buttons=True %}
  </div>
</div>




