{# display a single page in volume search results #}
{% load readux_utils %}
<div class="media">
    {% url 'books:page' vol.pid page.pid as page_url %}
    <a class="pull-left" href="{{ page_url }}" title="Page {{ page.page_order }}">
        <img class="thumbnail" src="{% url 'books:page-image' vol.pid page.pid 'mini-thumbnail' %}"/>
    </a>
    {% if page.score %}
    <div class="col-xs-1 pull-right">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ page.score }}" aria-valuemin="0" aria-valuemax="1.5" style="width:{% widthratio page.score 1 90 %}%"> </div>
        </div>
        {# display numerical score in debug mode #}
        {% if debug %}<p class="pull-right">{{ page.score }}</p>{% endif %}
    </div>
    {% endif %}

  <div class="media-body">
    <h4 class="media-heading">
        <a href="{{ page_url }}">Page {{ page.page_order }}</a>
    </h4>

{# NOTE: previously highlights were available on individual result; not available for now, so pulling from full solr result object #}
    {# {% with snippets=page.solr_highlights.page_text %} #}
    {% with snippets=pages.object_list.highlighting|dict_item:page.pid %}
        {% for snip in snippets.page_text %}
            <p>... {{ snip|safe }} ...</p>
        {% endfor %}
    {% endwith %}
  </div>
</div>
