{# list volumes for collection browse or search results: both toggle-able cover and list views #}
<div class="container coverlist-toggle">
      {# list view #}
      {% if mode = 'list' %}
      <div id="volume-list" class="item-list">
        {# <ul class="media-list volume-list"> #}
            {% for obj in items %}
              {% include 'books/snippets/list_volume.html' %}
            {% endfor %}
        {# </ul> #}
    </div>
    {% endif %}

    {# thumbnail view #}
    {% if mode = 'covers' %}
    <div id="cover-list" class="item-covers volume-covers">
        <ul class="media-list cover-view">
            {% for obj in items %}
              {% include 'books/snippets/list_volume_cover.html' %}
             {% endfor %}
       </ul>
     </div>
     {% endif %}

</div><!-- /.container-->
