{# menu to export annotated tei, generate website package #}
{% url 'books:volume' vol.pid as volume_url %}
{% if volume_url in annotated_volumes %}
{# if volume has annotations, give user option to download annotated TEI #}
<div class="dropdown pull-right text-align-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="export-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Export <i class="fa fa-download"></i>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="export-menu">
    <li class="dropdown-header">Annotated edition</li>
    <li><a id="{{ vol.noid }}-tei-export" class="volume-export" href="{% url 'books:annotated-tei' vol.pid %}">TEI</a></li>
    <li><a id="{{ vol.noid }}-static-export" class="volume-export" href="{% url 'books:webexport-static' vol.pid %}">Static website</a></li>
  </ul>
  <p id="export-generating" class="hidden text-info">Generating... <i class="fa fa-cog fa-lg fa-spin"></i></p>
</div>
{% endif %}
