{% comment %} Header for single volume pages: volume landing page, multi-page view, single page view, search results
Expects volume object as vol; set rdfa to true to enable RDFa properties.
{% endcomment %}
{% load widget_tweaks %}

{% url 'books:volume' vol.pid as volume_url %}

<header class="page-header">
    {% if page %}
    <div class="page-search">
      <a class="trigger" href="#">Search this volume</a>
      {% include 'books/snippets/volume_search_form.html' %}
    </div>
    {% endif %}
    <h1>
        {# only link to volume landing page if we are not currently *on* that page #}
        {% if volume_url != request.get_full_path|urlencode %}
          <a href="{{ volume_url }}">
        {% endif %}
            <span {% if rdfa|default:0 %}property="schema:name"{% endif %}>
                {% if volume_url != request.get_full_path|urlencode %}
                    {{ vol.title }}
                {% else %}

                    <span>{{ vol.title_part1}}</span>

                    {% if vol.title_part2 %}
                        <span class="expand"></span>
                        <span class="continued">
                            {{ vol.title_part2 }}
                        </span>
                    {% endif %}

                {% endif %}
                {% if vol.volume %}<span class="small">[{{ vol.volume }}]</span>{% endif %}
                {# NOTE: including volume in title since there isn't another obvious schema.org field to use #}
        </span>
        {% if url != request.get_full_path|urlencode %}</a>{% endif %} {# end volume link #}
    </h1>
    <p class="lead">
        {% for d in vol.date %} {# NOTE: assuming earliest date we have is publication date...  #}
        (<span {% if rdfa|default:0 %}property="schema:datePublished"{% endif %}>{{ d }}</span>){% if not forloop.last %}; {% endif %}
        {# FIXME: or should we use schema:copyrightYear? #}
        {% endfor %}
    </p>
    {% if not page %}
      {% include 'books/snippets/volume_search_form.html' %}
    {% endif %}
</header>

{% if annotation_search_enabled %} {# should be set in the view based on user, presence of annotations #}
{% include 'books/snippets/annotation_search_form.html' %}
{% endif %}
