{# buttons for view pdf and send to voyant #}

{% if vol.has_pages %}
<a class="btn btn-primary{% if small_buttons %} btn-xs{% endif %}" href="{% url 'books:page' vol.primary_image.pid %}">
    <span class="glyphicon glyphicon-book"></span>
    <span>Read online</span>
</a>

<a class="btn btn-default {% if small_buttons %} btn-xs{% endif %}" href="{% url 'books:pages' vol.pid %}">
    <span class="glyphicon glyphicon-book"></span>
    <span>Browse pages</span>
</a>
{% endif %}

<a class="btn {% if vol.has_pages %}btn-default{% else %}btn-primary{% endif %}{% if small_buttons %} btn-xs{% endif %}" href="{% url 'books:pdf' vol.pid %}" title="PDF for {{ vol.title|truncatechars:100 }} {{ vol.volume|default:'' }}">
    <span class="glyphicon glyphicon-file"></span>
    <span>View PDF</span>
</a>

{# link to voyant with full document plain text as input; preset english stopwords for english texts #}
<a href="http://voyant-tools.org/?input={{ vol.fulltext_absolute_url }}{% if "eng" in vol.language %}&amp;stopList=stop.en.taporware.txt{% endif %}"
   title="send text to Voyant" target="_blank" class="btn btn-default{% if small_buttons %} btn-xs{% endif %}">
        <span class="glyphicon glyphicon-send"></span>
        <span>Send to Voyant</span>
</a>

{# unapi id for zotero harvest #}
<abbr class="unapi-id" title="{{ vol.pid }}"></abbr>