{# buttons for view pdf and send to voyant #}

<div class="volume-links">
{% if vol.has_pages %}
{% comment %}
<a class="btn btn-primary{% if small_buttons %} btn-xs{% endif %}" href="{% url 'books:page' vol.pid vol.primary_image.pid %}">
    <span class="glyphicon glyphicon-book"></span>
    <span>Read online</span>
</a>{% endcomment %}

<a class="btn btn-success {% if small_buttons %} btn-xs{% endif %}" href="{% url 'books:pages' vol.pid %}">
    <span class="glyphicon glyphicon-book"></span>
    <span>Read online</span>
</a>
{% endif %}

<a class="btn btn-default btn-pdf{% if small_buttons %} btn-xs{% endif %}"
    href="{{ vol.pdf_url }}"
    title="view PDF for {{ vol.title|truncatechars:100 }} {{ vol.volume|default:'' }}">
    <span class="fa fa-file-pdf-o"></span>
    <span>View PDF</span>
    {% if vol.pdf_size %}
        <span class="text-muted">({{ vol.pdf_size|filesizeformat }})</span>
    {% endif %}
</a>

<a class="btn btn-default btn-pdf{% if small_buttons %} btn-xs{% endif %}"
    href="{% url 'books:pdf' vol.pid %}?download"
    title="download PDF for {{ vol.title|truncatechars:100 }} {{ vol.volume|default:'' }}">
    <span class="fa fa-file-pdf-o"></span>
    <span>Download PDF</span>
    {% if vol.pdf_size %}
        <span class="text-muted">({{ vol.pdf_size|filesizeformat }})</span>
    {% endif %}
</a>


{# link to voyant with full document plain text as input; preset english stopwords for english texts #}
<a href="{{ vol.voyant_url }}"
   title="send text to Voyant" target="_blank" class="btn btn-default{% if small_buttons %} btn-xs{% endif %}">
        <span class="glyphicon glyphicon-send"></span>
        <span>Send to Voyant</span>
</a>
{% url 'books:volume' vol.pid as volume_url %}{# annotation count for each volume #}

{% if volume_url in annotated_volumes %}
<a href="{% url 'books:webexport' vol.pid %}"
   title="Export annotated edition" class="btn btn-default{% if small_buttons %} btn-xs{% endif %}">
        <span class="fa fa-download"></span>
        <span>Export</span>
</a>
{% endif %}

{% include 'books/snippets/comment_count.html' with item_url=volume_url annotation_count=annotated_volumes %}

{% if vol.large_pdf %}
<p class="small text-warning">Some browsers will not be able to show large
    PDF files; in any browser large files might take a few minutes to load.
    Try downloading large files to view locally.</p>
{% endif %}

{# unapi id for zotero harvest #}
<abbr class="unapi-id" title="{{ vol.pid }}"></abbr>
</div>
