{% load url_replace %}
<!-- Information Line -->
<div class="info-line">
  <div class="info-group">
    {# numeric pagination #}
    <span>Showing {{ volumes.start_index }}-{{ volumes.end_index }} of {{ volumes.paginator.count }} volumes</span>
    <span class="slash-gap">/</span> Page
    <a href="#">{{ volumes.number }}</a>
    <div class="uk-navbar-dropdown" uk-dropdown="mode: click">
      <ul class="uk-nav uk-navbar-dropdown-nav pagination-nav"> 
        {% for pg in paginator_range %}
          <li>
            {% if pg == "…" %}
              <span>{{ pg }}</span>
            {% else %}
              <a href="?{% url_replace page=pg %}">{{ pg }}</a>
            {% endif %}
            
          </li>
        {% endfor %}
      </ul>
    </div> of {{ volumes.paginator.num_pages }} 
    <span class="slash-gap">/</span>

    {# form for setting sort, order, and page display (list/grid) #}
    <form method="get">
      <label for="{{ form.sort.auto_id }}">
          <span class="fieldname">{{ form.sort.label }}</span>
          {{ form.sort }}
      </label>
      <span class="slash-gap">/</span>
      <label for="{{ form.order.auto_id }}">
          <span class="fieldname">{{ form.order.label }}</span>
          {{ form.order }}
      </label>
    </form>
  </div>

  {# previous and next page pagination #}
  <div class="pagination-controls">
    <a
      class="uk-icon-button"
      uk-icon="chevron-left"
      {% if volumes.has_previous %}
        uk-tooltip="Go to previous page"
        href="?{% url_replace page=volumes.previous_page_number %}"
      {% else %}
        uk-tooltip="This is the first page"
        disabled
      {% endif %}
    >
    </a>
    <a
      class="uk-icon-button"
      uk-icon="chevron-right"
      {% if volumes.has_next %}
        uk-tooltip="Go to next page"
        href="?{% url_replace page=volumes.next_page_number %}"
      {% else %}
        uk-tooltip="This is the last page"
        disabled
      {% endif %}
    >
    </a>
  </div>
</div>
