<!-- Information Line -->
<div class="info-line">
  <div class="info-group">
    <span>Showing 8 of 28 volumes</span>
    <span class="slash-gap">/</span> Page
    <a href="#">[1]</a>
    <div class="uk-navbar-dropdown" uk-dropdown="mode: click">
      <ul class="uk-nav uk-navbar-dropdown-nav">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
      </ul>
    </div> of [4]
    <span class="slash-gap">/</span>
    Sort by
    <a href="#"> Title </a>
    <div class="uk-navbar-dropdown" uk-dropdown="mode: click">
      <ul class="uk-nav uk-navbar-dropdown-nav">
        <li><a href="#">Title</a></li>
        <li><a href="#">Publication Year</a></li>
      </ul>
    </div>
    <span class="slash-gap">/</span>Display in
    <a href="#">Grid</a>
    <div class="uk-navbar-dropdown" uk-dropdown="mode: click">
      <ul class="uk-nav uk-navbar-dropdown-nav">
        <li><a href="#">Grid</a></li>
        <li><a href="#">List</a></li>
      </ul>
    </div>
  </div>
  <div class="pagination-controls">
    <button class="uk-icon-button" uk-icon="chevron-left" uk-tooltip="This is the first page" disabled></button>
    <button class="uk-icon-button" uk-icon="chevron-right" uk-tooltip="Go to next page"></button>
  </div>
</div>