{% load static %}

<div class="uk-child-width-1-4@m uk-margin-large-bottom" uk-grid>
  {% for volume in volumes %}
    {% if volume.pid %}
    <div>
      <a class="grid-item" href="{% url 'volumeall' volume.pid %}">

        <!-- Cover in a square -->
        <div class="cover-square">
          <img
            src="{{ volume.start_canvas.thumbnail_crop_volume }}"
            alt="First page of {{ volume.label }}"
            onerror="this.onerror=null;this.src='{% static 'images/image_not_found.jpg' %}';"
          >
        </div>

        <!-- Title -->
        {% with full_title=volume.label|default:"Title Unavailable" %}
          {% if full_title|length > 50 %}
            <h2 uk-tooltip="mode: click" title="{{ full_title }}">
              {{ full_title|truncatechars:50 }}
              {% if volume.published_date or volume.published_date_edtf %}
                ({{ volume.published_date|default:volume.published_date_edtf }})
              {% endif %}
            </h2>
          {% else %}
            <h2>
              {{ full_title }}
              {% if volume.published_date or volume.published_date_edtf %}
                ({{ volume.published_date|default:volume.published_date_edtf }})
              {% endif %}
            </h2>
          {% endif %}
        {% endwith %}
      </a>

      <!-- Authors -->
      {% if volume.author %}
        {% with author_str=volume.author|cut:";" %}
          {% if author_str|length > 50 %}
            <div class="author-line cursor-default" uk-tooltip="mode: click" title="{{ author_str }}">
              {{ author_str|truncatechars:50 }}
            </div>
          {% else %}
            <div class="author-line">
              {{ author_str }}
            </div>
          {% endif %}
        {% endwith %}
      {% endif %}
    </div>
    {% endif %}
  {% empty %}
    <div class="uk-width-1-1">There are no volumes available to browse.</div>
  {% endfor %}
</div>