{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% get_social_accounts user as accounts %}
<div id="signin-modal" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <section class="uk-modal-header">
      <h2 class="uk-modal-title uk-text-center">
      {% if user.is_authenticated %}
          Connect Accounts
      {% else %}
        Sign in
        {% endif %}
      </h2>
    </section>
    <ul class="uk-list uk-child-width-1-1 uk-grid-large uk-margin" uk-grid>
      {% for provider in socialaccount_providers %}
      <li class="uk-margin-small">
        {# TODO: thre is a lot of repeating here #}
        {% if user.is_authenticated %}
          {% if provider.id not in user.socialaccount_list %}
            <a href="{% provider_login_url provider.id next=request.path process="login" %}" title="Sign in with {{ provider.name }}" class="rdx-provider-button {{ provider.id }} uk-text-center@s uk-text-left@m uk-text-large uk-button uk-button-default uk-button-large uk-width-expand">
              <i class="fab fa-{{ provider.id }}"></i><span class="uk-visible@m"> {{ provider.name }}</span>
            </a>
          {% endif %}
        {% else %}
          <a href="{% provider_login_url provider.id next=request.path process="connect" %}" title="Sign in with {{ provider.name }}" class="rdx-provider-button {{ provider.id }} uk-text-center@s uk-text-left@m uk-text-large uk-button uk-button-default uk-button-large uk-width-expand">
            <i class="fab fa-{{ provider.id }}"></i><span class="uk-visible@m"> {{ provider.name }}</span>
          </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>