{# sort dropdown; based on eultheme pagination dropdown #}
{# uses selectize javascript plug-in for interactivity #}
{# expects current sort as *sort*, sort options as *sort_options*, and any additional url arguments as *sort_url_params* #}
{% load static i18n %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div class="uk-margin-bottom uk-flex-between uk-flex" id="rx-sort">
	<div>
		<span ref="v-attr-sort" data-sort="{{ sort }}"></span>
		<span class="rx-action-title">Sort by: </span> <a class="rx-action-btn">[[currentSelection]]</a>
		<div uk-dropdown="mode: click">
			<ul class="uk-nav uk-dropdown-nav">
				<li v-for="(option, index) in options" v-bind:class="{ 'uk-active' : (option==currentSelection) }">
					<a href="#" @click="sortBy(option)">
						[[ option ]]
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div>
		<a class="rx-icon-btn" onclick="ascaddURL(this)" uk-icon="icon: arrow-up" href=""
			uk-tooltip="title: sort in ascending order"></a>
		<a class="rx-icon-btn" onclick="descaddURL(this)" uk-icon="icon: arrow-down" href=""
			uk-tooltip="title: sort in descending order"></a>
	</div>
</div>

<script>
	var app = new Vue({
		el: '#rx-sort',
		delimiters: ['[[', ']]'],
		data: {
			options: ["title", "author", "date published", "date added"],
			searchPrefix: "?sort=",
			currentSelection: null,
		},
		methods: {
			sortBy: function (selection) {
				var value = this.searchPrefix + selection;
				if (window.location !== value) {
					window.location = value;
				}
			}

			// ascaddURL: function(element) {
			// 	$(element).attr('href', function () {
			// 		if (window.location.search.length == 0) {
			// 			return this.href + '?sort=title&order=asc';
			// 		} else if (window.location.search.match(/[?&]order=asc/gi)) {
			// 			this.href = this.href.replace('order=asc', 'order=asc');
			// 			return this.href;
			// 		} else if (window.location.search.match(/[?&]order=desc/gi)) {
			// 			this.href = this.href.replace('order=desc', 'order=asc');
			// 			return this.href;
			// 		} else {
			// 			return this.href + '&order=asc';
			// 		}
			// 	});
			// },

			// descaddURL: function(element) {
			// 	$(element).attr('href', function () {
			// 		if (window.location.search.length == 0) {
			// 			return this.href + '?sort=title&order=desc';
			// 		} else if (window.location.search.match(/[?&]order=asc/gi)) {
			// 			this.href = this.href.replace('order=asc', 'order=desc');
			// 			return this.href;
			// 		} else if (window.location.search.match(/[?&]order=desc/gi)) {
			// 			this.href = this.href.replace('order=desc', 'order=desc');
			// 			return this.href;
			// 		} else {
			// 			return this.href + '&order=desc';
			// 		}
			// 	});
			// }
		},

		mounted: function () {
			this.currentSelection = this.$refs["v-attr-sort"].getAttribute("data-sort");
		}
	})


	function ascaddURL(element) {
		debugger;
		$(element).attr('href', function () {
			if (window.location.search.length == 0) {
				location.href = this.href + '?sort=title&order=asc';
				return location.href;
			} else if (window.location.search.match(/[?&]order=asc/gi)) {
				location.href = this.href.replace('order=asc', 'order=asc');
				return location.href;
			} else if (window.location.search.match(/[?&]order=desc/gi)) {
				location.href = this.href.replace('order=desc', 'order=asc');
								return location.href;

			} else {
				location.href = this.href + '&order=asc';
								return location.href;

			}
		});
	}

	function descaddURL(element) {

		$(element).attr('href', function () {
			if (window.location.search.length == 0) {
				location.href = this.href + '?sort=title&order=desc';
								return location.href;

			} else if (window.location.search.match(/[?&]order=asc/gi)) {
				location.href = this.href.replace('order=asc', 'order=desc');
								return location.href;

			} else if (window.location.search.match(/[?&]order=desc/gi)) {
				location.href = this.href.replace('order=desc', 'order=desc');
								return location.href;

			} else {
				location.href = this.href + '&order=desc';
								return location.href;

			}
		});
	}
</script>