{# links to toggle cover view / list view for collection browse #}
{# to use elsewhere, extend and override cover_url and list_url block #}
<div class="container">
    <div id="view-toggle" class="pull-right">
        <div class="btn-group">
            <a id="covers" href="{% block cover_url %}{% url 'collection:browse' %}{% endblock %}" class="btn {% if mode|default:'covers' = 'covers' %}active{% endif %}"><span class="glyphicon glyphicon-th"></span></a>
            <a id="list" href="{% block list_url %}{% url 'collection:list' %}{% endblock %}" class="btn {% if mode = 'list' %}active{% endif %}"><span class="glyphicon glyphicon-th-list"></span></a>
        </div>
    </div>
</div>
