{% load readux_utils %}
<div class="navbar-right">
<div class="social-login navbar-text">
  <div class="dropdown dropdown-menu-right">
  {% if user and not user.is_anonymous %}
  <span id="login-welcome" class="text">Welcome, {{ user.get_full_name|default:user.username }}</span>
  {% endif %}
  {# Button to trigger modal login window #}
  <button type="button" class="btn btn-primary btn-link" data-toggle="modal" data-target="#loginMenu">
    {% if user and not user.is_anonymous %} {# when already logged in, use this to link other accounts #}
    <i class="fa fa-link" title="Link another account" data-toggle="tooltip" data-placement="bottom"></i>{% else %}Login <i class="fa fa-sign-in"></i>{% endif %}
  </button>
  {% if user and not user.is_anonymous %}
  <a class="btn btn-link" href="{% url 'auth:logout' %}?next={{ request.path }}" title="Logout">
    <span class="text">Logout </span><i class="fa fa-sign-out"></i></a>
  {% endif %}
  </div>
</div>
</div>
</div>

<div id="modal-container">
{# Modal with social auth sign in links #}
<div class="modal fade" id="loginMenu" tabindex="-1" role="dialog" aria-labelledby="socialLoginMenu" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="socialLoginMenu">
        {% if user and not user.is_anonymous %}Link another account{% else %}Sign In{% endif %}</h4>
      </div>
      <div class="modal-body">
        <ul class="login-list list-group">
          {% for backend in backends.backends %}
          {# TODO: only show backends that user hasn't already authorized #}
          {% with backend_name=backend_names|dict_item:backend|default:backend|title %}
          <li role="presentation" class="list-group-item login-{{ backend }}{% if backend_name|lower in user_socialauth_providers %} disabled{% endif %}">
              <a role="menuitem" tabindex="-1"
              href="{% url 'social:begin' backend %}?next={{ request.path }}">
                <span class="login-icon fa fa-lg fa-{{ backend_name|lower }}"></span>
                <span class="login-label">{% if user and not user.is_anonymous %}Authorize {% else %}Login with {% endif %}{{ backend_name }}</span>
              </a>
          </li>
          {% endwith %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

