{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}
{% block nav %}
{% include '_page/_navbar.html' %}
{% endblock %}

{% block content %}
<div class="uk-padding">

    {% with request.resolver_match.url_name as url_name %}
    <nav aria-label="Breadcrumb">
        <ul class="uk-breadcrumb uk-text-truncate">
          <li><a href="/" alt="Home">Home</a></li>
          <li>
            {% if url_name != "detail" and not request.user.is_anonymous %}
                <a href="{% url 'users:detail' request.user.username  %}" alt="Home">My Account</a>
            {% else %}
                My Account
            {% endif %}
        </li>
          {% block breadcrumb %}{% endblock %}
        </ul>
      </nav>
      {% endwith %}
      <div class="rx-head-container">
        <div class="rx-title-container">
          <div class="rx-title">
            {% if request.user %}
            Hello, {{ request.user.name }}
            {% else %}
            Hello!
            {% endif %}
          </div>
        </div>
      </div>

    <div class="uk-margin-top">{% block inner %}{% endblock %}</div>
</div>
{% endblock %}
