{% extends "allauth/layouts/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load socialaccount %}

{% block title %}
  {% trans "Account" %}
{% endblock title %}

{% block breadcrumb %}Manage Email{% endblock breadcrumb %}

{% block content %}
  <div class="uk-grid-collapse uk-child-width-expand content-wrapper" uk-grid>

    <!-- Left Column: Navigation -->
    <div class="uk-width-1-4@m navigation-wrapper">
      <nav class="navigation sidebar-sticky" uk-sticky="offset: 20; media: @m;">
        <ul class="uk-nav uk-nav-default">
          <li><a href="{% url 'users:detail' user.username %}" data-section="overview">Account Overview</a></li>
          <li><a href="{% url 'users:update' %}" data-section="profile">Update Username</a></li>
          <li><a href="{% url 'account_email' %}" class="active" data-section="email">Email Settings</a></li>
          <li><a href="{% url 'socialaccount_connections' %}" data-section="connections">Account Connections</a></li>
        </ul>
      </nav>
    </div>

    <!-- Right Column: Content -->
    <div class="uk-width-expand@m content uk-padding-remove-top">

      <div class="section">
        <h2 class="text-black static-content-title">Verify E-mail Address</h2>

        {% if user.emailaddress_set.all %}
          <div>{% trans "The following e-mail addresses are associated with your account:" %}</div>

          <form action="{% url 'account_email' %}" class="email_list" method="post">
            {% csrf_token %}
            <fieldset class="uk-margin-remove rx-fieldset uk-padding-remove">
              {% for emailaddress in user.emailaddress_set.all %}
                <div class="radio uk-margin-small uk-margin-small-top">
                  <label for="email_radio_{{ forloop.counter }}"
                         class="{% if emailaddress.primary %}primary_email{% endif %}">
                    <input id="email_radio_{{ forloop.counter }}"
                           type="radio"
                           name="email"
                           {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                           value="{{ emailaddress.email }}" />
                    {{ emailaddress.email }}
                    {% if emailaddress.verified %}
                      <span class="verified rx-email-status">{% trans "Verified" %}</span>
                    {% else %}
                      <span class="unverified rx-email-status">{% trans "Unverified" %}</span>
                    {% endif %}
                    {% if emailaddress.primary %}
                      <span class="primary">{% trans "Primary" %}</span>
                    {% endif %}
                  </label>
                </div>
              {% endfor %}

              <div class="uk-margin-small">
                <button class="uk-button uk-button-primary uk-button-small" type="submit" name="action_primary">
                  {% trans "Make Primary" %}
                </button>
                <button class="uk-button uk-button-primary uk-button-small" type="submit" name="action_send">
                  {% trans "Re-send Verification" %}
                </button>
                <button class="uk-button uk-button-primary uk-button-small" type="submit" name="action_remove">
                  {% trans "Remove" %}
                </button>
              </div>
            </fieldset>
          </form>

        {% else %}
          <p>
            <span class="uk-text-bold">{% trans "Warning:" %}</span>
            {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
          </p>
        {% endif %}
      </div>

      <div class="section">
        <h2 class="text-black static-content-title">{% trans "Add E-mail Address" %}</h2>
        <form method="post" action="{% url 'account_email' %}" class="add_email uk-form-stacked">
          {% csrf_token %}
          {% for field in form.visible_fields %}
            <div class="uk-margin">
              {{ field.errors }}
              {{ field }}
              {% if field.help_text %}
                <p class="uk-text-small uk-text-muted">{{ field.help_text }}</p>
              {% endif %}
            </div>
          {% endfor %}
          <button class="uk-button uk-button-primary uk-button-small" name="action_add" type="submit">
            {% trans "Add E-mail" %}
          </button>
        </form>
      </div>

    </div>
  </div>
{% endblock content %}

{% block extra_javascript %}
  {{ block.super }}
  <script type="text/javascript">
      (function() {
          var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
          var actions = document.getElementsByName('action_remove');
          if (actions.length) {
              actions[0].addEventListener("click", function(e) {
                  if (!confirm(message)) {
                      e.preventDefault();
                  }
              });
          }
      })();

      $('.form-group').removeClass('row');
  </script>
{% endblock extra_javascript %}
