{% extends "account/base.html" %}
{% load sass_tags %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_javascript %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get the reset button
        const resetBtn = document.getElementById('sign-up-form-reset-btn');
        
        // Add event listener to the reset button
        resetBtn.addEventListener('click', function () {
          // Get the form by its ID
          const form = document.getElementById('password_reset_form');
          // Reset the form
          form.reset();
        });
      });
    </script>
{% endblock %}

{% block inner %}
    <link type="text/css" href="{% sass_src 'css/readux2/menu-inverse.scss' %}" rel="stylesheet">
    {% include '_home/_nav.html' %}

    <div class="uk-container uk-margin-bottom">
    <!-- Breadcrumb -->
    <ul class="breadcrumb uk-margin-small-top uk-margin-bottom">
        <li><a href="/">Home</a></li>
        <li>Password Reset</li>
    </ul>
    <!-- End -->

    <h1 class="page-title uk-margin-top uk-margin-remove-bottom">{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form class="uk-form-stacked signup" id="password_reset_form" method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <!-- Email Field -->
        <div class="uk-margin uk-input-icon uk-width-1-1 uk-width-1-2@m">
          <span uk-icon="icon: mail" class="uk-icon"></span>
          <input type="email" placeholder="{% trans 'Email' %}" class="uk-input" name="email" required>
        </div>
    
        <!-- Action Buttons -->
        <div class="action-buttons justify-content-normal uk-margin-bottom uk-width-1-1 uk-width-1-2@m">
          <button type="button" id="sign-up-form-reset-btn" class="uk-button uk-button-default">{% trans "Reset Form" %}</button>
          <button type="submit" class="uk-button sign-in-btn">{% trans "Reset Password" %} </button>
        </div>
        
        <!-- Links -->
        <div class="uk-flex uk-flex-between uk-width-1-1">
            <p>{% blocktrans %}Please <a href="#" class="uk-link text-anchor-blue">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
      </form>

    </div>
{% endblock %}

