{% extends "account/base.html" %}
{% load sass_tags %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner %}
<link type="text/css" href="{% sass_src 'css/readux2/menu-inverse.scss' %}" rel="stylesheet">
{% include '_home/_nav.html' %}

<div class="uk-container uk-margin-bottom">

    <!-- Breadcrumb -->
    <ul class="breadcrumb uk-margin-small-top uk-margin-bottom">
        <li><a href="/">Home</a></li>
        <li>Set Password</li>
    </ul>
    <!-- End -->

    <h1 class="page-title uk-margin-top uk-margin-remove-bottom">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>

</div>
{% endblock %}

