{% extends "account/base.html" %}
{% load sass_tags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Readux - Sign up" %}{% endblock %}

{% block extra_javascript %}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
        integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get the reset button
        const resetBtn = document.getElementById('sign-up-form-reset-btn');
        
        // Add event listener to the reset button
        resetBtn.addEventListener('click', function () {
          // Get the form by its ID
          const form = document.getElementById('signup_form');
          // Reset the form
          form.reset();
        });
      });
    </script>
{% endblock %}

{% block inner %}
<link type="text/css" href="{% sass_src 'css/readux2/menu-inverse.scss' %}" rel="stylesheet">
{% include '_home/_nav.html' %}

<div class="uk-container uk-margin-bottom">

  <!-- Breadcrumb -->
  <ul class="breadcrumb uk-margin-small-top uk-margin-bottom">
    <li><a href="/">Home</a></li>
    <li>Sign up</li>
  </ul>
  <!-- End -->
  <h1 class="page-title uk-margin-top uk-margin-remove-bottom">{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="#" uk-toggle="target: #login-modal" class="uk-link text-anchor-blue">sign in</a>.{% endblocktrans %}</p>

  <form class="uk-form-stacked signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    
    <!-- Username Field -->
    <div class="uk-margin uk-input-icon uk-width-1-1 uk-width-1-2@m">
      <span uk-icon="icon: user" class="uk-icon"></span>
      <input type="text" placeholder="{% trans 'Username' %}" class="uk-input" name="username" required>
    </div>
  
    <!-- Email Field -->
    <div class="uk-margin uk-input-icon uk-width-1-1 uk-width-1-2@m">
      <span uk-icon="icon: mail" class="uk-icon"></span>
      <input type="email" placeholder="{% trans 'Email' %}" class="uk-input" name="email" required>
    </div>
  
    <!-- Password Field -->
    <div class="uk-margin uk-input-icon uk-width-1-1 uk-width-1-2@m">
      <span uk-icon="icon: lock" class="uk-icon"></span>
      <input type="password" placeholder="{% trans 'Password' %}" class="uk-input" name="password" required>
    </div>
  
    <!-- Password Confirmation Field -->
    <div class="uk-margin uk-input-icon uk-width-1-1 uk-width-1-2@m">
      <span uk-icon="icon: lock" class="uk-icon"></span>
      <input type="password" placeholder="{% trans 'Confirm Password' %}" class="uk-input" name="password_confirm" required>
    </div>
  
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    
    <!-- Action Buttons -->
    <div class="action-buttons justify-content-normal uk-margin-bottom uk-width-1-1 uk-width-1-2@m">
      <button type="button" id="sign-up-form-reset-btn" class="uk-button uk-button-default">{% trans "Reset Form" %}</button>
      <button type="submit" class="uk-button sign-in-btn">{% trans "Sign Up" %} </button>
    </div>
    
    <!-- Links -->
    <div class="uk-flex uk-flex-between uk-width-1-1">
      <a href="{% url 'account_reset_password' %}" class="uk-link text-anchor-blue">{% trans "Forgot Password?" %}</a>
    </div>
  </form>
  

</div>

{% endblock %}