{% extends 'site_base.html' %}
{% load teifacsimile %}

{% block page-subtitle %}{{ page.display_label }} | {% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/openseadragon/openseadragon.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/deepzoom.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/page.js"></script>
  <script type="text/javascript" charset="utf-8">
     $(document).ready(function () {
        // set up seadragon configuration (not loaded unless triggered by user)
        set_seadragon_opts({
            id: "zoom-page",
            prefixUrl: "{{ STATIC_URL }}js/openseadragon/images/",
            tileSources: "{% url 'deepzoom:dzi' page.pid %}",
            toolbar: 'deepzoom-controls',
            showNavigator: true,
            navigatorPosition: 'TOP_LEFT',
            zoomInButton: 'dz-zoom-in',
            zoomOutButton: 'dz-zoom-out',
            homeButton: 'dz-home',
            fullPageButton: 'dz-fs',
        });
     });
     {% if page.tei.exists %}
     // adjust ocr word & letter spacing on load & resize, with a timeout
     // to avoid adjusting too frequently as the browser is resized

        var resizeTimer; // Set resizeTimer to empty so it resets on page load
        function resizeFunction() {
            // adjust ocr text on window load or resize
            $(".ocrtext").textwidth();
            // possibly also adjust fonts here, if we go to viewport-width font size
        };

        // On resize, run the function and reset the timeout
        // 250 is the delay in milliseconds. Change as you see fit.
        $(window).resize(function() {
            clearTimeout(resizeTimer);
            resizeTimer = setTimeout(resizeFunction, 250);
            // TODO: how to wait until after browser scales image for smaller viewport?
        });

       $(window).load(function() {  // wait until load completes, so widths will be calculated
           resizeFunction();
       });
     {% endif %}
  </script>
{% endblock %}

{% block metadata %}
    {{ block.super }}
    {% url 'books:page-image' page.pid as image_url %}
    <meta property="og:title" content="{{ page.display_label }}"/>
    <meta itemprop="og:headline" content="{{ page.display_label }}" />
    <meta property="og:image" content="{{ site_root }}{{ image_url }}"/>

    <meta property="twitter:card" content="photo" />
    <meta property="twitter:title" content="{{ page.display_label }}" />
    <meta property="twitter:image" content="{{ site_root }}{{ image_url }}" />

    {% if page.tei.exists %}
    <link rel="alternate" type="text/xml" href="{% url 'books:page-tei' page.pid %}" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'books/snippets/volume_header.html' with vol=page.volume %}
    </div>
    <article class="carousel page">
        <div class="carousel-inner">

            <div class="container in-page-controls">
                <div id="view-toggle" class="col-sm-4 pull-right">
                    <div class="btn-group pull-right">
                        <a id="enable-zoom" href="#" class="btn" alt="Deep Zoom Mode" title="Deep Zoom Mode"><span class="glyphicon glyphicon-fullscreen"></span></a>

                        <a id="covers" href="#" class="btn active" alt="Single Page" title="Single Page"><span class="glyphicon glyphicon-file"></span></a>

                        <a id="list" alt="Gallery" title="Gallery" href="{% url 'books:pages' page.volume.pid %}?page={{page_chunk}}" class="btn"><span class="glyphicon glyphicon-th"></span></a>
                    </div>

                    <div id="deepzoom-controls" class="hidden">
                        <div class="btn-group">
                            <a id="dz-zoom-in" alt="Zoom In" title="Zoom In" href="#" class="btn"><span class="glyphicon glyphicon-plus"></span></a>

                            <a id="dz-zoom-out" alt="Zoom Out" title="Zoom Out" href="#" class="btn"><span class="glyphicon glyphicon-minus"></span></a>

                            <a id="dz-home" alt="Back to Start Position" title="Back to Start Position" href="#" class="btn"><span class="glyphicon glyphicon-home"></span></a>

                            <a id="dz-fs" alt="Fullscreen Mode" title="Fullscreen Mode" href="#" class="btn"><span class="glyphicon glyphicon-fullscreen"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-4 col-sm-offset-4 text-center">
                    <p class="text-muted">p. {{ page.page_order }}</p>
                </div>

            </div>

            <div class="text-center">
                <div id="zoom-page"></div>
                <div class="page">
                    <div class="content">
                        <img src="{% url 'books:page-image' page.pid %}"/>
                        {% if page.tei.exists %}
                           {% for line in page.tei.content.lines %}
                           <div class="ocr-line {% if not line.word_zones %}ocrtext{% endif %}" style="{{ line|zone_style:scale }}">
                                {% for zone in line.word_zones %}
                                {# NOTE: may not want ocrtext adjustment when there are multiple words on a line #}
                                <div class="ocr-zone ocrtext" style="{{ zone|zone_style:scale }}">
                                    <span>{{ zone.text }}</span>
                                </div>
                                {% empty %} {# if no word zones, assume single line of text #}
                                  <span>{{ line.text }}</span>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if prev %}
        <a class="left carousel-control" href="{% url 'books:page' prev.pid %}" role="button" data-slide="prev" title="Prev: Page {{ prev.page_order }}">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        {% endif %}
        {% if next %}
        <a class="right carousel-control" href="{% url 'books:page' next.pid %}" role="button" data-slide="next" title="Next: Page {{ next.page_order }}">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        {% endif %}
    </article>
{% endblock %}
