{% extends 'site_base.html' %}
{% load static %}

{% block metadata %}{{ block.super }}
    {% url 'books:page-image' vol.pid vol.primary_image.pid 'thumbnail' as image_url %}
    <meta property="og:title" content="{{ vol.display_label }}"/>
    <meta itemprop="og:headline" content="{{ vol.display_label }}" />
    <meta property="og:image" content="{{ image_url }}"/>
    <meta property="og:description" content="{{ vol.book.best_description }}" />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ vol.display_label }}" />
    <meta property="twitter:image" content="{{ image_url }}" />
    <meta property="twitter:description" content="{{ vol.book.best_description }}" />
{% endblock %}

{% block page-subtitle %}{{ vol.display_label }} | {% endblock %}

{% block head_extras %}
  <link rel="unapi-server" type="application/xml" title="unAPI" href="{% url 'books:unapi' %}" />
  <link rel="bookmark" href="{{ vol.ark_uri }}" />
  <link rel="alternate" href="{% url 'books:pdf' vol.pid %}" type="application/pdf" /> {# PDF #}
  <link rel="alternate" href="{% url 'books:text' vol.pid %}" type="text/plain" /> {# plain text #}
{% endblock %}

{% block javascript %}
  {{ block.super }}
   <script type="text/javascript" src="{% static 'ext/js.cookie.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container" typeof="schema:Book">

    {% include 'books/snippets/volume_header.html' with rdfa=1 %}

    {% include 'books/snippets/volume_export_links.html'  %}
    <article class="book">
        <div class="media">
            {% if vol.primary_image %}
                <div class="pull-left">
                    {% url 'books:page-image' vol.pid vol.primary_image.pid 'thumbnail' as cover_url %}
                    {% if vol.has_pages %}<a href="{% url 'books:page' vol.pid vol.primary_image.pid %}">{% endif %}
                    <img class="thumbnail media-object" property="schema:image" src="{{ cover_url }}"/>
                    {% if vol.has_pages %}</a>{% endif %}
                    <a property="schema:thumbnailUrl" href="{{ cover_url }}" class="hidden"></a>
                </div>
            {% endif %}

            <div class="media-body">
                <p>
                    {% for author in vol.creator %}
                    {% spaceless %}
                    <span property="schema:author" typeof="schema:Person"> {# NOTE: could be organization... #}
                        <span property="schema:name">{{ author }}</span>
                    </span>{% if not forloop.last %}; {% endif %}
                    {% endspaceless %}
                    {% endfor %}
                </p>
                {% if vol.has_pages %}
                 <meta property="schema:numberOfPages" content="{{ vol.page_count }}"/>
                {% endif %}
                {# Using base ARK url for schema:url #}
                <a href="{{ vol.ark_uri }}" property="schema:url" class="hidden"></a>
                {# NOTE: could include schema:inLanguage, but would need to convert to IETF BCP 47 standard format #}
                {# TODO: add schema:license if/when we can add a public domain license or mark #}
                {# possibly bookFormat EBook (closest option? not paper or hardback) #}
                {# FIXME: technically isPartOf belongs on the *webpage*, not the *book* #}

                {% if vol.book.collection %} {# All Readux books should belong to a collection, but in case not don't error #}
                <p><strong>Collection:</strong> <a property="schema:isPartOf" href="{% url 'collection:view' vol.book.collection.pid %}">{{ vol.book.collection.short_label }}</a></p>
                {% endif %}

                {% if vol.book.dc.content.publisher %}
                    <p><strong>Publisher:</strong>
                        <span property="schema:publisher" typeof="schema:Organization">
                            <span property="schema:name">{{ vol.book.dc.content.publisher }}</span>
                        </span>
                    </p>
                {% endif %}

                {# NOTE: some descriptions are potentially useful, some less so... #}
                {# one or more of these descriptions *could* be used for schema.org/Description, but which? #}
                <ul>
                    {% for desc in vol.book.dc.content.description_list %}
                        {% ifchanged %} {# in some cases, 'digitized' note is repeated multiple times #}
                            <li>{{ desc }}</li>
                        {% endifchanged %}
                    {% endfor %}
                </ul>
                {# some information in dc:type might be useful (but other info not...) #}

                {% if vol.ark_uri %}
                <p><strong>Permalink:</strong> <a href="{{ vol.ark_uri }}" rel="bookmark">{{ vol.ark_uri }}</a></p>
                {% endif %}

                {% include 'books/snippets/volume_links.html' with small_buttons=False %}
                <div class="clearfix"></div>
                {# link to any other volumes associated with the same book #}
                {% if vol.book.volume_set|length > 1 %}
                <div class="related panel panel-default col-md-6">
                    <div class="panel-heading">
                        <h4>Related volumes</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            {% for rel_vol in vol.book.volume_set %}  {# NOTE: currently not sorted #}
                                {% if rel_vol.pid != vol.pid %}
                                {# hacky workaround for non-public domain yearbooks that are in the repository (hopefully temporary!) #}
                                {% if vol.book.collection.pid == 'emory-control:LSDI-EmoryYearbooks' and rel_vol.volume > '1923' %}
                                {# suppress non public domain yearbooks until we get clearance #}
                                {% else %}
                                <li>
                                    {# FIXME: technically, relatedLink belongs to *webPage*, not *book* entity #}
                                    <a property="schema:relatedLink" href="{% url 'books:volume' rel_vol.pid %}">{{ rel_vol.title|truncatechars:150 }}
                                    {% if rel_vol.volume %}<span class="text-muted">[{{ rel_vol.volume }}]</span>{% endif %}</a>
                                </li>
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div> {# end media-body #}
        </div> {# end media #}
    </article>
</div>
{% endblock %}
