{% extends 'site_base.html' %}

{% block page-subtitle %} | {{ vol.title }}{% if vol.volume %} [{{ vol.volume }}]{% endif %}{% endblock %}

{% block head_extras %}
  <link rel="unapi-server" type="application/xml" title="unAPI" href="{% url 'books:unapi' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <header class="page-header">
        <h1>{{ vol.title }}
            <span class="small">
                {% if vol.volume %}[{{ vol.volume }}]{% endif %}
                {% if vol.date %}({{ vol.date|join:', ' }}){% endif %}
            </span>
        </h1>
    </header>
    <article>
        <div class="media">
            {% if vol.primary_image %}
            {# TODO: link to single page view if volume has pages #}
            <img class="pull-left thumbnail media-object" src="{% url 'books:page-thumbnail' vol.primary_image %}"/>
            {% endif %}

            <div class="media-body">
                <p>{{ vol.creator|join:'; ' }}</p>
                <p><b>Collection:</b> <a href="{% url 'collection:view' vol.book.collection.pid %}">{{ vol.book.collection.short_label }}</a></p>

                {% if vol.book.dc.content.publisher %}
                    <p><b>Publisher:</b> {{ vol.book.dc.content.publisher }}</p>
                {% endif %}

                {# NOTE: some descriptions are potentially useful, some less so... #}
                <ul>
                    {% for desc in vol.book.dc.content.description_list %}
                        {% ifchanged %} {# in some cases, 'digitized' not is repeated multiple times #}
                            <li>{{ desc }}</li>
                        {% endifchanged %}
                    {% endfor %}
                </ul>
                {# some information in dc:type might be useful (but other info not...) #}

                {% include 'books/snippets/volume_links.html' with small_buttons=False %}

                {# link to any other volumes associated with the same book #}
                {% if vol.book.volume_set|length > 1 %}
                <div><b>Related volumes</b>
                    <ul>
                        {% for rel_vol in vol.book.volume_set %}  {# NOTE: currently not sorted #}
                            {% if rel_vol.pid != vol.pid %}
                            <li>
                                <a href="{% url 'books:volume' rel_vol.pid %}">{{ rel_vol.title }}</a>
                                {% if rel_vol.volume %}[{{ rel_vol.volume }}]{% endif %}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div> {# end media-body #}
        </div> {# end media #}
    </article>
</div>
{% endblock %}