{% extends 'site_base.html' %}
{% load humanize %}
{# template for page results when searching within a single volume #}

{% block page-subtitle %} | {{ vol.title }}{% if vol.volume %} [{{ vol.volume }}] | Search{% endif %}{% endblock %}

{% block content %}
<div class="container">
    {% include 'books/snippets/volume_header.html' %}
    <article>
        <div class="container">
            {% if pages.paginator.count %}
                <h2 class="section-heading">{{ pages.paginator.count|intcomma }} matching page{{ pages.paginator.count|pluralize }} found</h2>

                {% if pages.has_other_pages and pages.object_list|length > 1 %}
                <p class="lead">
                    displaying {{ pages.start_index|intcomma }} - {{ pages.end_index|intcomma }}
                </p>
                {% endif %}
            {% else %}
                <h2 id="no-results-found">No results for your search terms.</h2>
            {% endif %} {# no results #}

            {# list view #}
            <div class="item-list">
                {% for page in pages.object_list %}
                   {% include 'books/snippets/list_page.html' %}
                 {% empty %}
                    <h2 id="no-results-found">No matching pages for your search terms.</h2>
                {% endfor %}
            </div>
        </div> {# /.container #}

    {% if pages.has_other_pages %}
       {% include 'eultheme/snippets/pagination_all_pages.html' with results=pages %}
    {% endif %}

    </article>
</div>
{% endblock %}
