<div class="embed-responsive embed-responsive-16by9 container-fluid">

<iframe class="embed-responsive-item" width="100%"
    src="https://www.youtube.com/embed/{{ v }}?rel=0" allowfullscreen="allowfullscreen"></iframe>
{% comment %}

<object class="embed-responsive-item"{#  width="560" height="315" #}>
<param name="movie" value="//www.youtube.com/v/{{ v }}?hl=en&amp;fs=1&amp;"></param>
<param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
<embed src="//www.youtube.com/v/{{ v }}?hl=en&amp;fs=1&amp;" type="application/x-shockwave-flash"
    allowscriptaccess="always" allowfullscreen="true" {# width="425" height="344" #}></embed>
</object>
{% endcomment %}
</div>