{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    #overlay {
      color: white;
      background: rgba(0, 0, 0, .5);
      height: 100vh;
      font-size: 3rem;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .hide-overlay {
      display: none !important;
    }
    #overlay-warning-container {
      margin-top: 3rem;
      width: 50%;
    }
    .overlay-warning {
      font-size: 1rem;
      color: white !important;
    }
  </style>
{% endblock %}
{% block submit_buttons_bottom %}
  <div class="submit-row">
    <input type="submit" value="{% trans 'Save and add another' %}" id="add_another" name="_addanother" {{ onclick_attrib }}/>
    <input type="submit" value="{% trans 'Save' %}" class="default" id="start_upload" name="_save">
  </div>
{% endblock %}
{% block admin_change_form_document_ready %}
  {{ block.super }}
  <script type="text/javascript">
    django.jQuery('#start_upload').on('click', function(event) {
      // event.preventDefault();
      django.jQuery('#overlay').removeClass('hide-overlay');
    });
  </script>
{% endblock %}
{% block content %}
  {{ block.super }}
  <div id="overlay" class="hide-overlay">
    <div id="overlay-label">Uploading...</div>
    <div id="overlay-warning-container">
      <p class="overlay-warning">
        <strong>You must leave this window open during upload.</strong>
      </p>
      <p class="overlay-warning">
        Once upload completes, you will be sent to a new page.
        You may then navigate away while the rest of the ingest completes; you
        will receive an email to notify you when the ingest has completed.
      </p>
    </div>
  </div>
{% endblock %}