{% extends "site_base.html" %}
{% load static %}
{# 403 page #}

{% block css %}
  {{ block.super }}
   <link href="{% static 'eultheme/css/eultheme_errpages.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page-subtitle %}: Permission Denied{% endblock %}
{% block body_class %}errorpage err403{% endblock %}

{% block content %}
<div class="container">
    <header class="page-header">
        <h1>Permission Denied</h1>
        <p class="lead">You are not allowed to access the requested content.</p>
    </header>
    <section>
      <p class="small">If you think you are getting this message in error, please contact our staff.</p>
    </section>
</div><!-- /.container -->
{% endblock %}


