{% extends "site_base.html" %}
{% load static %}
{# 404 page #}

{% block css %}
  {{ block.super }}
   <link href="{% static 'eultheme/css/eultheme_errpages.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page-subtitle %}: Document Not Found{% endblock %}
{% block body_class %}errorpage err404{% endblock %}

{% block content %}
<div class="container">
    <header class="page-header">
        <h1>Document Not Found</h1>
        <p class="lead">The requested document was was not found.</p>
    </header>
</div><!-- /.container -->
{% endblock %}

