{% extends "layout/lay_1col.html" %}

{% block www_content_box_1 %}

<div id="main_page">
    {% include "entrance/punch_line.html" %}
    {% include "entrance/stats_member_geochart.html" %}
</div>

<script>set_main_page_css();</script>
{% endblock www_content_box_1 %}

{% block www_bd_footer_post %}
<center>
    Django is a registered trademark of the <a class="green" href="//djangoproject.com" rel="nofollow">Django Software Foundation</a> <strong class="attention">&laquo;&raquo;</strong> 
    Python is a registered trademark of the <a class="green" href="//python.org" rel="nofollow">Python Software Foundation</a>
</center><br/>
{% endblock www_bd_footer_post %}




