<div id="punch_line">
    <h1 class="headline">The Better Way to Find Expert Django Developers</h1>
    <div class="span8 description pull-left">
        <span>{{SITE_NAME}} is a Social Hub for Python and Django Developers - a place to meet the experts.</span>

        <ul class="feature_list">
            <li><i class="icon-check green"></i> Signup for personal and/or business accounts.</li>
            <li><i class="icon-check green"></i> Easily search for experts locally or globally - List & Map Views.</li>
            <li><i class="icon-check green"></i> Social engagements. Follow and/or Like people or companies.</li>
            <li><i class="icon-check green"></i> Social authentication for secure login without a password.</li>
            <li><i class="icon-check green"></i> Link up your existing social profiles for maximum exposure.</li>
            <li><i class="icon-check green"></i> Getting an account is secure and 100% free. <a href="{% url 'signup_form_process' %}" class="green" title="Try It Out">Try it out</a>.</li>
        </ul>
  
    </div> 
    <div class="span4 pull-right signup_now">
        <div class="signup_main">
            <a href="{% url 'signup_form_process' %}">
                <div class="signup_msg">Try It Out</div>
                <div class="signup_divider"></div>
                Secure and Free
            </a>
        </div>
        <div class="signup_footnote">Secure and 100% free. Sign up in seconds.</div>
        <div class="status_header_div">
            <h2 class="status_header">Join the Crowd</h2>
            <a href="{% url 'signup_form_process' %}" class="info" title="Join the crowd. Signup now.">
                <img class="crowd_img" src="{{SITE_COMMON_DOWNLOADABLE_STATIC_URL}}images/icons/crowd_bg_black_290.png">
            </a>
        </div>
    </div>
</div>




