{% block www_hd_extra %}
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
{% endblock www_hd_extra %}

<div class="clear_both"></div>
<div class="full_line_message">
    <p>Find Expert Python & Django Developers Near You.</p>
</div>
    
<script type='text/javascript'>
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Country', 'Members'],
            {% for country in country_stats.items %}
                ['{{country.0}}', {{country.1}}]{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]);
        var options = {
            'chartArea': {left:20,top:0,width:"95%",height:"95%"},
            'is3D':true,
            'legend': {position: 'bottom', textStyle: {color: 'blue', fontSize: 16}},
            'sliceVisibilityThreshold': 1/100,
            'pieResidueSliceLabel': "Others", 
            'backgroundColor': '#f8f8f8',
        };
        var chart = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
        chart.draw(data, options);
      }
</script>

<div id="pie_chart_div" style="width: 980px; height: 540px;"></div>


