/* base.html */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#v-readux {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.home-nav {
    nav {
        background-color: transparent !important;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    min-height: 500px;
    background-color: rgba(29, 53, 87, 0.8);
    /* Adjust the opacity as needed */
}

.uk-alert {
    z-index: 99;
}

.content {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    display: flex;
    flex-flow: column;

    .space {
        flex-grow: 1;
    }

    .uk-section-default:empty {
        background-color: transparent;
    }
}

.content-page {
    // margin-top: 80px
}

.paragraph {
    color: #1D3557;
    line-height: normal;
}

.text-anchor {
    color: #E60000;
    text-decoration: underline;
    transition: ease 0.1s;

    &:hover {
        color: darken(#E60000, 10%);
        /* Darken the color when hovered */
    }

    &:active {
        color: #990000;
        /* Darken even further when clicked */
    }
}

.text-anchor-blue {
    color: #1D3557;
    font-weight: bold;
    transition: ease 0.1s;

    &:hover {
        color: darken(#1D3557, 10%);
        /* Darken the color when hovered */
        text-decoration: underline;
    }

    &:active {
        color: darken(#1D3557, 25%);
        /* Darken the color when hovered */
        text-decoration: underline;
    }
}

.hero {
    padding-top: 15vh;
    color: white;
}

.menu-item {
    color: white !important;
    text-decoration: none !important;
    transition: color 0.1s ease !important;
    text-transform: unset !important;
    font-weight: 500;

    &:hover {
        color: rgba(255, 255, 255, 0.8) !important; // Slightly dim
    }

    &:active {
        color: rgba(255, 255, 255, 0.6) !important; // A bit darker
    }
}

.brand-logo {
    transition: color 0.1s ease !important;

    &:hover {
        color: rgba(255, 255, 255, 0.8) !important; // Slightly dim
    }

    &:active {
        color: rgba(255, 255, 255, 0.6) !important; // A bit darker
    }
}

.brand-readux {
    color: white;
    text-decoration: underline;

    &:hover {
        color: rgba(255, 255, 255, 0.8) !important; // Slightly dim
    }

    &:active {
        color: rgba(255, 255, 255, 0.6) !important; // A bit darker
    }
}

.title {
    color: #1D3557;
    font-size: x-large;
    font-weight: bold;
}

/* util */
.slash-gap {
    margin: 0 0.5rem;
}

.color-black {
    color: black;
}

.color-blue {
    color: #1D3557;
}



/* Overrides */
.uk-slidenav {
    color: rgba(29, 53, 87, 0.6);
    /* Override the default colors with the blue */

    &:hover {
        color: rgba(29, 53, 87, 1);
        /* Override the default colors with the blue */
    }
}

.uk-input:focus,
.uk-select:focus,
.uk-textarea:focus {
    border-color: #1D3557;
}

.uk-button-default {
    transition: ease 0.1s;

    &:hover {
        border-color: darken(#1D3557, 10%);
    }

    &:active {
        border-color: darken(#1D3557, 25%);
    }
}

.uk-close {
    color: #1D3557;

    &:hover {
        border-color: darken(#1D3557, 10%);
    }

    &:active {
        border-color: darken(#1D3557, 25%);
    }
}

/* ui kit slider */

/* Add gap between items */
.uk-slider-items {
    gap: 4rem;
    /* Adjust the gap size as needed */
}

/* Make images square */
.square-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    /* Ensure the image covers the entire square without distorting */
}

/* breadcrumb */
.breadcrumb {
    list-style: none;
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.breadcrumb>li {
    margin-right: 5px;
}

.breadcrumb>li+li::before {
    content: "/";
    margin-right: 5px;
    color: #1D3557;
    /* Color of the separator */
}

.breadcrumb a {
    text-decoration: underline;
    color: rgba(29, 53, 87, 1.0);
    /* Link color */
    transition: color 0.1s ease;

    &:hover {
        color: rgba(29, 53, 87, 0.8);
        /* Hover state */
    }
}

.breadcrumb .icon-chevron-down {
    margin-left: 3px;
}

/* breadcrumb dropdown */
.uk-navbar-dropdown {
    background-color: #f8fdf4;
    /* Light greenish background color */
    border-radius: 4px;
    /* Rounded corners */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
    padding: 10px 0 !important;
    // margin-top: 10px !important; /* Force a gap between the trigger and dropdown */
    min-width: 0 !important;
}

.uk-navbar-dropdown-nav a,
.uk-navbar-dropdown-nav.sort-dropdown label {
    cursor: pointer;
    color: #1D3557 !important;
    /* Dark blue text color */
    font-weight: 600;
    /* Bold text */
    padding: 5px 15px !important;
    /* Add padding to the items */
    display: block;
    transition: background-color 0.1s ease;
}

.uk-navbar-dropdown-nav a:hover,
.uk-navbar-dropdown-nav.sort-dropdown label:hover {
    background-color: rgba(29, 53, 87, 0.1);
    /* Light blue hover effect */
}

.uk-navbar-dropdown-nav.sort-dropdown label input {
    display: none;
}

.pagination-nav span {
    padding: 5px 15px !important;
    display: block;
}

/* page */
.page-title {
    font-size: xx-large;
    font-weight: bold;
    color: #000000;
}

.page-text-lead {
    font-size: medium;
    color: #000000;
}

/* volume grid */
.info-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 600;
    /* Font weight for the information line */
    color: #1D3557;
    /* Color for the information line */
}

.info-line .info-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-line .pagination-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-line a,
.info-line select {
    color: #E60000;
    /* Clickable item color */
    text-decoration: underline;
    /* Underline for clickable items */
}

.pagination-controls .uk-icon-button {
    color: #1D3557;
    /* Arrow button color */
}

.pagination-controls .uk-icon-button[disabled] {
    color: #ccc;
    /* Greyed out for disabled state */
    cursor: not-allowed;
}

.volume-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Four items per row */
    gap: 2.5rem;
    /* Space between items */
}

.grid-item {
    text-align: left;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.75;
    /* Normal state opacity */
    transition: opacity 0.1s ease;
    display: block;
    color: black;
}

.grid-item img {
    width: 100%;
    height: auto;
    /* Maintain aspect ratio of images */
    display: block;
    margin-bottom: 10px;
    /* Space between image and title */
    border-radius: 4px;
}

.grid-item:hover {
    opacity: 1.0;
    /* Change opacity on hover */
    text-decoration: none;
    color: black;
}

.grid-item h2 {
    text-decoration: underline;
    /* Underline for title */
    color: #1D3557;
    font-weight: 600;
    font-size: medium;
    margin: 0;
}

.grid-item p {
    margin: 0;
}

/* list view table */
.list-view-table {
    margin-left: -0.5rem;
}

.list-view-table thead th {
    color: #1D3557;
    font-weight: bold;
}

.list-view-table tbody tr:hover {
    background-color: #F1FAEE !important;
}

.list-view-table tbody tr {
    color: rgba(0, 0, 0, 0.75);
    transition: color 0.3s ease;
}

.list-view-table tbody tr:hover {
    color: rgba(0, 0, 0, 1);
}

.list-item:hover {
    cursor: pointer;
}

.clickable-row:hover {
    cursor: pointer;
}

.list-view-table th,
.list-view-table td {
    padding: 0.5rem;
}

/* search bar */
.search-bar form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
}

.search-bar input {
    flex: 1;
    height: 50px;
    /* Adjust this value for desired height */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.2em;
    /* Adjust the font size if needed */
}

.search-bar button {
    height: 50px;
    /* Match the input height */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.2em;
    /* Adjust the font size if needed */
    background-color: #E60000;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: darken(#E60000, 10%);
    /* Darken the color when hovered */
}

.search-bar button:active {
    background-color: #990000;
    /* Darken even further when clicked */
}

/* featured text area */
.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* Number of lines to show */
    line-clamp: 5;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.section-offset {
    // position: relative;
    // top: 20vh;
    background-color: white;
    /* Ensures the background is visible */
    // padding: 20px 0;

    margin-top: 200px;
}

/* featured books */
.book-title {
    line-height: normal;
}

.book-title a {
    color: #1D3557;
    font-size: 1em;
    text-decoration: underline;
}

.featured-title {
    font-size: 2em;
    font-weight: bold;
}

/* video section */
.video-section {
    position: relative;
    text-align: center;
    color: white;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    cursor: pointer;
    z-index: 2;
}

.video-overlay h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

.video-overlay .play-icon {
    font-size: 48px;
    margin-bottom: 10px;
}

.video-overlay p {
    max-width: 600px;
    margin: 0 auto;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    background: black;
}

.video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.transparent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 50% transparent black */
    z-index: 1;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.uk-navbar-container {
    z-index: 10;
    position: absolute;
    width: 100%;
}

/* footer */
.footer {
    background-color: #457B9D;
    color: white;
    padding: 20px;
    // min-height: 20vh;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo svg {
    width: 50px;
    height: 50px;
}

.footer-bottom {
    text-align: left;
    margin-top: 10px;
    color: white;
}

/* highlight section */
.three-column-section {
    padding: 50px 0;
    text-align: center;
}

.column {
    background-color: #F1FAEE;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.blob {
    background-color: #FFFFFF;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.icon-placeholder {
    width: 40px;
    height: 40px;
    fill: #457B9D;
}

.column-text {
    margin-top: 4rem;
    color: #1D3557;
    font-size: 1.75rem;
    line-height: 2.5rem;
}

.section-title {
    color: #1D3557;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 4rem;
}

.brand-logo {
    font-size: large;
    color: white;
    font-weight: bold;
}

.brand-tagline {
    font-size: small;
    color: white;
}

.description-button {
    transition: ease 0.1s;

    &:hover {
        background-color: darken(#E60000, 10%);
    }

    &:active {
        background-color: darken(#E60000, 25%);
    }
}

.justify-content-normal {
    justify-content: normal !important;
}

.unset-min-height {
    min-height: unset !important;
}

button.google {
    background-color: #ea4335;
    color: white;
}


button.github {
    background-color: #24292e;
    color: white;
}

/* Make every .uk-section element inside .content have padding-bottom: 0 */
.content > .uk-section {
    padding-bottom: 0;
}