{# {% extends 'eultheme/snippets/collection_list_item.html' %} #}
{% load humanize %}

{% comment %}

{% block url %}{% url 'collection:view' coll.pid %}{% endblock %}
{% block title %}{{ coll.title }}{% endblock %}
{% block info %}
{% if count %}
  {{ count|intcomma }} volume{{ count|pluralize }}
{% endif %}
{% if coll.description %}
<p>{{ coll.description|join:' ' }}</p>
{% endif %}
{% endblock %}

{% endcomment %}

<li class="collection" {% if coll.thumbnail %}style="background-image:url({{coll.thumbnail}})"{% endif %}>
	<a href="{% url 'collection:view' coll.pid %}">
		<header>
			<h3 class="title">{{ coll.title }}</h3>
			<p class="number">
				{% if count %}
					<span class="badge">{{ count|intcomma }} item{{ count|pluralize }}</span>
				{% endif %}
			</p>
		</header>
		{% if coll.description %}
			<p class="desc">{{ coll.description|join:' ' }}</p>
		{% endif %}
	</a>
</li>