{% block html_o %}
  <!DOCTYPE html>
  
  <html {% block html_attributes %}{% endblock html_attributes %}>
  {% block html_i %}

    <!-- start of head -->
    {% block head_o %}

      <head>
      {% block head_i %}

        {% block head_meta_common %}
        {% endblock head_meta_common %}

        {% block head_viewport %}
        {% endblock head_viewport %}

        {% block head_title %}
        {% endblock head_title %}

        {% block head_description %}
        {% endblock head_description %}

        {% block head_author %}
        {% endblock head_author %}

        {% block head_favicon %}
        {% endblock head_favicon %}

        {% block head_mobile_icons %}
        {% endblock head_mobile_icons %}

        {% block vendor_fonts %}
        {% endblock vendor_fonts %}

        {% block head_css %}

          {% block head_css_bootstrap %}
          {% endblock head_css_bootstrap %}

          {% block head_css_fonts %}

              {% block head_css_font_awesome %}
              {% endblock head_css_font_awesome %}

              {% block head_css_font_alternative %}
              {% endblock head_css_font_alternative %}

          {% endblock head_css_fonts %}

          {% block head_css_material %}
          {% endblock head_css_material %}

          {% block head_css_extra %}
          {% endblock head_css_extra %}

          {% block head_css_custom %}
          {% endblock head_css_custom %}

        {% endblock head_css %}

      {% endblock head_i %}
      </head>

    {% endblock head_o %}
    <!-- end of head -->

    <!-- start of body -->
    {% block body_o %}

      <body {% block body_attributes %}{% endblock body_attributes %}>
      {% block body_i %}

          {% block navbar %}
          {% endblock navbar %}

          <div name="#top-of-content"></div>
          {% block content %}
            {% block content_head %}
            {% endblock content_head %}

            {% block content_body %}
            {% endblock content_body %}
          {% endblock content %}

          <div name="#top-of-footer"></div>
          {% block footer %}
          {% endblock footer %}

          {% block body_js %}

            {% block body_js_jquery %}
            {% endblock body_js_jquery %}

            {% block body_js_bootstrap %}
            {% endblock body_js_bootstrap %}

            {% block body_js_angular %}
            {% endblock body_js_angular %}

            {% block body_js_material %}
            {% endblock body_js_material %}

            {% block body_js_extra %}
            {% endblock body_js_extra %}

            {% block body_js_custom %}
            {% endblock body_js_custom %}

            {% block body_document_ready %}
            {% endblock body_document_ready %}

            {% block body_notifications %}
            {% endblock body_notifications %}

          {% endblock body_js %}

        {% endblock body_i %}
        </body>

    {% endblock body_o %}
    <!-- end of body -->

  {% endblock html_i %}
  </html>

{% endblock html_o %}
