{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags static i18n %}
{% block titletag %}{% trans "Dashboard" %}{% endblock %}
{% block bodyclass %}homepage{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.13.7/css/uikit.min.css" />
    <link href="{% static 'css/selectize.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.13.7/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.13.7/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="{% static 'wagtailadmin/css/layouts/home.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <header class="merged nice-padding">
        <div class="row row-flush">
            <div class="col1">
                <div class="avatar"><img src="{% avatar_url user %}" alt="" /></div>
            </div>
            <div class="col9">
                <h1>{% block branding_welcome %}{% blocktrans %}Welcome to the {{ site_name }} Wagtail CMS{% endblocktrans %}{% endblock %}&nbsp;&nbsp;<a href="/admin"><span class="uk-user" uk-icon="icon: cog" uk-tooltip="title: Django admin; pos: bottom"></span></a></h1>
                <h2>{{ user.get_full_name|default:user.get_username }}</h2>
            </div>
        </div>
    </header>

    {% if panels %}
        {% for panel in panels %}
            {{ panel.render }}
        {% endfor %}
    {% else %}
        <p>{% trans "This is your dashboard on which helpful information about content you've created will be displayed." %}</p>
    {% endif %}
{% endblock %}
