<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="{{LANGUAGE_CODE}}"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="{{LANGUAGE_CODE}}"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="{{LANGUAGE_CODE}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{{LANGUAGE_CODE}}"> <!--<![endif]-->

    {% block www_html %}
        <head>
            {% block www_hd %}

                {% block www_hd_meta %}
                    <meta http-equiv="content-type" content="text/html; charset=utf-8">
                    <meta name="author" content="{{SITE_ORG}}">
                    <meta name="Copyright" content="{{SITE_DOMAIN}}">
                    <meta name="viewport" content="width=1024">
                    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9">
                    <title>{{SITE_NAME|capfirst}} » {% block www_hd_title %}{{SITE_TITLE}}{% endblock www_hd_title %}</title>
                    <link rel="home" href="{{SITE_PROTOCOL}}://{{SITE_DOMAIN}}/">
                    <meta name="omni_page" content="{{SITE_NAME}} - Index/Tab">
                    <link rel="index" href="{{SITE_PROTOCOL}}://{{SITE_DOMAIN}}/sitemap.xml">
                    <link href='//fonts.googleapis.com/css?family=Chela+One|Sonsie+One|Lobster|Lemon|Goblin+One|Croissant+One' rel='stylesheet' type='text/css'>
                    {% block www_hd_desc %}
                        <meta name="description" content="{% block www_hd_desc_inner %}{{SITE_DESCRIPTION}}{% endblock www_hd_desc_inner %}">
                    {% endblock www_hd_desc %}
                    {% block www_hd_kw %}<meta name="keywords" content="{{SITE_KEYWORDS}}">{% endblock www_hd_kw %}
                    {% block www_hd_extra_meta %}{% include "base/gist/hd_meta.html" %}{% endblock www_hd_extra_meta %}
                {% endblock www_hd_meta %}

                {% block www_hd_css %}{% include "base/gist/hd_css.html" %}{% endblock www_hd_css %}
                {% block www_hd_ico %}{% include "base/gist/hd_ico.html" %}{% endblock www_hd_ico %}
                {% block www_hd_js %}{% include "base/gist/hd_js.html" %}{% endblock www_hd_js %}
                {% block www_hd_extra %}{% endblock www_hd_extra %}

            {% endblock www_hd %}
            <script type="text/javascript">if (top.location!= self.location) { top.location = self.location.href; }</script>
        </head>

        <body>
            
            {% block www_bd %}

                <div id="bd_header_box">
                    {% block www_bd_hdr %}
        
                        <div id="top_menu" class="pull-right">
                            {% block www_bd_hdr_menu %}{% endblock www_bd_hdr_menu %}
                        </div>

                    {% endblock www_bd_hdr %}
                </div>

                <div id="bd_container_box">
                    {% block www_container %}

                        <div id="container_title_box" class="row-fluid">
                            {% block www_container_title %}{% endblock www_container_title %}
                            {% block www_notifications %}{% endblock www_notifications %}
                        </div>

                        <div id="content_box" class="row-fluid">
                            {% block www_content %}{% endblock www_content %}
                        </div>

                        <div class="clearfix"></div>
                    {% endblock www_container %}
                </div>

                <div id="bd_footer_box_pre">
                    {% block www_bd_footer_pre %}{% endblock www_bd_footer_pre %}
                </div>

                <div id="bd_footer_box">
                    {% block www_bd_footer %}{% endblock www_bd_footer %}
                </div>

                <div id="bd_footer_box_post">
                    {% block www_bd_footer_post %}{% endblock www_bd_footer_post %}
                </div>

            {% endblock www_bd %}

            {% block www_bd_extra %}
                {% block www_bd_js %}{% include "base/gist/bd_js.html" %}{% endblock www_bd_js %}
                {% block www_bd_ga %}{% include "base/gist/bd_ga.html" %}{% endblock www_bd_ga %}
            {% endblock www_bd_extra %}
        </body>

    {% endblock www_html %}
</html>


