#zotero-modal .zotero-icon {
    height: 32px;
    width: 32px;
    color: transparent;  /* make text Z invisible */
    background-image: url('../img/zotero_32x32.png');
    vertical-align: top;
    margin: 0;
}

#zotero-modal #zotero-lookup {
    width: 90%;
    height: 32px;
}

#zotero-modal .in-progress {
    position: absolute;
    top: 16px;
    right: 20px;
}

/* override close button so it is actually click-able */
#zotero-modal .close {
    position: absolute;
    top: 5px;
    right: 5px;
}


/* Zotero launcher button on meltdown control panel */
.meltdown_control-zotero > span  {
    /* zotero red */
    /*color: #990000 !important;
    font-weight: bold;*/
    color: transparent !important;  /* make text Z invisible */
    background-image: url('../img/zotero_16x16.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -3px; /* bring closer in line to other controls */
}

.meltdown_control-zotero.zotero-disabled > span  {
    opacity: 0.6;
    background-color: #ddd;
}


