body{
    font-family: 'Lato', sans-serif;
}
.search-bar {
    padding:1em 0 0;
}

.progress {
    height: 10px;
}

.nav>li>a {
    padding: 7px;
    margin:0 2px 5px 0;
}

.btn-primary .text-muted {
    color: inherit;
    opacity: 0.6;
}

.btn-pdf {
    color: #B13030;
    border-color: #CCCCCC;
}
.btn-pdf .text-muted {
    color: #9B9393;
}

.btn-pdf:hover,
.btn-pdf:focus,
.btn-pdf:active{
    color: #CF5B5B;
    border-color: #E2DADA;
    background-color: #FFEDED;
}

.btn-success {
    color: #fff;
    background-color: #51AD72;
    border-color: #4cae4c
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #3F8360;
    border-color: #398439
}

.facets{
    padding:1em 0;
    margin-bottom:2em;
    border-bottom: 1px solid #EEE;
}
.facets .nav>li>a {
    background: rgb(236, 236, 236);
    transition: background-color 0.2s;
}

.facets .nav>li>a:hover,
.facets .nav>li>a:focus{
    background-color: #E4ECF1;
}
.facets.active-filters .nav>li>a:hover,
.facets.active-filters .nav>li>a:focus{
    color: #661919;

    background-color: #ECDFDF;
}

.facets .nav>li>a.pill-text {
    background: transparent;
    color: #555;
    cursor:default;
}

article.carousel.page {
    min-height: 50em;
    background-position: center;
    background-repeat: no-repeat;
}

.page-header h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0;
    color: #575757;
}
@media (min-width:768px){
    .page-header h1 {
        font-size: 3em;
    }
}

header#page-bg {
    margin: 0 0 15px;
    padding: 40px 0px 80px;
    position: relative;

    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-position:center;
    background-size:cover;

}

header#page-bg h1{
    margin-bottom:5px;
    color: #FFF;
}

header#page-bg .breadcrumb{
    background-color: transparent;
}

header#page-bg .breadcrumb>.active{
    color:#FFF;
}

@media(min-width:767px){
    header#page-bg .breadcrumb{
        text-align: left;
        opacity:0.7;
    }
}

header#page-bg p{
    width: 90%;
    margin: auto;
    font-size: 1.1em;
    color: #FFF;
    font-weight: 300;
    text-align:center;
}

@media(min-width:767px){
    header#page-bg p{
        width: 70%;
        font-size: 1.25em;
    }
}

@media(min-width:993px){
    header#page-bg p{
        width: 60%;
        font-size: 1.25em;
    }
}

header#page-bg:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 1;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header#page-bg .container{
    z-index:2;
    color:#FFF;
    position:relative;
}

#volume-list .media a.pull-left {
    border: 1px solid #CFCFCF;
    border-bottom-width: 2px;
    transition:border-color 0.2s ease;
}

#volume-list .media a.pull-left:hover,
#volume-list .media a.pull-left:focus{
    border-color: #7A95E9;
}

#volume-list .media a.pull-left img{
    width: 75px;
}

#volume-list .media .btn {
    margin-bottom: 5px;
}

.media>.pull-right {
    min-width: 50px;
}

.item-covers.volume-covers .cover a span {
    position: absolute;
    top: 40%;
    width: 90%;
    text-align: center;
    left: 5%;
    font-size: 1.1em;
    color: #2C2C2C;
    transition: color 0.2s ease;
}

.item-covers.volume-covers .cover a:focus span,
.item-covers.volume-covers .cover a:hover span {
    color: #285CAA;
}

.page-header .lead{
    text-align: center;
    color: #8A8A8A;
}

.page-header .page-breadcrumbs{
    margin-top:20px;
}

.page-header h1 a {
    text-decoration: none;
    color: #73ACDD;
    transition: color 0.2s;
}
.page-header h1 a:hover, .page-header h1 a:focus {
    color: #428BCA;
}
.page-header h1 a .small {
    color: inherit;
    opacity: 0.8;
}

.media-list.collection-list.cover-view {
    float:none;
    margin: auto;
}

/*div#collection-covers {*/
.item-covers  {
    margin: auto;
}

/*.collection-list.cover-view .collection{*/
.cover-view .cover {
    width: 200px;
    height:250px;

    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-size: cover;
    background-position: center;
    margin: 0px 20px 20px 0;
    position:relative;
    border-radius: 3px;
}



.cover-view .cover > a:hover,
.cover-view .cover > a:focus,
.cover-view a.cover:hover,
.cover-view a.cover:focus{
    background-color: rgba(208, 221, 238, 0.24);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
    border-color: #BDBDBD;
}

.thumbnail{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #E2E2E2;
}

/*.collection-list.cover-view .collection>a{*/
.cover-view .cover > a {
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 3px;
    transition: box-shadow 0.4s ease, background-color 0.4s ease;
    background-color: transparent;
    box-shadow: 1px 2px 6px rgba(95, 95, 95, 0) inset;
    border: 1px solid #D8D8D8;
}

.collection-list.cover-view .collection img{
    max-width: 100%;
}

.collection-list.cover-view .collection header{
    position: absolute;
    bottom: 2em;
    width: 100%;
}

.collection-list.cover-view .collection header .title{
    text-align: center;
    width: 80%;
    margin: auto;
    color: #FFF;
    font-weight: 300;
    font-size: 1.5em;
    transition:color 0.2s
}

.collection-list.cover-view .collection header .number{
    text-align: center;
    margin-bottom:0px;
    min-height: 1em;
}

.collection-list.cover-view .collection header .badge{
    margin: auto;
    font-weight: normal;
    margin-top: 10px;
    width: auto;
    padding: 7px;
    background-color: #52C45B;
    color: #FAFCFF;
    border-radius: 14px;
    transition:background-color 0.2s;
}

.collection-list.cover-view .collection .desc{
    display: none;
}

.cover-view .cover > a:focus,
.cover-view .cover > a:hover{
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.36) inset;
}

.collection-list.cover-view .collection>a:focus header .title,
.collection-list.cover-view .collection>a:hover header .title{
    color: #C0D5F5;
}

.collection-list.cover-view .collection>a:focus header .badge,
.collection-list.cover-view .collection>a:hover header .badge{
    background-color: #318F6D;
}

.collection-list .media {
    max-width: none;
}

header.page-header#collection-header+.container {
    margin-top: -10px;
    margin-bottom: 10px;
}

.related.panel.panel-default {
    margin: 15px 0;
    padding: 0;
}
.related.panel.panel-default>.panel-heading {
    padding: 5px 15px;
}

.related.panel.panel-default .panel-body {
    padding: 5px 11px;
}

.logo-container+div.container .nav>li>a.site-title {
        background: #E6E6E6;
        color: #3C3C3C;
        margin-top: -10px;
        display: none;
}
@media(min-width:767px){
    .logo-container+div.container .nav>li>a.site-title {
        background: white;
        opacity: 1;
        margin-bottom: -30px;
        border: 1px solid #CFCFCF;
        border-top: none;
        position: relative;
        font-size: 1.1em;
        padding: 1em 5px;
        box-shadow: -1px 1px 5px rgba(75, 75, 75, 0.36);
        margin-top: -4px;
        display: block;
    }
    .logo-container+div.container .nav>li>a.site-title:hover,
    .logo-container+div.container .nav>li>a.site-title:focus{
        background-color: #E7F9FF;

        color: #2E4BA8;
    }
}

.logo img {
    width: 40px;
    margin-left: 17%;
}
div.logo {
    position: relative;
    width: 100px;
    margin: auto;
}
span.site-title {
    margin-left: 5px;
}

h1.site-title {
    margin: 8px;
}
.site-title img {
    height: 35px;
    float: left;
    display: block;
}

.site-title>a>img+span {
    padding-top: 11px;
    position: relative;
    display: block;
    float: left;
}

h1.site-title a{
    opacity:0.8;
    transition:opacity 0.2s;
    position: relative;
    float: left;
}

h1.site-title a:hover,
h1.site-title a:focus{
    opacity:1;
}


.logo-container+div.container {
    background: rgb(33,33,33); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(33,33,33,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(33,33,33,1)), color-stop(100%,rgba(69,72,77,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(33,33,33,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(33,33,33,1) 0%,rgba(69,72,77,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(33,33,33,1) 0%,rgba(69,72,77,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(33,33,33,1) 0%,rgba(69,72,77,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#45484d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.navbar.navbar-fixed-top.navbar-inverse {
    border-color: rgba(255, 255, 255, 0.02);
}

@media(min-width:767px){
    div.logo {
        width:60px;
    }
    .logo-container {
        padding-right: 0em;
    }
}
.logo-container .logo {
    padding-right: 9em;
}

.in-page-controls{
    position: relative;
    z-index: 300;
}

.page-header .btn[type='submit'] {
    background: #CCCCCC;
    color: #FFF;
}

.page-header .btn[type='submit']:focus,
.page-header .btn[type='submit']:hover {
    background: #BECBDD;
    color: #F7F7F7;
}

.pagination.pagination-dropdown{
    margin-top: -10px;
    margin-bottom: 30px;
    width: 100%;
}

.volume-list .pagination-dropdown .h4 {
    margin-top: -20px;
}

@media (max-width:500px){
    .volume-list .pagination-dropdown .h4{
        margin-top: -11px;
        font-size: 12px;
    }
}


#view-toggle.padding{
    margin-top: 0px;
    margin-right: 30px;
}

#view-toggle .btn {
    border: 1px solid #DDD;
    background-color: #FFF;

}
#view-toggle .btn.active {
    background-color: #6CACE7;
    color: #FFF;
}
#deepzoom-controls {
    margin: auto;
    display: block;
    float: left;
    padding: 7px 10px;
    left: 10%;
}

#deepzoom-controls .btn-group {
    background: #AFAFAF;
    border-radius:3px;
    float: right;
    right: 14%;
}

#deepzoom-controls .btn-group:before{
    content:'';
    width: 0;
    height: 0;
    position:absolute;
    top: -7px;
    left:45%;
    border-style: solid;
    border-width: 0 10px 7px 10px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #B6B5B5 rgba(0, 0, 0, 0);
}

#deepzoom-controls .btn {
    background: transparent;
    border-color: #C4C4C4;
    color: #FFFFFF;
    transition:background-color 0.2s ease;
}

#deepzoom-controls .btn:focus,
#deepzoom-controls .btn:hover{
    background-color: #8B8B8B;
}

#deepzoom-controls.visible{
    margin-bottom: -50px;
    width: 100%;
}

p.page-number {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.85);
    padding: 5px;
    margin-top:-1px;
    color: #959CA7;
    border-top-right-radius: 3px;
    border-left: 1px solid #B1B1B1;
    border-bottom-left-radius: 3px;
    border-bottom: 1px solid #B1B1B1;
}

.collection-list .media-info p{
    font-size: 1.2em;
}

.collection-list div.media-body-link-to {
    padding: 10px 30px;
    background-position: center;
    background-size: 120%;
    background-color:#9AA7AD;
    background-size: cover;
}

.collection-list a:hover .media-body-link-to, .collection-list a:focus .media-body-link-to {
    background-color: #71838B;
}

.collection-list div.media-body-link-to .glyphicon{
    display:none;
}

.media-list .media>a:hover,
.media-list .media>a:focus{
    color: #186FB4;
    border-color: #CAD6FF;
}

.volume-list h2.section-heading {
    color: #5A5A5A;
    border-bottom: 1px solid #F0F0F0;
}

article img {
    max-width: 100%;
}

.carousel-control {
    color: #000; text-shadow: 0px 0px 10px #EBEBEB;
    transition: color 0.2s;
    position: fixed;
}

.carousel-control:hover, .carousel-control:focus {
    opacity: 0.6;
    color: #005CFF;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    position: fixed;
}
span.glyphicon.glyphicon-chevron-right {
    right: 2%;
}

span.glyphicon.glyphicon-chevron-left {
    left: 2.5%;
}

.carousel-control.left{
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.37) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.37)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.37) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.37) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.37) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.37) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.carousel-control.left:hover{
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.21) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.21)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.carousel-control.right{
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.37) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.37))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.37) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.37) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.37) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.37) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#5e000000',GradientType=1 ); /* IE6-9 */
}

.carousel-control.right:hover{
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.21))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#36000000',GradientType=1 ); /* IE6-9 */
}

header.page-header {
    position: relative;
    z-index: 10;
}

header#page-bg .collection-image-info {
    float: right;
    display: block;
    background: rgba(0, 0, 0, 0.62);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em 1.5em 5px 3.5em;
    font-size: 12px;
    color: #A2A2A2;
    z-index: 100;
    -webkit-transition: bottom 0.6s ease, right 0.6s ease, background-color 0.6s ease, opacity 0.6s ease;
    -moz-transition: bottom 0.6s ease, right 0.6s ease, background-color 0.6s ease, opacity 0.6s ease;
    transition: bottom 0.6s ease, right 0.6s ease, background-color 0.6s ease, opacity 0.6s ease;
    max-width: 300px;
    min-height: 40px;
    cursor: pointer;
}

header#page-bg .collection-image-info:before {
    content: 'i';
    position: absolute;
    border: 1px solid;
    width: 20px;
    text-align: center;
    top: 0;
    left: 0;
    margin: 10px 10px;
    height: 20px;
    font-family: serif;
}

header#page-bg .collection-image-info h3 {
    margin: 0;
    font-size: 1.5em;
}
header#page-bg .collection-image-info p {
    width: 100%;
    color: #A2A2A2;
    text-align: left;
}

header#page-bg .collection-image-info p.credit {
    font-size: 0.9em;
}

header#page-bg .collection-image-info.collasped{
    padding: 1.5em 1.75em;
    background-color: rgba(22, 22, 22, 0.33);
    opacity: 0.8;
}

header#page-bg .collection-image-info.collasped:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.62);
}

header#page-bg .collection-image-info.collasped h3,
header#page-bg .collection-image-info.collasped .info{
    display: none;
}

.page-header .expand {
    position: relative;
    display: inline-block;
    color: #84BAEC;
}

.page-header .expand:hover{
    color: #5CA0DF;
}

.page-header .expand:before {
    content: '...';
}
.page-header .continued {
    display: none;
    color: #969696;
    font-size: 0.8em;
    line-height: 0;
}

.page-header .expand,
.page-header .continued{
    cursor: pointer;
}

.page-header h1 a {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  font-size: 70%;
}


@media(max-width:500px){
    .book .media>.pull-left,
    .book .media>.media-body{
        width: 100%;
    }

    .book .media>.pull-left a{
        text-align:center;
        width:100%;
        display: block;
    }
    .book .media>.pull-left a img{
        text-align: center;
        display: inline;
    }
}


/* class to hide page image without losing its size for page layout	 */
.not-visible {
    opacity: 0;
}

#zoom-page {
   position: absolute;
   margin: 0;
   padding: 0;
   text-align:center;
   z-index: -1;
   width: 80%;
   left: 10%;
   height: 1000px;
  color: black;
}

#deepzoom-controls.fullpage{
    z-index:100;
}

#deepzoom-controls.fullpage .btn-group:before{
    display:none;
}

.fullpage+#zoom-page{
    left:0;
}

.btn-primary .text-muted {
    color: white;
    opacity: 0.5;
}

/* styles page image with ocr text overlaid */
.page {
    /*position: absolute;*/
    /*z-index: 2;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    left: 0;
    right: 0;
 }
.page .content {
    position: relative;
    margin: auto;
    display: inline-block;
 }
.ocr-line {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    line-height: 1;
    z-index: 5;
    white-space: nowrap;
    cursor: text;

    /* make text transparent */
    color: #000;    /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.0);
}
.ocr-zone {
    position: absolute;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}
/* highlighted text style, for browsers that support it (Webkit, Mozilla) */

::selection {
    background: black;
    color: white;
}
::-moz-selection {
    background: black;
    color: white;
}
/* make image not selectable to avoid interference when highlighting ocr text */
.page .content img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
 }
