{% extends "base.html" %}
{% block content %}       
<h1 class='uk-heading-medium'>About</h1>
       <p><span style="font-weight: 400;">Readux, an open source software platform developed at Emory University, offers a web-based space to engage with digitized print materials.</span></p>
  <p><span style="font-weight: 400;">The software provides a user-friendly way to publish critical editions as a stand-alone website and to develop interactive classroom projects. Think of it as a digital reading room where you can browse, search, and take notes in rare materials, then click a button to create a website with your personalized edition for personal and professional scholarly use.</span></p>
  <p><span style="font-weight: 400;">Please </span><a href="mailto:ecds@emory.edu"><span style="font-weight: 400;">contact</span></a><span style="font-weight: 400;"> the </span><a href="http://digitalscholarship.emory.edu/"><span style="font-weight: 400;">Emory Center for Digital Scholarship</span></a><span style="font-weight: 400;"> (ECDS) to learn more.</span></p>
  <h2><span style="font-weight: 400;">Collections</span></h2>
  <p><span style="font-weight: 400;">The Emory University installation of Readux provides multiple layers of access to digitized versions of materials drawn from collections housed in its archives, including: </span></p>
  <ul>
  <li style="font-weight: 400;"><span style="font-weight: 400;">African American literature and travel guides from the 19th century</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Atlanta city guides</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Early Northern European emblem books</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Georgia government documents</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">More than 1,200 yellowback novels</span></li>
  </ul>
  <p><span style="font-weight: 400;">All volumes in the collection are accessible as PDFs.</span></p>
  <p><span style="font-weight: 400;">Many volumes in the collection can be read via a page-turner reader, identified by a green &ldquo;Read Online&rdquo; button that indicates a book that can also be annotated and published as a website. </span></p>
  <p><span style="font-weight: 400;">The Emory Libraries digitization team is happy to consider requests for materials to be added to the Readux collections. Scholars whose requests are approved should allow at least one month for processing.</span></p>
  <h2><span style="font-weight: 400;">User Guide</span></h2>
  <p><span style="font-weight: 400;">The Emory University collection in Readux is designed for ready use through an array of platforms. Log in using your existing account with one of these channels:</span></p>
  <ul>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Emory credentials</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Facebook</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">GitHub</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Google</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Twitter</span></li>
  </ul>
  <h3><span style="font-weight: 400;">Read</span></h3>
  <ul>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Download or read in a browser as PDF documents</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Harvest </span><a href="https://www.zotero.org/"><span style="font-weight: 400;">Zotero</span></a><span style="font-weight: 400;"> citations </span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Send text to </span><a href="http://voyant-tools.org/"><span style="font-weight: 400;">Voyant</span></a><span style="font-weight: 400;"> for web-based text analysis</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Access a page-turner reader with deep-zoom capacity (for &ldquo;Read Online&rdquo; volumes)</span></li>
  </ul>
  <h3><span style="font-weight: 400;">Annotate</span></h3>
  <ul>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Embed images, audio, and video in your annotations</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Add citations from your Zotero account</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Use tags to organize your notes</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Link to related pages within a volume</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Share annotations with a group (groups require set up by Readux administrators)</span></li>
  </ul>
  <h3><span style="font-weight: 400;">Publish</span></h3>
  <ul>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Export annotated volume to standalone website built with </span><a href="https://jekyllrb.com/"><span style="font-weight: 400;">Jekyll</span></a></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Host website for free on </span><a href="https://pages.github.com/"><span style="font-weight: 400;">GitHub Pages</span></a></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Customize website easily </span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Store volume data in a </span><a href="http://www.tei-c.org/index.xml"><span style="font-weight: 400;">TEI</span></a><span style="font-weight: 400;"> file</span></li>
  </ul>
  <h2><span style="font-weight: 400;">Partners</span></h2>
  <p><span style="font-weight: 400;">Emory University is pleased to partner with other institutions that are interested in using Readux for their own digital repositories.</span></p>
  <p><span style="font-weight: 400;">Current partnerships include:</span></p>
  <ul>
  <li style="font-weight: 400;"><span style="font-weight: 400;">The UNC Press, in collaboration with ECDS, is publishing digital critical editions of several hymnals in the ongoing </span><a href="http://digitalscholarship.emory.edu/projects/featured/sounding-spirit.html"><span style="font-weight: 400;">Sounding Spirit project.</span></a></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Wayne State University, with the assistance of a Folger Shakespeare Library grant, uses its </span><a href="https://digital.library.wayne.edu/readux/"><span style="font-weight: 400;">instance of Readux</span></a><span style="font-weight: 400;"> to provide access to collections of Shakespeare folios, historical newspapers, and children&rsquo;s books.</span></li>
  </ul>
  <p><span style="font-weight: 400;">If you have questions about using Readux or are interested in becoming a partner institution, please </span><a href="mailto:ecds@emory.edu"><span style="font-weight: 400;">contact</span></a><span style="font-weight: 400;"> the </span><a href="http://digitalscholarship.emory.edu/"><span style="font-weight: 400;">Emory Center for Digital Scholarship</span></a><span style="font-weight: 400;"> (ECDS).</span></p>
  <div class="image">
      <img src="/media/medialibrary/2017/08/Untitled-2.jpg" class="img-responsive" alt="" data-toggle="modal" data-target="#lightbox-image-1" />
      <h3 class="caption"></h3>
      
      
  </div>
{% endblock content %}