@import "alabaster.css";

img.logo {
    float: left;
}

.lits {
    margin-top: 3em;
    border-top: 1px solid #efefef;
    width: 85%;
    color: #000;
    opacity: 0.6;
    max-width: 200px;
    padding-bottom: 24px;
}

.lits a {
    text-decoration: none;
    border-bottom: none !important;
}


.ecds-logo {
    margin-top: 15px;
    text-align: center;

}


.ecds-logo img {
    width: 55%;
    float: right;
}

.ecds-logo:after {
    content: ' ';
    clear: both;
}